{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% block title %}{{'实名认证'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'profile' %}
{% set script_controller = 'customwebbundle/controller/settings/approval' %}

{% block main %}

{% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}

    	{% block heading %}  {{'实名认证'|trans}}
    	{% endblock %}

    	{% block body %}

    	{% if app.user.approvalStatus in ['approved', 'unapprove', 'approve_fail'] %}
	    	<form id="approval-form" class="form-horizontal" method="post" enctype="multipart/form-data">

	        	{{ web_macro.flash_messages() }}


					<div class="form-group">

				      <div class="col-md-2 control-label">
				      <label>{{'照片要求'|trans}}</label>
				      </div>
				      <div class="controls col-md-8 controls">
				        {{'<p class="text-warning">证件照必须上传身份证正反面、驾驶证、从业资格证，需要清晰彩色原件电子版，可以是扫描或者数码相机拍摄照片。<br />图片格式支持jpg、gif、png，每张图片文件大小不能超过2M。</p>'|trans|raw}}
				      </div>
				    </div>

					<div class="form-group">
				      <div class="col-md-2 control-label">
				      <label for="faceImg">{{'身份证正面照'|trans}}*</label>
				      </div>
				      <div class="controls col-md-4 controls">
                          <div id="faceImg-container"></div>
                          <a id="faceImg" data-upload-token="{{ upload_token('tmp', 'image') }}" data-goto-url="{{ path('setting_approval_upload') }}">请选择图片</a>
                              <input type="hidden" id="faceImg" name="faceImg" value="">
				      </div>
				      <div class="col-md-2 control-label">
				      <label for="backImg">{{'手持身份证照'|trans}}*</label>
				      </div>
				      <div class="controls col-md-4 controls">
                          <div id="backImg-container"></div>
                          <a id="backImg" data-upload-token="{{ upload_token('tmp', 'image') }}" data-goto-url="{{ path('setting_approval_upload') }}">请选择图片</a>
                          <input type="hidden" id="backImg" name="backImg" value="">
				      </div>
				    </div>

                    <div class="form-group">
				      <div class="col-md-2 control-label">
				      <label for="jobsSeniorityCardImg">{{'从业资格证照'|trans}}</label>
				      </div>
				      <div class="controls col-md-4 controls">
                          <div id="jobsSeniorityCardImg-container"></div>
                          <a id="jobsSeniorityCardImg" data-upload-token="{{ upload_token('tmp', 'image') }}" data-goto-url="{{ path('setting_approval_upload') }}">请选择图片</a>
                          <input type="hidden" id="jobsSeniorityCardImg" name="jobsSeniorityCardImg" value="">
				      </div>
				      <div class="col-md-2 control-label">
				      <label for="driverLicenseImg">{{'驾驶证照'|trans}}</label>
				      </div>
				      <div class="controls col-md-4 controls">
                          <div id="driverLicenseImg-container"></div>
                          <a id="driverLicenseImg" data-upload-token="{{ upload_token('tmp', 'image') }}" data-goto-url="{{ path('setting_approval_upload') }}">请选择图片</a>
                          <input type="hidden" id="driverLicenseImg" name="driverLicenseImg" value="">
				      </div>
				    </div>

                    <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="otherImg">{{'其他'|trans}}</label>
                    </div>
                    <div class="controls col-md-8 controls">
                        <div id="otherImg-container"></div>
                        <a id="otherImg" data-upload-token="{{ upload_token('tmp', 'image') }}" data-goto-url="{{ path('setting_approval_upload') }}">请选择图片</a>
                        <input type="hidden" id="otherImg" name="otherImg" value="">
                    </div>
                    </div>

	        <div class="row">
	            <div class="col-md-7 col-md-offset-2">
	             <button type="submit" class="btn btn-primary">{{'提交'|trans}}</button>
		    	 <a class="btn btn-link" href="{{ path('settings') }}">{{'返回'|trans}}</a>
	            </div>
	        </div>

	           <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	        </form>
		{% elseif app.user.approvalStatus == 'approving' %}
			<div class="row">
				<div class="alert alert-danger " role="alert">
		        <i class="glyphicon glyphicon-info-sign"></i>您的认证正在审核中。</div>
			</div>
        {% endif %}
        {% endblock %}


{% endembed %}

{% endblock %}