{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}  
{% block title %}{{'基础信息'|trans}} - {{ parent() }}{% endblock %}

{% set script_controller = 'settings/profile' %}
{% set side_nav = 'profile' %}
{% set side_nav = 'avatar' %}
{% set script_controller = 'settings/avatar' %}

{% block main %}

  {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}{{'个人设置'|trans}}{% endblock %}
    {% block body %}

    {# {% if fromCourse %}
      <div class="alert alert-info">{{'设置头衔、自我介绍并保存后，即可开始创建课程。'|trans}}</div>
      {% endif %}
    #}
      <form id="user-profile-form" class="form-horizontal" method="post">
        {{ web_macro.flash_messages() }}
        <div class="zh-user">
          <div class="form-group ">
            <div class="mbs">{{'当前头像'|trans}}</div>
            <div class="controls">
              <img src="{{ filepath(user.largeAvatar, 'avatar.png') }}">
            </div>
          </div>

          <div class="form-group ">
            <div class="controls">
              {{'<p class="help-block text-sm mbs">你可以上传JPG、GIF或PNG格式的文件，<br>文件大小不能超过<strong>2M</strong>。</p>'|trans|raw}}
            </div>
          </div>

          <div class="form-group ">
            <div class="control-label"></div>
            <div class="controls">
              <a id="upload-picture-btn"
              class="btn btn-primary btn-sm"
              data-upload-token="{{ upload_token('tmp', 'image') }}"
              data-goto-url="{{path('settings_avatar_crop')}}"
              >{{'上传新头像'|trans}}</a>
            </div>
          </div>

          {% if partnerAvatar %}
            <div class="form-group">
              <div class="col-md-2 control-label"><b>{{'论坛头像'|trans}}</b></div>
              <div class="controls col-md-8 controls">
                <img src="{{ partnerAvatar }}" class="mrm">
                <button class="btn btn-default use-partner-avatar" type="button" data-url="{{ path('settings_avatar_fetch_partner') }}" data-goto="{{ path('settings_avatar') }}" data-img-url="{{ partnerAvatar }}" >{{'使用该头像'|trans}}</button>
              </div>
            </div>
          {% endif %}
         </div>
        <div class="form-group mbl">
            <span class="zh-control-label control-label" >{{'用户名'|trans}}</span>
            <span class="controls pll">
              {{app.user.nickname}} {% if setting('user_partner.nickname_enabled') %} <a href="{{ path('setting_nickname') }}">{{'修改'|trans}}</a> {% endif %}
            </span>
        </div>

        <div class="form-group mbl">
            <span class="zh-control-label control-label" >{{'姓名'|trans}}</span>
            <span class="controls pll">
              {{profile.truename}}
            </span>
        </div>

        <div class="form-group mbl">
          <span class="zh-control-label control-label" >{{'性别'|trans}}</span>
            <span class="controls pll">{{gender}}</span>
        </div>
      
        <div class="form-group mbl help-block approval  zh-control-label">
              {% if app.user.approvalStatus == 'approving' %}
                <p class="text-primary" >
                  {{'正在实名认证中，管理员会尽快答复您。'|trans}}
                </p>
              {% elseif  app.user.approvalStatus == 'approved' %}
                <p class="text-success" >
                  {{'恭喜您，已通过实名认证！'|trans}}
                </p>
              {% elseif  app.user.approvalStatus == 'unapprove' %}
                <p class="text-warning" >
                  {{'您尚未实名认证，'|trans}}<strong><a href="{{ path('setting_approval_submit') }}">{{'点此认证'|trans}}</a>{{'。'|trans}}
                  </strong>
                  {% if is_plugin_installed('TeacherAudit') %}{{'若您想成为教师，请去'|trans}}<strong><a href="{{ path('teacher_audit_submit') }}">{{'教师资格申请'|trans}}</a>。
                  </strong>{% endif %}
                </p>
              {% elseif app.user.approvalStatus == 'approve_fail' %}
                 <p class="text-danger" >
                  {{'实名认证审核尚未通过，请参照通知中的信息，修改后重新'|trans}}<strong><a href="{{ path('setting_approval_submit') }}">{{'认证。'|trans}}</a>
                  </strong>
                 </p>
              {% endif %}
        </div>    

        <div class="form-group mbl">
          <span class="zh-control-label control-label" >{{'身份证号'|trans}}</span>
          <span class="controls pll">{{profile.idcard}}</span>
        </div>

        <div class="form-group mbl">
          <span class="zh-control-label control-label" >{{'手机号'|trans}}</span>
          <span class="controls pll">{{user.verifiedMobile}}</span>
        </div>
         {# <div class="form-group form-iam-group">
            <label class="col-md-2 control-label">我是</label>
            <div class="col-md-7 controls radios">
              <div id="profile_iam">
                <input type="radio" id="profile_iam_0" name="profile[iam]" required="required" value="student" {% if profile.iam == 'student' %}checked="checked"{% endif %}>
                <label for="profile_iam_0" class="required">在校生</label>
                <input type="radio" id="profile_iam_1" name="profile[iam]" required="required" value="notStudent" {% if profile.iam == 'notStudent' %}checked="checked"{% endif %}>
                <label for="profile_iam_1" class="required">非在校生</label></div>
              </div>
          </div>  #}
 
        {#  <div class="form-group">
            <label class="col-md-2 control-label" for="profile_truename">{{'姓名'|trans}}</label>
            {% if profile.truename and (app.user.approvalStatus == 'approved' or app.user.approvalStatus == 'approving') %}
              <div class="control-text">{{ profile.truename }}</div>
            {% else %}
              <div class="col-md-7 controls radios">
                <input type="text" id="profile_truename" name="profile[truename]" class="form-control" data-widget-cid="widget-1" data-explain="" value="{{ profile.truename|default('') }}">
                <div class="help-block" style="display:none;"></div>
              </div>
            {% endif %}
          </div>

          <div class="help-block approval">
            <label class="col-md-2 control-label" ></label>
              {% if app.user.approvalStatus == 'approving' %}
                <p class="text-primary" >
                  {{'正在实名认证中，管理员会尽快答复您。'|trans}}
                </p>
              {% elseif  app.user.approvalStatus == 'approved' %}
                <p class="text-success" >
                  {{'恭喜您，已通过实名认证！'|trans}}
                </p>
              {% elseif  app.user.approvalStatus == 'unapprove' %}
                <p class="text-warning" >
                  {{'您尚未实名认证，'|trans}}<strong><a href="{{ path('setting_approval_submit') }}">{{'点此认证'|trans}}</a>{{'。'|trans}}
                  </strong>
                  {% if is_plugin_installed('TeacherAudit') %}{{'若您想成为教师，请去'|trans}}<strong><a href="{{ path('teacher_audit_submit') }}">{{'教师资格申请'|trans}}</a>。
                  </strong>{% endif %}
                </p>
              {% elseif app.user.approvalStatus == 'approve_fail' %}
                 <p class="text-danger" >
                  {{'实名认证审核尚未通过，请参照通知中的信息，修改后重新'|trans}}<strong><a href="{{ path('setting_approval_submit') }}">{{'认证。'|trans}}</a>
                  </strong>
                 </p>
              {% endif %}
          </div>    

          <div class="form-group">
            <label class="col-md-2 control-label">{{'性别'|trans}}</label>
            <div class="col-md-7 controls radios">
              <div id="profile_gender">
                <input type="radio" id="profile_gender_0" name="profile[gender]" required="required" value="male" {% if profile.gender == 'male' %}checked="checked"{% endif %}>
                <label for="profile_gender_0" class="required">{{'男'|trans}}</label>
                <input type="radio" id="profile_gender_1" name="profile[gender]" required="required" value="female" {% if profile.gender == 'female' %}checked="checked"{% endif %}>
                <label for="profile_gender_1" class="required">{{'女'|trans}}</label>
              </div>
            </div>
          </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="profile_idcard">{{'身份证号'|trans}}</label>
            {% if profile.idcard and (app.user.approvalStatus == 'approved' or app.user.approvalStatus == 'approving') %}
              <div class="col-md-7 controls">
                <div class="control-text">{{ blur_idcard_number(profile.idcard) }}</div>
              </div>
            {% else %}
              <div class="col-md-7 controls radios">
                <input type="text" id="profile_idcard" name="profile[idcard]" class="form-control" value="{{ profile.idcard|default('') }}">
                <div class="help-block" style="display:none;"></div>
              </div>
            {% endif %}
          </div>

          {% if (user.verifiedMobile|length) > 0 %}
            <div class="form-group">
              <label for="profile_mobile" class="col-md-2 control-label">{{'手机号码'|trans}}</label>
              <div class="col-md-7 controls">
                <div class="control-text">
                  {{ blur_phone_number(user.verifiedMobile|default('')) }}
                  <small class="text-success">({{'已绑定'|trans}})</small>
                </div>
              </div>
            </div>
          {% else %}
            <div class="form-group">
              <label for="profile_mobile" class="col-md-2 control-label">{{'手机号码'|trans}}</label>
              <div class="col-md-7 controls">
                <input type="text" id="profile_mobile" name="profile[mobile]" class="form-control" data-widget-cid="widget-5" data-explain="" value="{{ profile.mobile|default('') }}">

                <div class="help-block" style="display:none"></div>
              </div>
            </div>
            {% if setting('cloud_sms.sms_enabled', '') == '1' %}
              <div class="help-block">
                <label class="col-md-2 control-label"></label>
                <p class="text-warning">
                {{'还没绑定手机号，'|trans}}<strong><a href="{{path('settings_bind_mobile')}}">{{'前去绑定'|trans}}</a>{{'。'|trans}}
                </strong>
                </p>
              </div>
            {% endif %}
          {% endif %}   #}

          {# <div class="form-group form-forIam-group form-student-group">
            <label class="col-md-2 control-label">学校</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_school" name="profile[school]" class="form-control" value="{{ profile.school|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group form-forIam-group form-student-group">
            <label class="col-md-2 control-label">班级</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_class" name="profile[class]" class="form-control" value="{{ profile.class|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>  #}

        {#  <div class="form-group form-forIam-group form-notStudent-group">
            <label class="col-md-2 control-label">{{'公司'|trans}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_company" name="profile[company]" class="form-control" value="{{ profile.company|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group form-forIam-group form-notStudent-group">
            <label class="col-md-2 control-label">{{'职业'|trans}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_job" name="profile[job]" class="form-control" value="{{ profile.job|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">{{'头衔'|trans}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_title" name="profile[title]" class="form-control" value="{{ profile.title|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">{{'个人签名'|trans}}</label>
            <div class="col-md-7 controls">
              <textarea type="text" rows="4" maxlength="80" id="profile_signature" name="profile[signature]" class="form-control">{{ profile.signature|default('') }}</textarea>
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">{{'自我介绍'|trans}}</label>
            <div class="col-md-7 controls">
              <textarea name="profile[about]" rows="10" id="profile_about" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ profile.about|default('') }}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">{{'个人主页'|trans}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_site" name="profile[site]" class="form-control" data-widget-cid="widget-4" data-explain="" value="{{ profile.site|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label">
              <label for="weibo">{{'微博'|trans}}</label>
            </div>
            <div class="col-md-7 controls">
              <input type="text" id="weibo" name="profile[weibo]" class="form-control" data-widget-cid="widget-3" data-explain="" value="{{ profile.weibo|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">{{'微信'|trans}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_weixin" name="profile[weixin]" class="form-control" value="{{ profile.weixin|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <label for="profile_qq" class="col-md-2 control-label">QQ</label>
            <div class="col-md-7 controls">
              <input type="text" id="profile_qq" name="profile[qq]" class="form-control" data-widget-cid="widget-2" data-explain="" value="{{ profile.qq|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>   
        #}
        <div class="row safety-setting">
        <div class="col-sm-1 col-xs-2 tar">
          <span class="esicon esicon-safety {% if progressScore > 90 %}text-success{% elseif progressScore > 60 %}text-warning{% else %}text-danger{% endif %}" style="font-size:20px"></span>
        </div>
        <div class="col-sm-7 col-xs-5">
        <div class="progress" style="margin-top:5px;">
          <div class="progress-bar" role="progressbar" style="width: {{ progressScore }}%;"></div>
        </div>
        </div>
      <div class="col-sm-4 col-xs-5">
        {% if progressScore > 80 %}
          <span class="text-success" style="display:block;margin-top:5px;">{{'安全等级：高'|trans}}</span>
        {% elseif progressScore > 30 %}
        <span class="text-warning" style="display:block;margin-top:5px;">{{'安全等级：中'|trans}}</span>
        {% else %}
          <span class="text-danger" style="display:block;margin-top:5px;">{{'安全等级：低'|trans}}</span>
        {% endif %}
      </div>
    </div>  
  
   <hr>

    <div class="row">
      <div class="col-sm-1 col-xs-2 tar
        {% if hasLoginPassword %}
          text-success
        {% else %}
          text-danger
        {% endif %}
      " style="font-size:20px">
        {% if hasLoginPassword %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-warning-sign"></span>
        {% endif %}
      </div>

      <span class="col-sm-3 col-xs-6" style="margin-top: 5px;" >{{'登录密码'|trans}}</span>

      <span class="col-sm-4 hidden-xs" style="margin-top: 5px;" >{{'登录网校时需要输入的密码'|trans}}</span>

      <a href="{{ path('settings_password') }}" class="col-xs-offset-1 btn btn-primary" style="margin-top: -3px;" >{{'修改'|trans}}</a>
    </div>
    <hr>

    <div class="row" style="display: none">
      <div class="col-sm-1 col-xs-2 tar
        {% if hasPayPassword %}
          text-success
        {% else %}
          text-danger
        {% endif %}
      " style="font-size:20px">
        {% if hasPayPassword %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-warning-sign"></span>
        {% endif %}
      </div>

      <span class="col-sm-3 col-xs-6" style="margin-top: 5px;" >{{'支付密码'|trans}}</span>

      <span class="col-sm-4 hidden-xs" style="margin-top: 5px;" >{{'在网校进行消费行为时需要输入的密码'|trans}}</span>

      {% if hasPayPassword %}
        <a href="{{ path('settings_reset_pay_password') }}" class="col-xs-offset-1 btn btn-primary" style="margin-top: -3px;" >{{'重置'|trans}}</a>
      {% else %}
        <a href="{{ path('settings_pay_password') }}" class="col-xs-offset-1  btn btn-primary" style="margin-top: -3px;" >{{'设置'|trans}}</a>
      {% endif %}

    </div>
    <hr style="display: none">

    <div class="row">
      <div class="col-sm-1 col-xs-2  tar
        {% if hasFindPayPasswordQuestion %}
          text-success
        {% else %}
          text-danger
        {% endif %} "
        style="font-size:20px">

        {% if hasFindPayPasswordQuestion %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-warning-sign"></span>
        {% endif %}
      </div>

      <span class="col-sm-3 col-xs-6" style="margin-top: 5px;" >{{'安全问题'|trans}}</span>

      <span class="col-sm-4 hidden-xs" style="margin-top: 5px;" >{{'通过设置并且验证安全问题，保护帐号密码安全。'|trans}}</span>

      <a href="{{ path('settings_security_questions') }}" class="col-xs-offset-1 btn btn-primary" style="margin-top: -3px;" >
      {% if hasFindPayPasswordQuestion %}
        {{'查看'|trans}}
      {% else %}
        {{'设置'|trans}}
      {% endif %}

      </a>
    </div>

    {% if (setting('cloud_sms.sms_enabled')|default('')) == '1' and (setting('cloud_sms.sms_bind')|default('')) == 'on' %}
      <hr>

      <div class="row">
        <div class="col-sm-1 col-xs-2 tar
          {% if hasVerifiedMobile %}
            text-success
          {% else %}
            text-danger
          {% endif %} "
          style="font-size:20px">

          {% if hasVerifiedMobile %}
            <span class="glyphicon glyphicon-ok"></span>
          {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span>
          {% endif %}
        </div>

        <span class="col-sm-3 col-xs-6" style="margin-top: 5px;" >{{'手机绑定'|trans}}</span>

        <span class="col-sm-4 hidden-xs" style="margin-top: 5px;" >{{'增加账户登录、购买课程时的安全性，同时还可以找回登录密码，支付密码。'|trans}}</span>

        <a href="{{ path('settings_bind_mobile') }}" class="col-xs-offset-1 btn btn-primary" style="margin-top: -3px;" >
        {% if hasVerifiedMobile %}
          {{'修改'|trans}}
        {% else %}
          {{'绑定'|trans}}
        {% endif %}
        </a>
      </div>
    {% endif %}  

          {% if fields %}
          <hr>
          {% for field in fields %}
          {% if field.type=="text" %}
          <div class="form-group">
            <label for="{{field.fieldName}}" class="col-md-2 control-label">{{field.title}}</label>
            <div class="col-md-7 controls">
              <textarea id="{{field.fieldName}}" name="profile[{{field.fieldName}}]" class="{{field.type}} form-control">{{ profile[field.fieldName]|default('') }}</textarea>
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>
          {% elseif field.type=="int" %}
          <div class="form-group">
            <label for="{{field.fieldName}}" class="col-md-2 control-label">{{field.title}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="{{field.fieldName}}" placeholder="{{'最大值为9位整数'|trans}}" name="profile[{{field.fieldName}}]" class="{{field.type}} form-control"  value="{{ profile[field.fieldName]|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>
          {% elseif field.type=="float" %}
          <div class="form-group">
            <label for="{{field.fieldName}}" class="col-md-2 control-label">{{field.title}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="{{field.fieldName}}" placeholder="{{'保留到2位小数'|trans}}" name="profile[{{field.fieldName}}]" class="{{field.type}} form-control"  value="{{ profile[field.fieldName]|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>
          {% elseif field.type=="date" %}
          <div class="form-group">
            <label for="{{field.fieldName}}" class="col-md-2 control-label">{{field.title}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="{{field.fieldName}}" name="profile[{{field.fieldName}}]" class="{{field.type}} form-control" value="{% if profile[field.fieldName] %}{{profile[field.fieldName]}}{% endif %}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>
          {% elseif field.type=="varchar" %}
          <div class="form-group">
            <label for="{{field.fieldName}}" class="col-md-2 control-label">{{field.title}}</label>
            <div class="col-md-7 controls">
              <input type="text" id="{{field.fieldName}}" name="profile[{{field.fieldName}}]" class="form-control" value="{{ profile[field.fieldName]|default('') }}">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

       {#<div class="row">
            <div class="col-md-7 col-md-offset-2">
              <button id="profile-save-btn" data-submiting-text="{{'正在保存'|trans}}" type="submit" class="btn btn-primary">{{'保存'|trans}}</button>
            </div>
          </div>   
          
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
       </form>  #}

    {% endblock %}
  {% endembed %}
{% endblock %}