<fieldset>
  <legend>微信支付(只适用于公众号)</legend>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label>接口状态</label>
    </div>
    <div class="controls col-md-3 radios">
      {{ radios('wxpay_public_enabled', {1:'开启', 0:'关闭'}, payment.wxpay_public_enabled) }}
    </div>
    <!--<div class="controls col-md-4 radios">
      <a target="_blank" href="http://kf.qq.com/faq/120911VrYVrA150905zeYjMZ.html">简单申请介绍</a>
    </div>-->
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="wxpay_public_key">PID</label>
    </div>
    <div class="controls col-md-8">
      <input class="form-control"  type="text" id="wxpay_public_key" name="wxpay_public_key" value="{{payment.wxpay_public_key}}">
      <div class="help-block">PID即为公众号APPID。</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="wxpay_public_secret">PID密码</label>
    </div>
    <div class="controls col-md-8">
      <input class="form-control"  type="text" id="wxpay_public_key_secret" name="wxpay_public_key_secret"  value="{{payment.wxpay_public_key_secret}}">
      <div class="help-block">
        PID密码即为公众号APPID密码。
      </div>
    </div>
  </div> 
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="wxpay_public_account">商户号</label>
    </div>
    <div class="controls col-md-8">
      <input class="form-control"  type="text" id="wxpay_public_account" name="wxpay_public_account" value="{{payment.wxpay_public_account}}">
      <div class="help-block">商户号即为微信支付商户号。</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="wxpay_public_secret">商户平台密码</label>
    </div>
    <div class="controls col-md-8">
      <input class="form-control"  type="text" id="wxpay_public_secret" name="wxpay_public_secret" value="{{payment.wxpay_public_secret}}">
      <div class="help-block">
        商户平台key需要登录<a href="https://pay.weixin.qq.com/service_provider/index.shtml" target="_blank">微信商户平台</a>，在【账户设置】-【API安全】中设置密匙。
      </div>
    </div>
  </div> 
</fieldset>
