
{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
{% if is_trial() %}
  <script>
    var _hmt = _hmt || [];
  </script>
  <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
  <div class="row form-group">
    <div class="help-block">
      <p style = "text-align: left;font-size:18px">
        &nbsp;&nbsp;欢迎使用，试用将于 
        <span style="color:#fed032;"> 
          {% if trialTime.endTime is defined %}
            {{trialTime.endTime|date("Y年m月d日")}} 
          {% else %} 
            未知时间
          {% endif %}
        </span> 
        到期,剩余 
        <span style="color:#fed032;">
          {% if trialTime.remainDays is defined %} {{ trialTime.remainDays }} {% else %}未知{% endif %}
        </span> 天。
      </p>
      <p style = "text-align: left;font-size:18px">
        &nbsp; 您可以联系销售人员购买授权版本，或者延长试用期限。电话：0571-86819929 或 
        <span>
          <a id="BizQQWPA" href="javascript:" onclick="_hmt.push(['_trackEvent', 'advisory', 'click', 'qq'])" style='text-decoration:none;'>QQ：800023860 </a>。
        </span>
      </p>
    </div>
  </div>

  <script type="text/javascript">
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 800023860, selector: 'BizQQWPA'}); 
  </script>
{% else %}
  {% if notices|default(false) %}
    <div class="col-md-12">
      <div class="main-system-alert" style="display: none">
        <h2> 站长公告</h2>
          <ul class="alert-list">
          {% for notice in notices %}
            <li class="glyphicon glyphicon-bell" style="color:#fed032;font-size:16px;"><a href="{{notice.detailUrl}}" style="margin-left:22px;" target="_blank">{{notice.content}}<span>{{notice.createdTime|date("Y-m-d H:i:s")}}</span></a></li>
          {% endfor %}
          </ul>
      </div>
    </div>
  {% endif %}
{% endif %}

