.branch-section{
  background: #ff7200;
  .branch-nav{
    padding: 0px;
    margin: 0px;
    li{list-style: none;}
    >li{
      background: #ff8200;
      width: 160px;
      list-style-type: none;
      float: left;
      height: 50px;
      padding: 0px 50px;
      line-height: 50px;
      >a{
        color: #f1f1f1;
      }
    }
    .branch-nav-menu{
      display: block;
      border-radius: 0px;
      height: 450px;
      
    }
  }
}
.right-toggle{
  &:hover{
    >ul{
      display: block;
    }
  }
  .right-toggle-hover{
    position: relative;
  }
  .right-toggle-menu{
    padding: 0px;
    display: none;
    width: 160px;
    background: white;
    position: absolute;
    left: 160px;
    top: 0px;
    li{
      text-align: center;
      margin: 0;
      a{
        display: inline-block;
        height: 40px;
        padding: 10px 0px;
        line-height: 20px;
        width: 100%;
        transition:all .5s ease;
        &:hover{
          background: #46c37b;
          color: white;
        }
      }
    }
  }
}
#nav{
  >li{
    width: 100px;
    >a{
     color: #f1f1f1;
   }
  }
}