
.zh-certification{
  .certification-content{
    width: 280px;
    height: 180px;
    background: url("../img/certificate.png") no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    p{
      font-size: 16px;
      padding: 34px 28px 0;
      .text-overflow;
    }
    .metas{
      text-align: left;
      width: 185px;
      margin: 0 auto;
      font-size: 12px;
      height: 65px;
      overflow: hidden;
    }
    >span{
      font-size: 12px;
      .text-overflow;
      margin-top: 10px;
      padding: 0 34px;
    }
  }
}
.zh-underline{
  border-bottom:1px dashed #ddd;
}
.period .lesson-item{
  position: absolute;
  right: 50px;
  top: 11px;
}