.zh-course-list{
  margin: 0;
  .course-grid{
    margin: 0 0 20px;
    border:none;
    position: relative;
    .mask{
      position: absolute;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .5);
      color: #fff;
      bottom: 0;
      font-size: 12px;
      padding: 5px;
    }
    .title{
      min-height: auto;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      a{
        color: #616161
      }
    }
    .course-content{
      border: 1px solid #ddd;
    }
    .grid-body{
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .metas,.learn-status{
      height: 98px;
    }
    .learn-status{
      margin: 0;
    }
    .progress{
      margin: 0 0 15px;
      height: 15px;
    }
  }
}

.zh-nav-pills li{
   max-width: 180px;
   a{
    max-width: 180px;
    .text-overflow;
   }
}
