.es-header{
  background: white;
  padding: 0px;
  .navbar-brand{
    color: #ff7200 !important;
    position: relative;
    left: 10px;
  }
  .zh-search{
    border:1px solid #ff7200 !important;
  }
}