
.sending{
  background: #ccc;
}
.manage-form{
  .form-group-btn{
    position: relative;
    .form-control{
        width: 65%;
    }
    .smsSendBtn{
    background:#02b980;
    cursor: pointer;
    color: white;
    width: 30%;
    background: #02b980;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 1.125rem;
    height: 40px;
    line-height: 40px;
    padding: 0;
   border: 1px solid #cccccc;
  }
 }
}
.has-error .input-group-addon{
    border: 1px solid  #a94442!important;
    color: #a94442!important;
    background-color: #f2dede!important;
}