.period-list .period .title{
  .text-overflow;
}
.period-list .period .zh-icon-suodan,.period-list .period .zh-icon-jiesuo{
  position: absolute;
  top: 9px;
  left: 15px;
}
.period-list .period.certification > a.toggleStatus {
  position: absolute;
  right: -1px;
  margin-top: 4px;
  top:10px;
}
.zh-control-label{
  padding-left: 64px;
  @media (max-width:@screen-md-max){
    padding-left: 50px;
  }
}
.zh-user{
  position: absolute;
  right: 50px;
  @media (max-width:@screen-md-max){
    position: relative;
    right: auto;
    padding-left: 50px;
    margin-bottom: 10px;
  }
  img{
    width: 100px;
  }
  .form-group{
    margin-bottom: 0;
  }
}

.zh-testpaper-question-choice-inputs{
  float: none;
}

.order-table td {
  break-word: break-word;
}

.cke_button__kityformula {
  display: none !important;
}