<div  class="course-list row zh-course-list">
  {% for course in courses %}
    {{render(controller('CustomWebBundle:CertificationCourse:singleCertificationCourseBlockGrid',{course:course})) }}
  {% endfor %}
</div>