{% if course.isCompletedOffline %}
  {% set courseDetailJsMethod = "" %}
{% else %}
  {% set courseDetailJsMethod = "saveCurrentLoopTimeBeforeNavigate('" ~ path("course_certification_show", {id:course.courseId}) ~ "', '" ~ app.user.id|default(0) ~ "', '" ~ course.courseId ~ "', '" ~ course.currentLoopTime ~ "')" %}
{% endif %}


{% set courseOrderJsMethod = "saveCurrentLoopTimeBeforeNavigate('" ~ path("order_certification_show") ~ "?targetId=" ~ course.courseId ~ "&targetType=course', '" ~ app.user.id|default(0) ~ "', '" ~ course.courseId ~ "', '" ~ course.currentLoopTime ~ "')"%}

{% if course.learningStatus|default('') == 'completion' %}
  {% set learnPercent = '100%' %}
{% endif %}

<li class="course-grid col-md-3" title="[{{course.certificationName}}]{{course.courseName}}">
  <a href="javascript:void(0)" onclick="{{courseDetailJsMethod}}" class="grid-body">
    <img class="img-responsive thumb" src="{{filepath('../' ~ course.largePictureUrl|default('assets/img/default/lazyload_course.png'))}}"/>
    {% if course.discountId > 0 %}
        {% if course.price == 0.00 %}
          <!-- 限免 -->
          <span class="zh-tag-discount free"></span>
        {% else %}
          <!-- 折扣 -->
          <span class="zh-tag-discount"></span>
        {% endif %}
    {% endif %}
    <div class="mask">
      {% if course.learningStatus|default(false) %}
        {% if course.isCompletedOffline %}
          <div>线下已结业</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>
        
        {% elseif course.learningStatus == 'completion' %}
          <div>已结业</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.isRevoked %}
          <div>已吊销</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.learningStatus == 'finished' %}
          {% if course.hasTestpaper and course.isTestpaperPassed %}
              <div>已通过考试，但未通过实名认证</div>
          {% elseif  not course.hasTestpaper and course.isAllLessonsFinished %}
              <div>已学完，但未通过实名认证</div>
          {% else %}
            <div>已学完，但未通过考试</div>
          {% endif %}

          {% if course.makeupLeftDays|default(false) %}
          	<div>距离补学到期还有<span class="text-warning">{{course.makeupLeftDays}}</span>天</div>
          {% endif %}

          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.learningStatus == 'learning' %} 
          <div>距离到期还有<span class="text-warning">{{course.leftDays}}</span>天</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.learningStatus == 'overtimeMakeupYes' %}
          <div>请于<span class="text-warning">{{course.makeupDeadline}}</span>前进行补学</div>
          <div>距离补学到期还有<span class="text-warning">{{course.makeupLeftDays}}</span>天</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.learningStatus == 'overtimeMakeupNo' %}
          <div>已过期, 无法补学</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.learningStatus == 'makeup' %}
          {% if course.isAllLessonsFinished %}
            {% if course.hasTestpaper and course.isTestpaperPassed %}
                <div>已通过考试，但未通过实名认证</div>
            {% elseif  not course.hasTestpaper  %}
                <div>已学完，但未通过实名认证</div>
            {% else  %}
              <div>已学完，但未通过考试</div>
            {% endif %}
          {% endif %}
          <div>距离补学到期还有<span class="text-warning">{{course.makeupLeftDays}}</span>天</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% elseif course.learningStatus == 'unPaied' %}
          <div>距离到期还有<span class="text-warning">{{course.leftDays}}</span>天</div>
          <div><span class="text-warning">{{course.startTime}} --- {{course.deadline}}</span></div>

        {% endif %}
      
      {% else %}
        [{{course.certificationType}}]

      {% endif %}
    </div>  
  </a>
  <div class="course-content">
    <div class="title">
      <a href="javascript: void(0);" onclick="{{courseDetailJsMethod}}">[{{course.certificationName}}]{{course.courseName}}</a>
    </div>  

    <div class="metas clearfix">
      {% if course.isRevoked|default(false) %}
        {% set isDisplayed = false %}
      {% elseif  course.learningStatus|default(false) %}
        {% set isDisplayed =  course.learningStatus == 'unPaied' or course.learningStatus == 'overtimeMakeupYes' or course.learningStatus == 'overtimeMakeupNo' %}
      {% else %}
        {% set isDisplayed = true %}
      {% endif %}

      {% if isDisplayed %}
        <span class="price-col">
          <span class="meta-label">{{'价格'|trans}}</span>
          {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
            <span class="price-num" style="display:inline " >
              {% if course.price > 0 %}
                {{ course.price * setting('coin.cash_rate')}}{{setting('coin.coin_name')}}
              {% else %}
                {{'免费'|trans}}
              {% endif %}
            </span>

          {% else %}
            <span class="price-num">
              {% if course.price > 0 %}
                {{ course.price }}{{'元'|trans}}
              {% else %}
                {{'免费'|trans}}
              {% endif %}
            </span>
          {% endif %}
        </span>

        {% if setting('course.show_student_num_enabled', '1') == 1 %}
          <span class="student-col">
            <span class="meta-label">{{setting('default.user_name', '学员'|trans)}}</span>
            <span class="student-num">{{ course.studentNum }}{{'人'|trans}}</span>
          </span>

        {% endif %}
      {% endif %}
      <div class="clearfix"></div>
      {% if course.learningStatus | default(false) %}
        {% if course.isRevoked %}
          <div class="progress">
            <div class="progress-bar progress-bar-success-bar" style="width: {{ learnPercent }}" >
            </div>
          </div>
          <div class="buy text-center ptm" >
            {% if course.isCompletedOffline %}
              <a class="btn btn-primary branch-course" disabled href="javascript: void(0)"  onclick="{{courseDetailJsMethod}}">查看课程</a>
            {% else %}
              <a class="btn btn-primary branch-course" href="javascript: void(0)"  onclick="{{courseDetailJsMethod}}">查看课程</a>
            {% endif %}     
          </div>

        {% elseif course.learningStatus == 'unPaied' and course.buyable %}
          <div class="buy text-center ptm">
            <a class="btn btn-primary branch-course" href="javascript: void(0)" onclick="{{courseOrderJsMethod}}">
              {% if course.price > 0 %}
                购买课程  
              {% else %}
                加入课程
              {% endif %}
            </a>      
          </div>

        {% elseif course.learningStatus == 'overtimeMakeupYes' and course.buyable %}
          <div class="buy text-center ptm" >
            <a class="btn btn-primary branch-course" href="javascript: void(0)" onclick="{{courseOrderJsMethod}}">
            	  {% if course.price > 0 %}
            	    补学购买
            	  {% else %}
                加入课程
               {% endif %}
            	</a>      
          </div>

        {% elseif course.learningStatus == 'makeup' and course.learnable %}
          <div class="progress">
            <div class="progress-bar progress-bar-success-bar" style="width: {{ learnPercent }}" >
            </div>
          </div>
          <div class="buy text-center ptm" >
            <a class="btn btn-primary branch-course" href="javascript: void(0)"  onclick="{{courseDetailJsMethod}}">
              {% if course.isAllLessonsFinished and course.isTestpaperPassed %}
                {{'查看课程'|trans}}
              {% elseif course.isAllLessonsFinished and not course.isTestpaperPassed %}
                {{'继续考试'|trans}}
              {% else %}
                {{'继续学习'|trans}}
              {% endif %}
            </a>
          </div>

        {% elseif course.learningStatus == 'learning' and course.learnable%}
          <div class="progress">
            <div class="progress-bar progress-bar-success-bar" style="width: {{ learnPercent }}" >
            </div>
          </div>
          <div class="buy text-center ptm" >
            <a class="btn btn-primary branch-course" href="javascript: void(0)"  onclick="{{courseDetailJsMethod}}">
              {% if course.isAllLessonsFinished and not course.isTestpaperPassed %}{{'继续考试'|trans}}{% else %}{{'继续学习'|trans}}{% endif %}</a>
          </div>

        {% elseif course.learningStatus == 'finished' %}
          <div class="progress">
            <div class="progress-bar progress-bar-success-bar" style="width: {{ learnPercent }}" >
            </div>
          </div>
          <div class="buy text-center ptm" >
            {% if course.isTestpaperPassed|default(false) %}
              <a class="btn btn-primary branch-course" href="javascript: void(0)" onclick="{{courseDetailJsMethod}}">查看课程</a>   
            {% else %}
            <a class="btn btn-primary branch-course" href="javascript: void(0)" onclick="{{courseDetailJsMethod}}">继续考试</a>      
            {% endif %}
          </div>

        {% elseif course.learningStatus == 'overtimeMakeupNo' %}
          <div class="buy text-center ptm" >
            <a class="btn btn-primary branch-course" href="javascript: void(0)" onclick="{{courseDetailJsMethod}}">查看课程</a>      
          </div>
          
        {% else %}
          <div class="progress">
            <div class="progress-bar progress-bar-success-bar" style="width: {{ learnPercent }}" >
            </div>
          </div>
          <div class="buy text-center ptm" >
            {% if course.isCompletedOffline %}
              <a class="btn btn-primary branch-course" disabled href="javascript: void(0)"  onclick="{{courseDetailJsMethod}}">查看课程</a>
            {% else %}
              <a class="btn btn-primary branch-course" href="javascript: void(0)"  onclick="{{courseDetailJsMethod}}">查看课程</a>
            {% endif %}      
          </div>
        
        {% endif %}
      {% endif %}
    </div>
  </div>
</li>
