{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ course.title }} - {{ parent() }}{% endblock %}

{% set hideSetupHint = true %}

{% if is_plugin_installed('Homework') %}
  {% set script_arguments = {customChapter: setting('course.custom_chapter_enabled')|default(true), plugins: ['lesson', 'question', 'note', 'material', 'homework']}  %}
{% else %}
  {% set script_arguments = {customChapter: setting('course.custom_chapter_enabled')|default(true), plugins: ['lesson', 'question', 'note', 'material']}  %}
{% endif %}

{% set script_controller = 'customwebbundle/controller/course/learn' %}

{% set bodyClass = 'lesson-dashboard-page' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block esBar %}{% endblock %}
{% block full_content %}
  {% set isShowClassInteraction = data('showClassInteraction', {id:course.id}) %}
  <div class="lesson-dashboard" id="lesson-dashboard"
    data-course-id="{{ course.id }}"
    data-course-uri="{{ path('course_show',{id:course.id})}}"
    data-course-type="{{ course.type }}"
    data-course-learned="{{ courseMember.isLearned|default(false) }}"
    data-lessonlearn-status=""
    data-lesson-view-id=''
    data-current-loop-time='{{ currentLoopTime|default(1)}}'
    data-dashboard-uri="{{path('course_certification_learn',{id:course.id})}}"
    data-watch-limit="{{ setting('magic.lesson_watch_limit') }}"
    data-starttime = "{{starttime|default('')}}"
    data-marker-type = "{{type|default('')}}"
    data-face-able = "{{area.faceable|default('')}}"
    data-cancel-url = "{% if is_granted('ROLE_SUPER_ADMIN')%}{{path('course_certification_manage_lesson',{id:course.id})}}{% else %}{{path('course_certification_show',{id:course.id})}}{% endif %}"
    data-hide-media-lesson-learn-btn="{{ is_feature_enabled('hide_media_lesson_learn_btn') }}">
    <div class="dashboard-content">
        <a class="btn btn-primary  nav-btn back-course-btn" href="{{ path('course_certification_show', {id:course.id}) }}"><span class="glyphicon glyphicon-chevron-left" ></span> {{'返回课程'|trans}}</a>
       <a class="btn btn-primary  nav-btn prev-lesson-btn" href="javascript:" data-role="prev-lesson" data-placement="right" title="{{'上一课时'|trans}}" style="display: none"><span class="glyphicon glyphicon-chevron-up" title="{{'上一课时'|trans}}"></span></a>
       <a class="btn btn-primary nav-btn next-lesson-btn" href="javascript:" data-role="next-lesson" data-placement="right" title="{{'下一课时'|trans}}" style="display: none"><span class="glyphicon glyphicon-chevron-down"></span></a>

      <div class="dashboard-header">
        <div class="pull-left title-group">
          <span class="chapter-label">
            {% if not setting('course.custom_chapter_enabled')|default(true)%}
              <span data-role="custom-chapter-number">第{% if setting('default.chapter_name') %}{{setting('default.chapter_name')|default('章')}}{% else %}章{% endif %}</span></span>
            {% else %}
              第<span data-role="chapter-number"></span>{% if setting('default.chapter_name') %}{{setting('default.chapter_name')|default('章')}}{% else %}章{% endif %}</span>
            {% endif %}
          <span class="divider">&raquo;</span>
          <span class="chapter-label">
            {% if not setting('course.custom_chapter_enabled')|default(true)%}
              <span data-role="custom-unit-number">第{% if setting('default.part_name') %}{{setting('default.part_name')|default('节')}}{% else %}节{% endif %}</span></span>
            {% else %}
              第<span data-role="unit-number"></span>{% if setting('default.part_name') %}{{setting('default.part_name')|default('节')}}{% else %}节{% endif %}</span>
            {% endif %}
          <span class="divider">&raquo;</span>
          <span class="item-label">{% if  setting('course.custom_chapter_enabled')|default(true)%}{{'课时'|trans}}<span data-role="lesson-number"></span>{% endif %}</span>
          <span class="item-title" data-role="lesson-title">{{'正在加载'|trans}}...</span>
        </div>
      </div>

      <div class="dashboard-body">
        <div class="lesson-content" id="lesson-video-content" data-role="lesson-content" style="display:none;"
          {% if setting('storage.video_watermark') > 0 and setting('storage.video_watermark_image') %}
            data-watermark="{{ filepath(setting('storage.video_watermark_image'), null, true) }}"
          {% endif %}
          {% if setting('storage.video_fingerprint') and app.user %}
            data-fingerprint="{{ finger_print() }}"
          {% endif %}
            data-user-id="{{ app.user.id }}"
            data-balloon-player="1"
        ></div>
        <div class="watermarkEmbedded" ></div>

        <div class="lesson-content lesson-content-audio" id="lesson-audio-content" data-role="lesson-content" style="display:none;"></div>
        <div class="lesson-content" id="lesson-swf-content" data-role="lesson-content" style="display:none;"></div>
        <div class="lesson-content" id="lesson-iframe-content" data-role="lesson-content" style="display:none;"></div>
        <div class="lesson-content lesson-content-text" id="lesson-text-content" data-role="lesson-content" style="display:none;"
        {% if setting('course.copy_enabled')|default(0) > 0 %} oncopy="return false;" oncut="return false;" onselectstart="return false" oncontextmenu="return false;"{% endif %}>
          <div class="lesson-content-text-body"></div>
        </div>

        <div class="lesson-content lesson-content-document" id="lesson-document-content" data-role="lesson-content" style="display:none;"
            {% if setting('magic.doc_watermark') %}data-watermark-url="{{ path('cloud_doc_watermark') }}" {% endif %}
          >
          <div class="lesson-content-document-body"></div>
        </div>

        <div class="lesson-content lesson-content-text" id="lesson-live-content" data-role="lesson-content" style="display:none;">
          <div class="lesson-content-text-body"></div>
        </div>
        <div class="lesson-content lesson-content-text" id="lesson-unpublished-content" data-role="lesson-content" style="display:none;">
          <div class="lesson-content-text-body">{{'当前课时正在编辑中，暂时无法观看。'|trans}}</div>
        </div>

        <div class="lesson-content lesson-content-text" id="lesson-testpaper-content" data-role="lesson-content" style="display:none;">
          <div class="lesson-content-text-body"></div>
        </div>
        <div class="lesson-content lesson-content-text" id="lesson-ppt-content" data-role="lesson-content" style="display:none;"
            {% if setting('magic.ppt_watermark') %}data-watermark-url="{{ path('cloud_ppt_watermark') }}" {% endif %}
          >
          <div class="lesson-content-text-body"></div>
        </div>

      </div>

      <div class="dashboard-footer clearfix">
        <div class="pull-right">
          <button class="btn btn-primary finish-btn" data-role="finish-lesson" style="display:none;"><span class="glyphicon glyphicon-unchecked"></span> {{'学过了'|trans}}</button>
        </div>
      </div>
    </div>

    <div class="toolbar toolbar-open" id="lesson-dashboard-toolbar">
      <div class="toolbar-nav">

        <ul class="toolbar-nav-stacked" id="lesson-toolbar-primary" data-class-interaction="{{isShowClassInteraction|default(false)}}"></ul>
        <ul class="list-unstyled">
          <li class="es-qrcode toolbar-qrcode" data-url="{{path('course_show',{id: course.id})}}">
            <i class="es-icon es-icon-qrcode"></i><br>
            {{'扫一扫'|trans}}
            <span class="qrcode-popover">
              <img src="" alt="">
              {{'扫二维码继续学习'|trans}}
            </span>
          </li>
        </ul>
        <ul class="toolbar-nav-stacked" id="lesson-toolbar-secondary">
          <li class="hide-pane" style="display:none;">
            <a href="javascript:"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>
        </ul>

      </div>
      <div class="toolbar-pane-container">
      </div>
    </div>

  </div>

  <div class="modal" id="course-learned-modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{'学习进度提示'|trans}}</h4>
        </div>
        <div class="modal-body">
          <p class="text-success">{{'赞一个，这个课程你已经都学完啦，你可以再回顾一下或者去看看别的课程'|trans}}～～～</p>
        </div>
        <div class="modal-footer">
          <a href="{{ path('course_certification_show', {id:course.id}) }}" class="btn btn-primary">{{'回课程主页'|trans}}</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal" id="mediaPlayed-control-modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{'媒体课时学习提示'|trans}}</h4>
        </div>
        <div class="modal-body">
          <p class="text-success">{{'此课时设置了必须完整播放完整个课时才能学完'|trans}}～～</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal" id="homeworkDone-control-modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{'作业未完成提示'|trans}}</h4>
        </div>
        <div class="modal-body">
          <p class="text-success">{{'此课时设置了必须做完本课时作业并提交后才能学完'|trans}}～～</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal" id="camera-control-modal" style="display:none;">
    <div id="tokenDomId" style="display: none">{{ csrf_token('site') }}</div>
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a href="{% if is_granted('ROLE_SUPER_ADMIN')%}{{path('course_certification_manage_lesson',{id:course.id})}}{% else %}{{path('course_certification_show',{id:course.id})}}{% endif %}" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></a>
          <h4 class="modal-title">弹脸识别</h4>
        </div>
        <div class="modal-body">
          <div class="clearfix pbm">
            <div class="pull-left ">
              <span class="left-part-title">人脸拍照<span id="flashInstall">(如果无任何提示, 且无法打开摄像头, 请<a href="https://get.adobe.com/flashplayer/?loc=cn"><b>点击安装flash</b></a>, <p>如果已安装, 请刷新页面)。</span></span>
            </div>
            <div class="pull-right templete-photo" style="width:400px;">
              <span class="left-part-title">模板照片【初始注册时的采集照片】</span>
            </div>
          </div>
          <div class="html5Section"> 
            <div class="cameraContainer pull-left"></div>
            <div class="pull-right text-center" style="width:400px;height:280px;">
              <img src="{{faceImgPath|default('')}}" style="max-height:100%;max-width:100%"/>
            </div>
          </div>
          <div class="flashSection" style="display: none">
            <div class="cameraContainer pull-left"></div>
            <div class="pull-right text-center" style="width:400px;height:280px;">
              <img src="{{faceImgPath|default('')}}" style="max-height: 100%;max-width:100%"/>
            </div>
          </div>
          <div class="btnContainer finishSnap" style="display:none">
            <button class="resetBtn">重新拍摄</button>
          </div>
        </div>
        <div class="modal-footer text-center snapBtnSection" style="display:none">
          <button class="cameraBtn btn btn-primary">拍摄</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->

  <div class="modal fade in" id="warn-control-modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="{% if is_granted('ROLE_SUPER_ADMIN')%}{{path('course_certification_manage_lesson',{id:course.id})}}{% else %}{{path('course_certification_show',{id:course.id})}}{% endif %}" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></a>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>请点击允许，否则无法课程学习！</p>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" onclick="sure()" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade in" id="next-lesson-control-modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>本课时已学完，是否学习下一课时！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" id="yesBtn" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div class='certificationCourse' style="display:none"></div>

  {% if previewQuestion|default(false) %}
    <div class="previewQuestion" style="display:none"></div>
  {% endif %}

  <script type="text/javascript">
    g_isDetecting = false;
    g_isFirstDetecting = true;

    function showFaceDetectModal() {
      $('#camera-control-modal').css({visibility:''});
      $(".modal-overlay").addClass('modal-backdrop').removeClass("modal-overlay");
    }

    function hideFaceDetectModal() {
      $('#camera-control-modal').css({visibility:'hidden'});
      $(".modal-backdrop").addClass('modal-overlay').removeClass("modal-backdrop");
      g_isDetecting = false;
    }

    /**
      *上传摄像头照片后,执行的js方法
      */
    function afterImageUpload(result) {   
      var player = window.frames["viewerIframe"].window.BalloonPlayer;
      if (result == "true" || result == true){
        player.finishMarker(window.markerId, true, false);
        if(!player.isPlaying()){
          player.play();
        }
        hideFaceDetectModal();

        markAsPassed(window.markerId);
      } else {      
        if (player.isPlaying()) {
          player.pause();
        } 
        alert("人脸识别失败, 需重新识别!");
        showFaceDetectModal();      
        $(".resetBtn").click();
      }
    }

    /*
     * 当显示摄像头录像时, 调用此方法
     */
    function afterInit() {
      document.title = $(".item-title").html();
      //当显示重新拍摄按钮时, 不显示拍摄按钮
      if ($(".finishSnap:visible").length == 0) {
        $(".snapBtnSection").show();
        if ($(".finishSnap:visible").length != 0) {
          $(".snapBtnSection").hide();
        }
      }
    }

    function onUserForbidCamera() {
      if($("#camera-control-modal").is(":visible")){
          hideFaceDetectModal();                         
      }  
      $('#warn-control-modal').modal('show');    
    }

    /*
     * flash异常时执行此方法
     */
    function onFlashErrorMsg(msg) {
      alert(msg);
    }

    function onFlashMsg(msg) {}

    function cancel(){
      $('#warn-control-modal').modal('hide');
      location.href = $("#lesson-dashboard").data('cancel-url');
    }

    function sure(){
      $('#warn-control-modal').modal('hide');
      var webCamera = new WebCamera({tokenDomId:"tokenDomId",uploadUrl:"/camera"});
      webCamera.init();
      showFaceDetectModal();
    }

    function markAsPassed(markerId) {
      var currentLoopTime = getCurrentLoopTime();
      var params = {
        url:  "{{path('course_certification_marker_markAsPassed')}}",
        token: $("[name='csrf-token']").attr("content"),  //后台ajax访问时,如果需要token, 则使用此属性
        param: {
          'markerId' : markerId,      //ajax传递的参数
          'currentLoopTime':currentLoopTime
        },
        success: function(data) {}
      };

      new AjaxContext(params).load();
    }

    function getCurrentLoopTime()
    {
        return $("#lesson-dashboard").attr('data-current-loop-time');
    }
  </script>
{% endblock %}
