{% extends 'CustomWebBundle::layout.html.twig' %}

{% block title %}{{ course.title }} - {{ parent() }}{% endblock %}

{% block keywords %}
  {% include 'TopxiaWebBundle:Course:keywords.html.twig' with {course: course} %}
{% endblock %}

{% block description %}{{ course.about|purify_and_trim_html|default('')|plain_text(100) }}{% endblock %}

{% set bodyClass = 'course-dashboard-page' %}
{% set script_arguments = {course_uri: path('course_show', {id:course.id})} %}

{% block top_content %}
  {% if course.type == 'certification' %}
    {% include 'CustomWebBundle:Course:Part/normal-header.html.twig' %}
  {% else %}
    {% include 'TopxiaWebBundle:Course:Part/normal-header.html.twig' %}
  {% endif %}

{% endblock %}

{% block content %}

  {% if is_plugin_installed('GroupSell') and not member  %}
    {{ render(controller('GroupSellBundle:GroupSell:showGroup',{type:'course',targetId:course.id})) }}  
  {% endif %}
  <div class="course-detail row">
    <div class="col-lg-9 col-md-8  course-detail-main">

      {% include 'TopxiaWebBundle:Announcement:announcement-block.html.twig' with {targetId:course.id,targetType:'course'} %}
      <section class="es-section">
        {% if course.type == 'certification' %}
          {% include 'CustomWebBundle:Course:Part/normal-nav.html.twig' %}
        {% else %}
           {% include 'TopxiaWebBundle:Course:Part/normal-nav.html.twig' %}
        {% endif %}
        {% block course_main %}{% endblock %}
      </section>
      {% block dashboard_relatedCoursesBlock %}
        {% if setting('course.relatedCourses') == 1 %}
          {{ render(controller('TopxiaWebBundle:Course:relatedCoursesBlock',{course:course})) }}
        {% endif %}
      {% endblock %}
    </div>

    <div class="col-lg-3 col-md-4  course-sidebar">
      {% block course_sidebar %}
        {% if member|default(null) %}
          {{ render(controller('TopxiaWebBundle:Part/Course:belongClassrooms',{course: course})) }}
        {% endif %}
        {% if course.parentId == 0 %}
          {{ render(controller('TopxiaWebBundle:Part/Course:recommendClassrooms',{course: course})) }}
        {% endif %}
        {{ render(controller('TopxiaWebBundle:Part/Course:teachers',{course: course})) }}
        {{ render(controller('TopxiaWebBundle:Part/Course:students',{course: course})) }}
        {% include 'CustomWebBundle:Course:Part/normal-sidebar-statuses.html.twig' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
