{% if not isApprovaled %}
	<div class="alert alert-danger " role="alert">
		{% if app.user.approvalStatus == 'approving'  %}		
		    <i class="glyphicon glyphicon-info-sign"></i>您的认证正在审核中，管理员会尽快答复您。
		{% elseif app.user.approvalStatus == 'approve_fail' %}
	        <i class="glyphicon glyphicon-info-sign"></i>{{'实名认证审核尚未通过，请参照通知中的信息，修改后重新'|trans}}<strong><a href="{{ path('setting_approval_submit') }}">{{'认证。'|trans}}</a>
	          </strong>	        
		{% else %}
			<i class="glyphicon glyphicon-info-sign"></i>您还没有进行实名认证（不认证无法结业），请抓紧前往<a href="{{path('setting_approval_submit')}}" style="text-decoration: underline;">个人设置->实名认证</a>去提交资料			
		{% endif %}
	</div>
{% endif %}