{% extends 'CustomWebBundle:MyCourse:layout.html.twig' %}

{% block title %}{{'已收藏'|trans}} - {{ parent() }}{% endblock %}

{% set tab_nav = 'favorited' %}

{% block main %}
<div class="panel panel-default panel-col">
  <div class="panel-heading">{{'我的课程'|trans}}</div>
    {% include 'CustomWebBundle:MyCourse:approval-status.html.twig' with { isApprovaled: isApprovaled } %}
    {% include 'CustomWebBundle:MyCourse:no-learn.html.twig' with { unpaidCertificationCourses: unpaidCertificationCourses } %}
  <div class="panel-body">
    {% include 'CustomWebBundle:MyCourse:nav-pill.html.twig' %}
    {% if courses %}
      <div class="course-list row zh-course-list">
        {% for course in courses %}
          {% if course['certificationType'] is defined %}
            {{render(controller('CustomWebBundle:CertificationCourse:singleCertificationCourseBlockGrid',{course:course})) }}
          {% else %}
            {{render(controller('CustomWebBundle:Course:singleNormalCourseGrid', {course: course, mode: 'default'}))}}
          {% endif %}
        {% endfor %}
      </div>
      {{web_macro.paginator(paginator)}}
    {% else %}
      <div class="empty">{{'暂无已收藏的课程'|trans}}</div>
    {% endif %}
  </div>
</div>
{% endblock %}