{% extends 'CustomWebBundle:My:layout.html.twig' %}

{% set script_controller = 'customwebbundle/controller/course-loop/navigatorTools' %}

{% block title %}{{'我的课程'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-learning' %}

{% block main %}

{% endblock %}