<ul class="nav nav-pills mbl">
  <li {% if tab_nav == 'learning' %} class="active"{% endif %}>
    <a href="{{ path('my_courses_learning') }}">{{'学习中'|trans}}</a>
  </li>

  <li {% if tab_nav == 'learned' %} class="active"{% endif %}>
    <a href="{{ path('my_courses_learned') }}">{{'已结业'|trans}}</a>
  </li>

  <li {% if tab_nav == 'overtime' %} class="active"{% endif %}>
    <a href="{{ path('my_courses_overtime') }}">{{'已过期'|trans}}</a>
  </li>

  <li{% if tab_nav == 'favorited' %} class="active"{% endif %}>
    <a href="{{ path('my_courses_favorited') }}">{{'收藏'|trans}}</a>
  </li>
</ul>