<div class="course-list-section " id="course-list-section">
  <div class="mtl mbl">待学证书课程</div>
  <div class="course-list row zh-course-list">
    {% if unpaidCertificationCourses %}
      {% for course in unpaidCertificationCourses %}
        {% include 'CustomWebBundle:Course:certificationCourseGrid_single.html.twig' with {course:course} %}
       {% endfor %}
      {% else %}
        <div class="empty">{{'暂无待学课程'|trans}}</div>
      {% endif %}
  </div>
</div>