{% extends 'CustomWebBundle:My:layout.html.twig' %}

{% block title %}{{'我的动态'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-states' %}

{% set script_controller='customwebbundle/controller/my-course/states' %}
{% block main %}
<link href="{{ asset('assets/libs/gallery/morris/0.5.0/morris.css') }}" rel="stylesheet" />

<div class="panel panel-default panel-col">


  <div class="panel-heading">{{'我的动态'|trans}}
  </div>

  <div class="panel-body">
    <div class="col-md-12">
      <form  class="well well-sm form-inline" action="" method="get" id="states-form"  role="form" >

        <div class="form-group">
         <a  type="button" class="btn btn-default"  id="btn-month" currentMonthStart="{{dataInfo.currentMonthStart}}" currentMonthEnd="{{dataInfo.currentMonthEnd}}">本月</a>
        </div>
        <div class="form-group">
         <a type="button"  class="btn btn-default "  id="btn-lastMonth" lastMonthStart="{{dataInfo.lastMonthStart}}" lastMonthEnd="{{dataInfo.lastMonthEnd}}">上月</a>
        </div>

        <div class="form-group">
          <a type="button"  class="btn btn-default " id="btn-lastThreeMonths" lastThreeMonthsStart="{{dataInfo.lastThreeMonthsStart}}" lastThreeMonthsEnd="{{dataInfo.lastThreeMonthsEnd}}">近三月</a>
        </div>

        <div class="form-group mll">
          <label class="ptm" style="max-width:none;">起始日期</label>
            <input type="text" class="form-control analysis-input mls" name="startTime" value="{{dataInfo.startTime}}">
        </div>

        <div class="form-group mls">
          <label class="ptm"  style="max-width:none;">截止日期</label>
            <input type="text" class="form-control analysis-input mls"  name="endTime" value="{{dataInfo.endTime}}">
        </div>

        <button class="btn btn-primary pull-right" id="btn-search">查询</button>
      </form>
    </div>
    <div class="col-md-12">
			<p>登录记录</p>			
    </div>  
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"{% if tab=="trend" %} class="active"{% endif %} ><a href="{{path('my_states',{tab:"trend",startTime:dataInfo.startTime,endTime:dataInfo.endTime})}}">趋势</a></li>
          <li role="presentation" {% if tab=="detail" %} class="active"{% endif %}><a href="{{path('my_states',{tab:"detail",startTime:dataInfo.startTime,endTime:dataInfo.endTime})}}">明细</a></li>
        </ul>
    </div>   
      
    {% if tab=="trend" %}
      <div class="col-md-12">
        <div id="line-data"></div>
        <input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'/>

      </div>

      <div class="col-md-12">
        <p>人脸识别记录</p>        
        {% for result in faceDetectResults %}
          <div class="col-md-4">
            <div class="thumbnail">
              <div style="position:relative;height:200px;">
                <img src="{{ filepath(result.fileUrl) }}" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;position:absolute;">
                {% if result.result == 'success'%}
                  <img src="{{asset("assets/img/default/u317.png")}}" style="position:absolute;"/>
                  <p><span>识别成功</span></p>
                {% else %}
                  <img src="{{asset("assets/img/default/u319.png")}}" style="position:absolute;"/>
                    <p><span>识别失败</span></p>
                {% endif %}
              </div>
              <div class="caption clearfix ">              
                <span style='display:block;'>{{ result.createdTime|date("Y-m-d H:i:s") }}</span>
                <span style='display:block;'>
                  {% if result.type == 'lesson' %}
                    <font data-toggle="tooltip" data-placement="top" title="{{ result.content }}">{{ result.content|sub_text(12) }}</font>
                  {% elseif result.type == 'login' %}
                    登录
                  {% elseif result.type == 'register' %}
                    注册
                  {% elseif result.type == 'testpaper' %}
                    考试 <font data-toggle="tooltip" data-placement="top" title="{{ result.content }}">{{ result.content|sub_text(12) }}</font>
                  {% endif %}
                </span>
                <span style='display:block;'>
                  {% if result.mobile %}
                    {{ result.mobile }}
                  {% else %}
                    {{ app.user.nickname }}
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        {% endfor %}
        
      </div>
      {{ web_macro.paginator(faceDetectPaginator) }}
    {% else %}
      <div class="col-md-12">
        <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
            <thead>
              <tr>
                <th>手机号</th>
                <th>IP地址</th>
                <th>登录时间</th>
              </tr>
            </thead>
            <tbody>
              {% if loginDetail %}
              {% for data in loginDetail %}
                <tr>
                  <td>{{ user.nickname }}</td>
                  <td>{{data.ip}}</td>
                  <td>{{data.createdTime|date("Y-m-d H:i:s")}}</td>
                </tr>
              {% endfor %}
              {% endif %}
            </tbody>
        </table>    
        {{ web_macro.paginator(loginPaginator) }}
      </div>
    {% endif %} 
    
  </div>
    
</div>



{% endblock %}




