{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ user.id }}">
  <td>
    {% if user.verifiedMobile %}
      {{ user.verifiedMobile }}<span class="text-success">(已绑定)</span>
    {% else %}
       -- 
    {% endif %}
  </td>

{% if (role!='ROLE_TEACHER') and (role!='ROLE_ADMIN') and (role!='ROLE_SUPER_ADMIN') %}
  <td>
    {% if profile.idcard %}
      {{ profile.idcard }}
    {% else %}
      --
    {% endif %}
  </td>
{% endif %}

{% if role=='ROLE_TEACHER' or role=='ROLE_ADMIN' or role=='ROLE_SUPER_ADMIN' %}
  <td>
    {% if user.areaName|default(false) %}
      {{ user.areaName }}
    {% else %}
      --
    {% endif %} 
  </td>
 {% else %} 
  <td>
    {% if area %}
      {{ area.name }}
    {% else %}
      --
    {% endif %}
  </td>
{% endif %}

  <td>
    <span class="text-sm">{{ user.createdTime|date('Y-n-d H:i:s') }}</span>
    <br>
    <span class="text-muted text-sm">
    <a class="text-muted text-sm" href="http://www.baidu.com/s?wd={{ user.createdIp }}" target="_blank">{{ user.createdIp }}</a>
    {{convertIP(user.createdIp)}}
  </span>
    <span></span>
  </td>
  <td>
    <span class="text-sm">
      {% if user.loginTime == 0 %}
       --
      {% else %}
        {{ user.loginTime|date('Y-n-d H:i:s') }}
      {% endif %}
    </span>
    <br>
    <span class="text-muted text-sm">
    <a class="text-muted text-sm" href="http://www.baidu.com/s?wd={{ user.loginIp }}" target="_blank">{{ user.loginIp }}</a>
    {{convertIP(user.loginIp)}}
  </span>
  </td>
  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_show', {id:user.id}) }}" data-url="" class="btn btn-default btn-sm">查看</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_edit', {id:user.id}) }}">编辑用户信息</a></li>

        {% if 'ROLE_SUPER_ADMIN' not in app.user.roles %}
            {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                  <li></li>
             {% else %}
                   <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a></li>
            {% endif %}
       {% else %}
                   <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a></li>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}

        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_avatar', {id:user.id}) }}">修改用户头像</a></li>

        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_change_password', {userId:user.id}) }}">修改密码</a></li>

        {% endif %}

        <li><a class="send-passwordreset-email" href="javascript:" data-url="{{ path('admin_user_send_passwordreset_email', {id:user.id}) }}">发送密码重置邮件</a></li>

        <li><a class="send-emailverify-email" href="javascript:" data-url="{{ path('admin_user_send_emailverify_email', {id:user.id}) }}">发送Email验证邮件</a></li>

        <li><a class="clear_face" href="javascript:" data-url="{{ path('admin_user_clearFace', {id:user.id}) }}">清除人脸</a></li>

        {% if user.locked %}
          <li><a class="unlock-user" href="javascript:" title="解禁用户{{ user.nickname }}" data-url="{{ path('admin_user_unlock', {id:user.id }) }}">解禁用户</a></li>
        {% else %}
              {% if 'ROLE_SUPER_ADMIN' not in app.user.roles %}
                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                          <li></li>
                           {% else %}
                            <li><a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a></li>
                    {% endif %}
               {% else %}
                   <li><a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a></li>
              {% endif %}
        {% endif %}

        <li><a class="reset2ToLearner" href="#modal" data-toggle="modal" data-url="{{ path('admin_user_reset2ToLearner', {id:user.id}) }}" style="display:none">变为待学学员</a></li>
      </ul>
    </div>
  </td>
</tr>

