  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="nickname">用户名</label>
    </div>
    <div style="margin-top: 7px;">
    {{ user.nickname }}
    </div>
  </div>

   <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="truename">真实姓名</label>
    </div>
    <div style="margin-top: 7px;">
      {{userApprovalInfo.truename}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="idcard">身份证号码</label>
    </div>
    <div style="margin-top: 7px;">
      {{userApprovalInfo.idcard}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="faceImg">身份证正面照</label>
    </div>
    <div>
     <a href="{{ url('show_idcard', {userId: user.id, type:'face'})}}" target="_blank">
     <img src="{{url('show_idcard', {userId: user.id, type:'face'})}}" width="400" />
     </a>
    </div>
  </div>

 {% if area.faceable|default(false) %}
    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="faceImg">注册采集照片</label>
      </div>
      {% if user.faceImgPath|default('') != '' %}
        <div>
          <img src="{{ url('show_register_face', {userId:user.id}) }} " width="400" />       
        </div>
      {% else %}
        注册图片采集失败!
      {% endif %}
    </div>
  {% else %}
    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for=""></label>
      </div>
      <div>
       <div class="alert alert-danger " role="alert">
        <i class="glyphicon glyphicon-info-sign"></i>该学员所在的行政区域（{{ area.name|default() }}）不支持人脸识别。
      </div>
      </div>
    </div>
  {% endif %}
  
  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="backImg">手持身份证照</label>
    </div>
    <div>
     <a href="{{ url('show_idcard', {userId: user.id, type:'back'})}}" target="_blank">
     <img src="{{url('show_idcard', {userId: user.id, type:'back'})}}" width="400" />
     </a>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="backImg">从业资格证照片</label>
    </div>
    <div>
      {% if (userApprovalInfo.jobsSeniorityCardImg|default('') != '') %}
        <a href="{{ url('show_idcard', {userId: user.id, type:'jobsSeniorityCard'})}}" target="_blank">
          <img src="{{url('show_idcard', {userId: user.id, type:'jobsSeniorityCard'})}}" width="400" />
        </a>
      {% else %}
        <p style="margin-top: 5px;">学员暂没上传照片!</p>
      {% endif %}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="backImg">驾驶证照片</label>
    </div>
    <div>
      {% if (userApprovalInfo.driverLicenseImg|default('') != '') %}
        <a href="{{ url('show_idcard', {userId: user.id, type:'driverLicense'})}}" target="_blank">
          <img src="{{url('show_idcard', {userId: user.id, type:'driverLicense'})}}" width="400" />
        </a>
      {% else %}
        <p style="margin-top: 5px;">学员暂没上传照片!</p>
      {% endif %}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="backImg">其他照片</label>
    </div>
    <div>
      {% if (userApprovalInfo.otherImg|default('') != '') %}
        <a href="{{ url('show_idcard', {userId: user.id, type:'other'})}}" target="_blank">
          <img src="{{url('show_idcard', {userId: user.id, type:'other'})}}" width="400" />
        </a>
      {% else %}
        <p style="margin-top: 5px;">学员暂没上传照片!</p>
      {% endif %}
    </div>
  </div>