<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>银联在线支付-银行卡综合性网上交易转接清算平台！</title>
        
    
<link rel="shortcut icon" href="https://static.95516.com/gw/b2c/resources/upop/zh_CN/images/global/favicon.ico" type="image/x-icon" />
<link href='https://static.95516.com/gw/b2c/resources/upop/zh_CN/css/up.pos.css?v=2276cc42dd011bccb0d5d4368c5ed82d' rel="stylesheet" type="text/css" />
<link href='https://static.95516.com/gw/b2c/resources/upop/zh_CN/css/up.global.upop.css?v=d7efcc2ff9dcf85590b93d7f2ff8d6fe' rel="stylesheet" type="text/css" />

</head>

<body>

<div id="upopNoticeInfo2" style="width:950px; margin:0 auto; ">
    <div id="upgg_location-63"></div>
</div>
<div class="header_wrap">
    <div class="header">
        <div class="fl">
            <a id="header-online-unionpay-href-id2" href="https://www.95516.com/" target="_blank" class="logo_unionPay">银联在线支付</a>
            <div id="upgg_location-87"></div>
        </div>
        <div class="fr">
                            <p class="userlogin">
                    <a id="header-online-unionpay-href-id" href="https://www.95516.com/" target="_blank">首页</a>|<a id="header-help-center-id" href="https://static.95516.com/static/help/index.html" target="_blank">帮助中心</a>
                    <em>|</em><div class="select_box" locale="en_US" ><span id="laguage_select" class="laguage_select" locale="en_US" title="Change language&#13;更改语言">English</span><ul class="select_item dn"><li><a href="#" locale="zh_TW">繁體中文</a></li><li><a href="#" locale="ja_JP">日本語</a></li><li><a href="#" locale="ko_KR">한국어</a></li><li><a href="#" locale="fr_FR">Français</a></li><li><a href="#" locale="es_ES">Español</a></li><li><a href="#" locale="ru_RU">русский</a></li><li><a href="#" locale="pt_PT">Português</a></li><li><a href="#" locale="ar_AR">عربي </a></li></ul></div>                </p>
                        <strong>24小时客服热线95516</strong>
        </div>
    </div>
</div>
<div class="content clearfix">






<div class="order clearfix">
    <input type="hidden" id="merCode" name="merCode" value="898111148160338" />



    <!--消费方式  todo transType.getCode-->
    
    <div class="order_main">
        <p class=" order_sum ">
			<span class="item_title">
                                    订单金额：
                            </span><em class="order_money">1.50</em>
            <em id="pay-currency-type" >
                                    元
                </em>
        </p>
        <p class=" order_num " title="48faa662f75e4268b0170b0a676119f2" >订单编号：48faa662f7...676119f2</p>
        <p class="fl txt_over" title="北京百度网讯科技有限公司" ><img src="https://static.95516.com/static/merchant/logos4gateway/898111148160338.gif" onerror="this.style.display='none';document.getElementById('merchantNameDisplay_id').style.width='240px';"/><em id="merchantNameDisplay_id"></em></p>

                <div class="order_flag">
                <a id="order-details-down-id" class="down">订单详情<span>[+]</span></a><a id="order-details-up-id" class="up dn">订单详情<span>[-]</span></a>


            </div>
    

    </div>

    <div class="order_detail dn">
        <div class="order_others">

            <p class=" order_date ">交易日期：2016-07-14</p>
            <p class=" order_sort ">
                交易种类：
                                    <!--<p:enum instance="01" />  todo-->
                    直接消费                            </p>
            <p class="order_mon">
                交易币种：
                                    人民币
                            </p>
        </div>
                <div class="order_jigou">本商户由银联合作机构提供收单服务：北京银联商务</div>
    </div>



    <div class="upgg_location_242_class"   >
        <div id="upgg_location-242"></div>
    </div>



</div>
<div class="order_prompt clearfix">
    <div class="pos_notify">
        <div id="upgg_location-41"></div>
    </div>
    </div><div class="enter clearfix">
    <div class="blue_title">
        <span class="blue_lf"></span>
        <div class="pay_tab"><span class="tab_lf"></span><span class="tab_txt">银联卡支付</span><span class="tab_rt"></span></div>
                                                        <div class="tab"></div>
                                                                    <div class="tab"></span></div>
                    
        <span class="blue_rt"></span>
    </div>
    <div class="tab_content index_bg">
        <div class="ct_bg clearfix">
            <div class="clear"></div>
                                    <form action="/b2c/showCard.action?transNumber=201607140138469339888" id="cardPayForm" method="post">
                <input type="hidden" id="PageEname" name="PageEname" value="index"/>
                <input type="hidden" name="machineInfo" id="machineInfo_bankcard" />
                <input type="hidden" name="machineInfoDecodeKey" id="machineInfoDecodeKey" value="SrJKqVew"/>
                <div class="enter_box fl">
                    <div class="box_content box_rt clearfix">
                        <div class="info_line" style=" padding-bottom:10px;">
                            <div class="label_item card_title" >                                                                                                            <b>直接付款</b>                                                                                                </div>
                        </div>
                        <div class="info_line">
                            <div class="pay_proce"></div>
                        </div>
                        <div class="info_line">
                            <div style="padding-left:70px;position:relative;" class="ipt_box bankNumber">
                                <input style="width:324px; height:43px; line-height:43px; font-size:14px; font-family:Arial, Helvetica, sans-serif;"   type="text" name="cardNumber"  class="ipt_txt note put_bank" autocomplete="off"
                                       maxlength="23"
                                       id="cardNumber"/><span class="close_val dn"></span>
                                <img  id="queryBank_ajax_loading" class="queryBank_ajax_loading_index dn" src="https://static.95516.com/gw/b2c/resources/upop/zh_CN/images/global/loading_sms.gif" />
                            </div>
                            <div class="clear"></div>
                            <div id="cardNumberTip"></div>
                        </div>
                        <div class="btn_line" style="padding-left:70px;">
                            <input type="button" class="btn_blue" value='下一步' id="btnNext"/>
                                                                                                <a id="cardPay-learn-flash-id" class="user_icon learn_flash_card">新手操作演示</a>
                                                            
                        </div>
                    </div>
                </div>
            </form>
            <form action="/b2c/unionLoginSubmit.action?transNumber=201607140138469339888" id="loginForm" method="post">
                <input type="hidden" name="machineInfo" id="machineInfo_username" />
                <input type="hidden" name="machineInfoDecodeKey" id="machineInfoDecodeKey" value="SrJKqVew"/>
                <div id="loginDiv" class="enter_box fr" >
                    <div class="box_content label_fix clearfix">
                        <div class="notice_height">
                            <!-- todo -->

                                                    </div>
                        <div class="item_top"><b>登录付款</b></div>
                        <div class="info_line">
                            <div class="label_item">用户名：</div>
                            <div class="ipt_box userName" style="position:relative;">
                                <input type="text" tabindex="1" name="loginName" id="userName" value="" class="ipt_txt note user_name" maxlength="64"/>
                                <span class="close_val_username dn"></span>
                                <a id="upopFasterRegister">快速注册</a>
                            </div>
                            <div class="clear"></div>
                            <div id="userNameTip">
                            </div>
                        </div>
                        <div class="info_line">
                            <div class="label_item">密　码：</div>
                            <div class="ipt_box passwd">
                                <input type="hidden" name="password" id="password" value=""/>
                                <div style="float: left;" id="login_password">
                                    <input type="text" name="mockLoginPassword" id="mockLoginPassword" class="ipt_txt CardDefault dn" style="height:28px;" maxlength="64"/>
                                </div>
                                <a id="password-forget-id" href="https://user.95516.com/pages/findpwd/index.html?sysIdStr=YGfjepqMep092M5" target="_blank" style="display:inline-block;vertical-align:top;padding-top:6px;float: left;">&nbsp;忘记密码？</a>
                            </div>
                            <div class="clear"></div>
                            <div class="note_info" id="passwordTip" style="margin-left:0px;"></div>
                        </div>

                                                <div class="info_line agr">
                            <input type="checkbox" id="isCheckAgreement" disabled="disabled" checked="checked" name="agreement" class="serve_ch" />
                            <span>我已阅读并接受</span>
                                                            <a id="agreement-service-href-id" href="https://user.95516.com/pages/misc/agree.html" target="_blank">银联用户服务协议</a>
                            
                            <div id="isCheckAgreementTip" >请确认您已阅读并接受银联用户服务协议</div>
                        </div>
                        <div class="btn_line">
                            <input type="submit" class="btn_blue139p" value='登录付款' id="btnSubmit"/>
                                                                                    <a id="login-flash-learn-id" class="user_icon learn_flash_login">新手操作演示</a>
                                                    
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="sup_bank" id="bankSupportList"></div>
<div class="ad_index clearfix">
    <div id="upgg_location-42"></div>
    <div id="upgg_location-43"></div>
</div>

<div class="pay_qa" style="border-top:1px solid #ddd;padding-top:15px;">
    <h2>支付遇到问题？</h2>
    <dl>
        <dt>1.如果我没有注册，如何进行付款？</dt>
        <dd style="display:block">答：如果您没有注册账户，您可以在页面左侧直接输入卡号，点击“下一步”进行付款。您输入的银行卡信息需通过发卡行验证后才能完成交易，安全又便捷。</dd>
            <dt>2.为什么要安装控件？控件不能下载，我该如何解决？</dt>
        <dd>答：安装输入控件可以保障您输入信息的安全，防止密码被窃取；点击密码输入框中的提示链接或<a id="upeditor-download-id" class="installUPEditor">这里</a>下载安装。</dd>
        <dt>3.付款时，遇到提示"网站安全证书有问题"，我该如何解决？</dt>
        <dd>答：您需要点击<a id="basic-certification-download-id" href="https://static.95516.com/static/basis/cer/root.zip" target="_blank">这里</a>重新安装浏览器根证书，安装具体过程可以点击<a
                href="https://static.95516.com/static/page/help2/help/detail_16.html#active_mail_1" target="_blank">这里</a>到帮助中心中查看。浏览器根证书可用来保障您的网络购物环境更安全，让您的银联在线支付付款体验更顺畅。
        </dd>
     
    </dl>
    <p class="pay_qa_more">如需查看更多问题，请点击<a id="help-center-id" target="_blank" href="https://static.95516.com/static/help/index.html">帮助中心</a>
        或联系<a id="unionpay-customer-service-url-id" target="_blank" href="https://95516.unionpay.com/web/icc/chat/chat?c=1&s=4&st=1&depid=ff8080813daaa230013de380641900ec&">在线客服</a>
</p>
</div><div class="reg_pop dn">
    <p class="ebank_title">快速注册</p>
    <div class="ebank_link">
        <p style="padding:0 0 20px 95px;">请在新开页面完成注册</p>
        <input id="reg_pop_button" type="button" class="btn_blue btn_reg"
               value='注册成功，继续支付' style="margin-left:90px"/>
        <a id="reg_pop_cancelbtn" style="font-size:12px;color:#497DA4;padding-left:10px;">取消注册</a>
    </div>
</div>



</div>




<div class="footer">
    <div><a id="china-unionpay-href-id" href="http://cn.unionpay.com/" target="_blank">银联官网</a>|<a id="footer-online-unionpay-href-id" href="https://www.95516.com/" target="_blank">银联在线支付</a>|<a id="online-unionpay-about-href-id" href="http://static.95516.com/static/page/177.html" target="_blank">关于我们</a>|<a id="online-unionpay-terms-href-id" href="http://static.95516.com/static/page/183.html" target="_blank">网站使用条款</a></div>
    <p>中国银联股份有限公司版权所有 &copy; 2002-2015 <em>沪ICP备07032180号</em></p>
</div>

<div class="dn" id="hidden_area">
    <input type="hidden" name="devTrace" value="112.30">
    <input type="hidden" name="upop_release_version" value="r_1_0_0">
    <input type="hidden" name="skipPwd" id="skipPwd" value="false"/>    <div class="dn" id="upeditorMachineInfo_area"></div>
    <input type="hidden" name="secureKey_id" id="secureKey_id" value="SrJKqVew">
    <input type="hidden" name="vc_key_seed" id="vc_key_seed" value="0374704258657852488"/></div>
<div id="upeditorMachineInfo_area"></div>


</body>
</html>