{% if item.type == 'unit' %}
  <li class="section">
    <span class="title">
    {% if true %} 
      第 {{ item.number }} 节：
    {% endif  %} 
    {{ item.title }}        
      {% if isAdmin or unitHours[item.parentId][item.number]|default (0)  != '0' %}
        {% if unitHours[item.parentId][item.number]|default (0) != '0'  %}
          {{ unitHours[item.parentId][item.number]|default(0) }}分钟
        {% endif %}
      {% endif %}
    </span>
  </li>
{% else %}
  <li class="chapter clearfix">
    <i class="es-icon es-icon-toc"></i>
    <span class="title">
      {% if true %} 
        第 {{ item.number }} 章：
      {% endif %}
        {{ item.title }}        
          {% if isAdmin or chapterHours[item.number]|default (0) != '0' %}
            {% if chapterHours[item.number]|default (0) != '0'  %}
              {{ chapterHours[item.number]|default(0) }}分钟
            {% endif %}
          {% endif %}
      </span>
    </span>
    <span class="period-show"><i class="es-icon es-icon-remove"></i></span>
  </li>
{% endif %}