{% import "CustomWebBundle::macro.html.twig" as web_macro %}
{% if lessonViews %}
  <table class='table table-striped mtl '>
  <thead>
    <tr>
      <th>学习次数</th>
      <th>本次学习开始时间</th>
      <th>本次学习时长</th>
    </tr>
  </thead>
  <tbody>
      {% for k,lessonView in lessonViews %}
        <tr>                  
          <th>{{ count - k}}</th>
          <th>{{ lessonView.createdTime | date('Y-m-d H:i:s') }}</th>
          <th>{{ lessonView.watchTime|default(0)|duration_text }}</th>
        </tr>                
      {% endfor %}    
  </tbody>
</table>
<div id='paginator-{{lessonId}}'>
  {{ web_macro.paginator(paginator) }}
</div>

{# {% if paginator.lastPage > 1 %}
  <nav class=" {{ class|default('text-center') }}" >
    <ul class="pagination" data-lessonId='{{lessonId}}'>
      {% if paginator.currentPage != paginator.firstPage %}
        <li><a  href='javascript:;' data-url="{{ paginator.getPageUrl(paginator.firstPage) }}">首页</a></li>
        <li><a  href='javascript:;' data-url="{{ paginator.getPageUrl(paginator.previousPage) }}"><i class="es-icon es-icon-chevronleft"></i></a></li>
      {% endif %}
      {% for page in paginator.pages %}
        <li {% if page == paginator.currentPage %}class="active"{% endif %}><a href='javascript:;' data-url="{{ paginator.getPageUrl(page) }}">{{ page }}</a></li>
      {% endfor %}

      {% if paginator.currentPage != paginator.lastPage %}
        <li><a  href='javascript:;' data-url="{{ paginator.getPageUrl(paginator.nextPage) }}"><i class="es-icon es-icon-chevronright"></i></a></li>
        <li><a  href='javascript:;' data-url="{{ paginator.getPageUrl(paginator.getLastPage()) }}">尾页</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %} #}

<script>
var lessonId = {{lessonId}};
$(function(){
  if(lessonId)
  {
    var $paginator = $('#paginator-'+lessonId);
    if($paginator.size())
    {
      $paginator.find('a').on('click',function(event){
        event.preventDefault();
        var url = $(this).attr('href');
        $paginator.parent().load(url);
      });
    }
  }  
})
</script>

{% endif %}

