<style>
.disabled, [disabled], fieldset[disabled]{
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
</style>

{% if member %}
  {% set type = course.type == 'certification' ? 'course_certification_learn' : 'course_learn' %}
  {% set certificationLessonLearn = certificationLessonLearns[item.id]|default(false) %}
  {% if certificationLessonLearn or item.id == nextLessonId|default(false) or not areaCertification.sequentialLearning %}
    {% set lessonUrl = path(type,{id:course.id}) ~ '#lesson/' ~ item.id %}
  {% else %}
    {% set lessonUrl = '' %}
    {% set disabled = "disabled = 'disabled'" %}     
  {% endif %}
{% else %}
  {% set lessonUrl = previewUrl ~ '?lessonId=' ~ item.id%}
{% endif %}
 
<li class='certification period lesson-item lesson-item-{{ item.id }}' data-id='{{ item.id }}' data-num='{{ loop.index }}' data-type='{{item.type}}' data-is-finished="{{learnStatuses[item.id]|default(null) == 'finished'}}">
  {% if item.status == 'published' %}
    {% if item.free or member or course.buyable or course.tryLookable %}           

      <a 
        {% if isLogin %}
          {% if certificationCourse.isRevoked|default(0) != 1 %}
            {% if member or isAdmin %}

              {% if (not member.locked|default(false) and certificationCourse.learnable|default (false)) or isAdmin%}
                class="lessonLink" href="javascript: void(0);"
                onclick="rememberPlayTimeAndReloadIfNeed(this)" data-url='{{ lessonUrl }}'
              {% else %}
                {{ disabled|default('disabled')}}
              {% endif %}

            {% elseif not member and certificationCourse.buyable|default (false) and (certificationCourse.nowTime|default (0) >= certificationCourse.startTime|default (0))%}
              href="#modal" data-toggle="modal" data-url="{{ lessonUrl }}"
            {% else %}
              {{ disabled|default('disabled')}}
            {% endif %}
            title="{{ item.title }}"

            {% if (certificationCourse.nowTime|default ('9999-12-30') < certificationCourse.startTime|default ('9999-12-30')) %}
              {{ disabled|default('disabled')}} 
            {% endif %}
            {{ disabled|default('')}}
          {% else %}
            {{ disabled|default('disabled')}}
          {% endif %}
        {% else %}
          href="#modal" data-toggle="modal" data-url="{{ lessonUrl }}"
        {% endif %}
        title="{{ item.title }}"

        {% if (certificationCourse.nowTime|default ('9999-12-30') < certificationCourse.startTime|default(null)) %}
          {{ disabled|default('disabled')}}
        {% endif %}
        {{ disabled|default('')}}     
        >

      {% include 'CustomWebBundle:CourseLesson/Part:status-ball.html.twig' %}
      <span class="title">
        {% if setting('course.custom_chapter_enabled')|default(true) %}
          课时{{ item.number }}：
        {% endif %}
        {{ item.title }}    
        {% if isAdmin %}
          {% if suggestHoursForAdmin[item.id]|default (0) != '0'  %}
            {{suggestHoursForAdmin[item.id]|default(0) }}分钟
          {% endif %}
        {% endif %}        
      </span>
      {% include 'TopxiaWebBundle:CourseLesson/Part:micro-tips.html.twig' %}
      </a>
      {% if showStates|default(false) %}
        <!-- 此 超链接通过 js 放到 课时图片右边 -->
        <a class='toggleStatus' href="javascript:;" data-id="{{item.id}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
        <div class='states color-gray   hide text-sm mtm' >
        {% if certificationLessonLearn %}
            {% set watchTime = watchTimeList[item.id]|default(0) %}    
            <span class="glyphicon glyphicon-time prs"></span>{{ item.suggestHours|default(0) }}分钟
            <span>
              完成起止时间：{{ certificationLessonLearn.startTime | date('Y.m.d H:i')}} - {{ certificationLessonLearn.finishedTime ? certificationLessonLearn.finishedTime | date('Y.m.d H:i') : '未完成'}}   
              历时： {{ watchTime.watchTime|default(0)|duration_text }} 
              人脸识别：{{ lessonDetectCountGroups[item.id]['count'] |default(0) }}次
            </span>
            <div class="lessonView-div" id="lessonView-div-{{item.id}}" data-url="{{path('lessonView_list',{lessonId:item.id} )}}">
            </div>
               
        {% endif %}
        </div>

      {% endif %}
    {% else %}
      {% include 'TopxiaWebBundle:CourseLesson/Part:status-ball.html.twig' %}
      <span class="title">  
        {% if setting('course.custom_chapter_enabled')|default(true) %} 
          课时{{ item.number }}：
        {% endif %}{{ item.title }}
      </span>
      {% include 'TopxiaWebBundle:CourseLesson/Part:micro-tips.html.twig' %}
    {% endif %}
  {% else %}
    {% include 'TopxiaWebBundle:CourseLesson/Part:status-ball.html.twig' %}
    <span class="title">
      {% if setting('course.custom_chapter_enabled')|default(true) %}
        课时{{ item.number }}：
      {% endif %}{{ item.title }}
    </span>
    {% include 'TopxiaWebBundle:CourseLesson/Part:micro-tips.html.twig' %}
  {% endif %}
    <input type="hidden" name="order_status" value="{{ orderStatus|default(0) }}">
</li>

<script type='text/javascript'>
  /**
   * 视频播放时, 由于url只有描点不同, 不同课时切换不会刷新页面, 
   *   导致 无法监听到其切换视频, 同时会有找不到player 的js错误
   *
   * 视频播放, 切换课时的时候, 强制刷新
   */
  function rememberPlayTimeAndReloadIfNeed(eleHyperlink) {
    if (!$(eleHyperlink).attr('disabled')) {
      var eleUserLearnInfo = $('.userLearnInfo');
      if (eleUserLearnInfo.attr('data-is-exceeding') !== undefined) {
        var eleContainer = $(eleHyperlink).parent();
        if (eleContainer.data('type') === 'video' && eleContainer.data('isFinished') !== 1) {
          alert('今日学习时间已超出每日最大限制: ' + eleUserLearnInfo.data('maxLearningMinutes') + '分钟');
          return;
        }
      }

      if (typeof window.frames['viewerIframe'] != "undefined" && typeof window.frames['viewerIframe'].window != "undefined" && window.frames['viewerIframe'].window.BalloonPlayer!= "undefined") {  //视频播放页
        var player = window.frames['viewerIframe'].window.BalloonPlayer; 
        currentTime = player.getCurrentTime(); 
      }
      lessonUrl = $(eleHyperlink).attr('data-url');
      window.location.href = lessonUrl; 

      if (typeof window.frames['viewerIframe'] != "undefined") { //视频播放页
        window.location.reload();
      }
    } 
  }

  function rememberPlayTimeWhenNextPrevLesson(lessonId)
  {
    if (typeof window.frames['viewerIframe'] != "undefined")
    {
      var player = window.frames['viewerIframe'].window.BalloonPlayer;
      currentTime = player.getCurrentTime();
    }
    window.location.href = window.location.href.split("#")[0] + "#lesson/" + lessonId;
    window.location.reload();    
  }
</script>