{% if learnStatuses[item.id]|default(null) and certificationCourse.learnable|default(false) %}
  {% if learnStatuses[item.id] == 'finished' %}
    <i class="zh-icon zh-icon-jiesuo text-success status-icon"></i>
  {% else %}
    <i class="es-icon es-icon-doing text-success  status-icon"></i>
  {% endif %}
{% else %}
  <i class="zh-icon zh-icon-suodan status-icon"></i>
{% endif %}
{% if not member %}
{% if fromPlugin|default(false) == false %}
	{{ render(controller('TopxiaWebBundle:CourseLesson:statusLabel', {courseId:course.id,lessonId:item.id})) }}
{% endif %}
{% endif %}
