{% extends 'CustomWebBundle:CourseQuestionManage:certification-question-form-layout.html.twig' %}

{% set question_stem_help = '点击编辑器按钮 <span style="color:red">[ ]</span>  可以插入填空项；也可手工输入，例如“今年是[[2014|马]]年”，回答“2014”或者“马”都算答对'|trans|raw %}
