
@font-face {font-family: "zh-icon";
  src: url('../zh-icon/iconfont.eot?t=1470109565'); /* IE9*/
  src: url('../zh-icon/iconfont.eot?t=1470109565#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../zh-icon/iconfont.woff?t=1470109565') format('woff'), /* chrome, firefox */
  url('../zh-icon/iconfont.ttf?t=1470109565') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../zh-icon/iconfont.svg?t=1470109565#zh-icon') format('svg'); /* iOS 4.1- */
}

.zh-icon {
  font-family:"zh-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.zh-icon-jiesuo:before { content: "\e605"; }
.zh-icon-suodan:before { content: "\e606"; }
.zh-icon-qi:before { content: "\e600"; }
.zh-icon-xin:before { content: "\e603"; }
.zh-icon-icon1:before { content: "\e601"; }
.zh-icon-rongyuzhengshu:before { content: "\e602"; }
