/**变量**/
.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
/* =========================== media =========================== */
.period-list .period .title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.period-list .period .zh-icon-suodan,
.period-list .period .zh-icon-jiesuo {
  position: absolute;
  top: 9px;
  left: 15px;
}
.period-list .period.certification > a.toggleStatus {
  position: absolute;
  right: -1px;
  margin-top: 4px;
  top: 10px;
}
.zh-control-label {
  padding-left: 64px;
}
@media (max-width: 1199px) {
  .zh-control-label {
    padding-left: 50px;
  }
}
.zh-user {
  position: absolute;
  right: 50px;
}
@media (max-width: 1199px) {
  .zh-user {
    position: relative;
    right: auto;
    padding-left: 50px;
    margin-bottom: 10px;
  }
}
.zh-user img {
  width: 100px;
}
.zh-user .form-group {
  margin-bottom: 0;
}
.zh-testpaper-question-choice-inputs {
  float: none;
}
.order-table td {
  break-word: break-word;
}
.cke_button__kityformula {
  display: none !important;
}
/**模块**/
.branch-section {
  background: #ff7200;
}
.branch-section .branch-nav {
  padding: 0px;
  margin: 0px;
}
.branch-section .branch-nav li {
  list-style: none;
}
.branch-section .branch-nav > li {
  background: #ff8200;
  width: 160px;
  list-style-type: none;
  float: left;
  height: 50px;
  padding: 0px 50px;
  line-height: 50px;
}
.branch-section .branch-nav > li > a {
  color: #f1f1f1;
}
.branch-section .branch-nav .branch-nav-menu {
  display: block;
  border-radius: 0px;
  height: 450px;
}
.right-toggle:hover > ul {
  display: block;
}
.right-toggle .right-toggle-hover {
  position: relative;
}
.right-toggle .right-toggle-menu {
  padding: 0px;
  display: none;
  width: 160px;
  background: white;
  position: absolute;
  left: 160px;
  top: 0px;
}
.right-toggle .right-toggle-menu li {
  text-align: center;
  margin: 0;
}
.right-toggle .right-toggle-menu li a {
  display: inline-block;
  height: 40px;
  padding: 10px 0px;
  line-height: 20px;
  width: 100%;
  transition: all .5s ease;
}
.right-toggle .right-toggle-menu li a:hover {
  background: #46c37b;
  color: white;
}
#nav > li {
  width: 100px;
}
#nav > li > a {
  color: #f1f1f1;
}
.sending {
  background: #ccc;
}
.manage-form .form-group-btn {
  position: relative;
}
.manage-form .form-group-btn .form-control {
  width: 65%;
}
.manage-form .form-group-btn .smsSendBtn {
  color: white;
  width: 30%;
  background: #02b980;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 1.125rem;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border: 1px solid #cccccc;
}
.has-error .input-group-addon {
  border: 1px solid  #a94442!important;
  color: #a94442!important;
  background-color: #f2dede!important;
}
.es-header {
  background: white;
  padding: 0px;
}
.es-header .navbar-brand {
  color: #ff7200 !important;
  position: relative;
  left: 10px;
}
.es-header .zh-search {
  border: 1px solid #ff7200 !important;
}
.zh-course-list {
  margin: 0;
}
.zh-course-list .course-grid {
  margin: 0 0 20px;
  border: none;
  position: relative;
}
.zh-course-list .course-grid .mask {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0;
  font-size: 12px;
  padding: 5px;
}
.zh-course-list .course-grid .title {
  min-height: auto;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.zh-course-list .course-grid .title a {
  color: #616161;
}
.zh-course-list .course-grid .course-content {
  border: 1px solid #ddd;
}
.zh-course-list .course-grid .grid-body {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
}
.zh-course-list .course-grid .metas,
.zh-course-list .course-grid .learn-status {
  height: 98px;
}
.zh-course-list .course-grid .learn-status {
  margin: 0;
}
.zh-course-list .course-grid .progress {
  margin: 0 0 15px;
  height: 15px;
}
.zh-nav-pills li {
  max-width: 180px;
}
.zh-nav-pills li a {
  max-width: 180px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.zh-certification .certification-content {
  width: 280px;
  height: 180px;
  background: url("../img/certificate.png") no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.zh-certification .certification-content p {
  font-size: 16px;
  padding: 34px 28px 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.zh-certification .certification-content .metas {
  text-align: left;
  width: 185px;
  margin: 0 auto;
  font-size: 12px;
  height: 65px;
  overflow: hidden;
}
.zh-certification .certification-content > span {
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin-top: 10px;
  padding: 0 34px;
}
.zh-underline {
  border-bottom: 1px dashed #ddd;
}
.period .lesson-item {
  position: absolute;
  right: 50px;
  top: 11px;
}
.buy-info-header {
  height: 60px;
  background-color: #0F1012;
}
.buy-info-header a {
  color: #fff;
  line-height: 60px;
}
.buy-info-header .buy-header-title {
  font-size: 20px;
  color: #fff;
  margin-right: -44px;
  position: absolute;
  top: 16px;
  right: 50%;
}
#award-form {
  margin-top: 15px;
  font-size: 15px;
}
#award-form .active-group {
  background-color: #fff;
  list-style-type: none;
  padding-left: 15px;
}
#award-form .active-group li {
  border-bottom: 1px solid #e5e5e5;
}
#award-form .active-group li:last-child {
  border-bottom: none;
}
#award-form .active-group li input {
  padding: 12px 0;
  border: none;
  width: 70%;
}
#award-form .active-group li input:focus {
  outline-width: 0;
}
#award-form .active-group .choose-area {
  margin-right: 15px;
  position: relative;
}
#award-form .active-group .choose-area > span {
  position: absolute;
  top: 12px;
}
#award-form .active-group .choose-area > select {
  padding-left: 80px;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  height: 45px;
  border: none;
  margin-bottom: 0;
  appearance: none;
  -moz-appearance: none搜索;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari 和 Chrome */
}
.award-btn {
  color: #fff;
  width: 90%;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #1AAE18;
}
.bg-buy-success {
  background-color: #fff;
  min-height: 700px;
}
.bg-buy-success .success-done-top {
  padding-top: 60px;
  padding-bottom: 30px;
}
.bg-buy-success .success-done-top .success-done-icon {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #1AAE18;
}
.bg-buy-success .success-done-top .success-done-icon .success-icon {
  font-size: 90px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
}
.bg-buy-success .success-done-body .spend-font {
  font-size: 28px;
  color: #000;
}
.bg-buy-success .success-done-body .rest-font {
  font-size: 20px;
  margin-bottom: 40px;
}
.bg-buy-success .success-done-body .award-btn {
  margin-top: 0;
  border-radius: 10px;
  font-size: 18px;
}
.bg-buy-success .success-done-body .bgc-gray {
  background-color: #f8f8f8;
  color: #000;
  border: 1px solid rgba(5, 5, 5, 0.1);
}
.order-info-page {
  color: #919191;
  margin: 20px 0;
  background-color: #fff;
}
.order-info-page .active-group {
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 0;
  list-style-type: none;
}
.order-info-page .active-group .add-border {
  border-bottom: 1px solid #e5e5e5;
}
.order-info-page .active-group .money-size {
  float: right;
  color: #313131;
  line-height: 30px;
  font-size: 30px;
}
