{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-lg" %}

{% block title %}选择已有版本课程{% endblock %}
{% block body %}
<style>
.course-item:hover {
    cursor: pointer;
}
.course-wide-list .course-item .select{

}
</style>

<div class="row mtl">
  {% if all|default(false) %}
    <div class="form-group col-md-7">
      <input class="titleSearch form-control" type="text" 
         value="{{conditions['title']|default('')}}"style="width:45%; display: inline-block;" placeholder="请输入课程名称">
      <button class="searchCoursesBtn btn btn-primary">搜索</button>
    </div>

    <div class="col-md-12">
      <div class="courses-list">
        {% include('TopxiaWebBundle:Course:course-select-list.html.twig') %}
        {{ web_macro.paginator(paginator) }}
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}

{% block footer %}
  <button id="sure" class="btn btn-primary pull-right" data-url="{{ path('courses_version_select', {courseId:courseId})}}">添加</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>

  <script>app.load('customwebbundle/controller/course/pick')</script>
{% endblock %}