{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{% if pageNav == 'teach' %}{{'在教课程'|trans}} - {% elseif pageNav == 'learn' %}{{'在学课程'|trans}} - {% elseif pageNav == 'favorited' %}{{'收藏的课程'|trans}} - {% elseif pageNav == 'group' %}{{'加入的小组'|trans}} - {% elseif pageNav == 'friend' %}{{'关注/粉丝'|trans}} - {% else %}{{''}}{% endif %}{{user.nickname}}的个人主页 - {{ parent() }}{% endblock %}

{% block keywords %}{{ user.title }}{% endblock %}
{% block description %}{{ user.about|default('')|plain_text(100) }}{% endblock %}
{% set bodyClass = 'userpage bg-blank' %}
{% set pageNav = pageNav|default(null) %}

{% set script_controller = 'user/user' %}

{% block top_content %}
  {{ render(controller('TopxiaWebBundle:User:headerBlock', {user:user})) }}
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs clearfix">
    <li {% if pageNav == 'about' %}class="active"{% endif %}><a href="{{ path('user_about', {id: user.id}) }}">个人介绍</a></li>
  	{% if 'ROLE_TEACHER' in user.roles %}
	    <li {% if pageNav == 'teach' %}class="active"{% endif %}><a href="{{ path('user_teach', {id: user.id}) }}">{{'在教课程'|trans}}</a></li>
    {% endif %}

    {% if 'ROLE_TEACHER' in user.roles %}
      <li {% if pageNav == 'teaching' %}class="active"{% endif %}><a href="{{ path('user_teaching_classrooms', {id:user.id}) }}">{{'在教'|trans}}{{ setting('classroom.name')|default("班级"|trans) }}</a></li>
    {% endif %}
    <li {% if pageNav == 'learn' %}class="active"{% endif %}><a href="{{ path('user_learn', {id:user.id}) }}">{{'在学课程'|trans}}</a></li>
    <li {% if pageNav == 'learning' %}class="active"{% endif %} style="display:none"><a href="{{ path('user_learning_classrooms', {id:user.id}) }}">{{'在学'|trans}}{{ setting('classroom.name')|default("班级"|trans) }}</a></li>


    <li {% if pageNav == 'favorited' %}class="active"{% endif %}><a href="{{ path('user_favorited', {id:user.id}) }}">{{'收藏课程'|trans}}</a></li>
    <li {% if pageNav == 'group' %}class="active"{% endif %} style="display:none"><a href="{{path('user_group',{id:user.id})}}">{{'加入小组'|trans}}</a></li>
    <li {% if pageNav == 'friend' %}class="active"{% endif %}><a href="{{ path('user_following', {id:user.id}) }}">{{'关注'|trans}}&nbsp;/&nbsp;{{'粉丝'|trans}}</a></li>
  </ul>
  {% block main %}{% endblock %}
{% endblock %}