{% extends 'CustomWebBundle:User:layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% set pageNav = type %}

{% block main %}
  <div class="editor-text">
	 {% if userProfile.about %}
	 	{{userProfile.about|raw}}
	 {% else %}
	 	<div class="empty">暂无介绍</div>
	 {% endif %}
  </div>
{% endblock %}