{% extends 'CustomWebBundle:User:layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% set pageNav = type %}

{% block main %}

  {% if courses %}
    {{render(controller('CustomWebBundle:Course:coursesBlock',{courses:courses,view:'list'}))}}
    <nav class="text-center">
      {{ web_macro.paginator(paginator) }}
    </nav>
  {% endif %}

{% endblock %}

