{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% import "CustomWebBundle::macro.html.twig" as custom_web_macro %}

{% block title %}
    {% if pageNav == 'group' %}{{'加入的小组'|trans}} - 
    {% elseif pageNav == 'friend' %}{{'关注/粉丝'|trans}} - 
    {% else %}{{''}}{% endif %}{{ custom_web_macro.user_nickname_text(user) }}的个人主页 - {{ parent() }}
{% endblock %}

{% block keywords %}{{ user.title }}{% endblock %}
{% block description %}{{ user.about|default('')|plain_text(100) }}{% endblock %}
{% set bodyClass = 'userpage bg-blank' %}
{% set pageNav = pageNav|default(null) %}

{% set script_controller = 'user/user' %}

{% block top_content %}
  {{ render(controller('CustomWebBundle:User:headerBlock',{user:user}))}}
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs clearfix">
    <li {% if pageNav == 'about' %}class="active"{% endif %} style="display:none">
      <a href="{{path('user_about',{id:user.id})}}">个人介绍</a>
    </li>

    <li {%if pageNav == 'group'%}class="active"{% endif %} style="display:none">
      <a href="{{path('user_group',{id:user.id})}}">{{'加入小组'|trans}}</a>
    </li>

    <li {% if pageNav == 'friend' %}class="active"{% endif %}>
      <a href="{{path('user_following',{id:user.id})}}">{{'关注'|trans}}&nbsp;/&nbsp;{{'粉丝'|trans}}</a>
    </li>
  </ul>
  {% block main %}{% endblock %}
{% endblock %}