{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_course_manage' %}

{% set script_controller = 'customadminbundle/controller/course/manage' %}

{% set tab = 'questions' %}

{% block main %}
  {% include 'CustomAdminBundle:Course:tab.html.twig' %}
  <br>
  <div class="well well-sm mtl">
    <form id="message-search-form" class="form-inline" action="" method="get" novalidate>
      <div class="form-group">
        <select style="max-width:150px;" class="form-control" name="areaCode">
            {{select_options(areaCodes,app.request.query.get('areaCode'),'行政区域')}}
        </select>
      </div>
      <div class="form-group">
        <select  class="form-control" name="certificationId" style="max-width:200px;">
          {{select_options(certificates,app.request.query.get('certificationId'),'证书')}}
        </select>
      </div>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="标题" name="title" value="{{ app.request.get('title') }}">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="创建者" name="creator" value="{{ app.request.get('creator') }}">
      </div>
      <button class="btn btn-primary">搜索</button>

    </form>
  </div>

  <table class="table table-striped table-hover" id="course-table" style="word-break:break-all;">
    <thead>
    <tr>
      <th>编号</th>
      <th width="20%">名称</th>
      <th width="20%">证书/属地</th>
      <th width="">学制</th>
      <th>{% if setting('default.user_name') %}{{setting('default.user_name')|default('学员')}}{% else %}学员{% endif %}数</th>
      <th>收入(元)</th>
      <th>状态</th>
      <th>创建者</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% if courses%}
      {% for  index , course in courses %}
        {% set user = users[course.userId]|default(null) %}
        {% set category = categories[course.categoryId]|default(null) %}
        {% set area = areas[course.areaCode]|default(null) %}
        {% set certification = certifications[course.certificationId]|default(null) %}
        {% set areaCertification = areaCertifications[index]|default(null)%}
        {% include 'CustomAdminBundle:Course:tr_certification.html.twig' %}
        {% endfor %}
      {% else %}
        <tr><td colspan="20"><div class="empty">暂无课程记录</div></td></tr>
      {% endif %}
    </tbody>
  </table>

  {{ web_macro.paginator(paginator) }}

{% endblock %}