<div class="btn-group">
	<a href="{{ url('admin_course_normal_data',{filter:'normal'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'normal'%}btn-primary{% endif %}">{{'普通课程'|trans}}</a>

	<a href="{{ url('admin_course_certification_data',{filter:'certification'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'certification' %}btn-primary{% endif %}">{{'证书课程'|trans}}</a>
</div>