<div class="btn-group">

	<a href=" {{ url('admin_course_normal', {filter: 'normal'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'normal'%}btn-primary{% endif %}">普通课程</a>

  	<a href=" {{ url('admin_course_certification', {filter: 'certification'}) }}" type="button" class="btn btn-default btn-sm {% if filter == 'certification' %}btn-primary{% endif %}">{{'证书课程'|trans}}</a>
</div>