{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
{% set target = 'normal_index' %}
<tr id="course-tr-{{ course.id }}">
  <td>{{ course.id }}</td>
  <td>
    <a href="{{ path('course_certification_show', {id:course.id}) }}" target="_blank"><strong>{{ course.title }}</strong>{% if course.versionStatus == 'latest' %}<label class="label label-primary mls newLabel_{{ course.id }}">New</label>{% endif %}</a>  
    {% if course.type == 'live' %}
      <span class="label label-success live-label mls">直播</span>
    {% endif %}
    <br>
    {% if course.recommended %}
      <span class="label label-default">荐:{{ course.recommendedTime|date('Y-m-d') }} / 序号:{{ course.recommendedSeq }}</span>
    {% endif %}
  </td>
  <td>{%if certification %}{{certification.category}}/{{area.name}}{%else%}--{%endif%}</td>
  <td>
    {{ course.certificationType }}
    <input type="hidden" value="{{ additionalParams|default('') }}" class="additionalParams" />
  </td>
  <td>{{ course.studentNum }}</td>
  <td><span class="money-text">{{ course.income }}</span></td>
  <td>{{ dict_text('courseStatus:html', course.status) }}</td>
  <td>
    {{ admin_macro.user_link(user) }}
    <br>
    <span class="text-muted text-sm">{{ course.createdTime|date('Y-n-d H:i') }}</span>
  </td>
  <td>
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="{{ path('course_certification_manage', {id:course.id}) }}" target="_blank">管理</a>

      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right">

        <li><a href="{{ path('course_certification_show', {id:course.id, previewAs:'guest'}) }}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> 预览：作为未购买用户</a></li>
        <li><a href="{{ path('course_certification_show', {id:course.id, previewAs:'member'}) }}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> 预览：作为已购买用户</a></li>
        
        {% if course.status == 'published' %}
          <li class="divider"></li>
          <li><a class="close-course" href="javascript:" data-url="{{path('admin_course_certification_close',{id:course.id})}}" data-user="{{default.user_name|default('学员')}}"><span class="glyphicon glyphicon-ban-circle"></span> 关闭课程</a></li>
          <li><a href="javascript:" title="发送发布课程({{course.title}})通知短信" data-url="{{path('sms_prepare',{targetType:'course',id:course.id})}}" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-envelope"></span> 发送发布通知短信</a></li>
          <li><a href="javascript:" title="向({{course.title}})课程中三个月快过期学生发送短信" data-url="{{path('certification_sms_prepare',{targetType:'threeMonthLeft',id:course.id})}}" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-envelope"></span> 三个月快过期学生发送短信</a></li>
          <li><a href="javascript:" title="向({{course.title}})课程中一个月快过期学生发送短信" data-url="{{path('certification_sms_prepare',{targetType:'oneMonthLeft',id:course.id})}}" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-envelope"></span> 一个月快过期学生发送短信</a></li>
          <li><a href="javascript:" title="向({{course.title}})课程中一周快过期学生发送短信" data-url="{{path('certification_sms_prepare',{targetType:'oneWeekLeft',id:course.id})}}" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-envelope"></span> 一周快过期学生发送短信</a></li>
        {% endif %}

        {% if course.status != 'published' %}
          <li class="divider"></li>
          <li><a class="certification-publish-course" href="javascript:" data-url="{{path('custom_course_certification_publish',{id:course.id})}}" data-type="{{course.type}}" data-lessonnum="{{course.lessonNum}}"><span class="glyphicon glyphicon-ok-circle"></span> 发布课程</a></li>
        {% endif %}

        {% if course.status != 'published' and app.user.isSuperAdmin() %}
          <li class="divider"></li>
          <li><a class="delete-course" href="javascript:;" data-url="{{path('admin_course_delete', {courseId:course.id,type:''})}}"  data-chapter="{{default.chapter_name|default('章')}}" data-part="{{default.part_name|default('节')}}" data-user="{{default.user_name|default('学员')}}"><span class="glyphicon glyphicon-trash"></span> 删除课程</a></li>
        {% endif %}

        {% if app.user.isSuperAdmin() %}
          <li class="divider"></li>
          <li><a class="newest-course" href="javascript:;" data-url="{{path('admin_course_certification_update_as_latest',{id:course.id})}}" data-type="{{course.type}}" data-lessonnum="{{course.lessonNum}}" ><span class="glyphicon glyphicon-transfer"></span> 变为最新</a></li>
        {% endif %}
      </ul>
    </div>
  </td>
</tr>
