{% import 'CustomWebBundle::macro.html.twig' as web_macro %}
  <!-- 热门资讯 -->
    {{ render(controller('TopxiaWebBundle:Article:popularArticlesBlock')) }}
  <!-- 热门标签 -->

  {% include 'TopxiaWebBundle:Article/Widget:tag-sidebar.html.twig' %}

  <!-- 热门评论 -->
  <div class="panel panel-default hot-comments">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="es-icon es-icon-textsms"></i>{{'热门评论'|trans}}
      </h3>
    </div>
    <div class="panel-body">

    {% set posts = data('PopularArticlePosts',{'count':10}) %}
    {% for post in posts %}
      <div class="media media-hot-comment">
        <div class="media-body">
          <div class="pull-left">
            {{ web_macro.user_avatar(post.user, '','avatar-sm') }}
          </div>
          <div class="comments-info">
            {{ web_macro.user_link(post.user, '') }}
            <span class="mhs">{{'评论于'|trans}}</span>
            <a class="link-dark" href="{{ path('article_detail', { id:post.article.id }) }}">{{ post.article.title }}</a>
          </div>
          <div class="comments-content">
           {{ post.content|at(post.ats)|sub_text(60) }}
          </div>
        </div>
      </div>
  {% else %}
    <div class="empty">{{'一个评论都没有！'|trans}}</div>
  {% endfor %}

  </div>
</div>
<!-- 推荐资讯 -->
{{ render(controller('TopxiaWebBundle:Article:recommendArticlesBlock')) }}