{% extends 'CustomWebBundle:Course:normal-layout.html.twig' %}

{% set tab = 'thread' %}

{% block course_main %}
  
  {% if course.type == 'certification' %}
  	{% include 'CustomWebBundle:Course/Part:thread-list-header.html.twig' %}
  {% else %}
	{% include 'TopxiaWebBundle:Course/Part:thread-list-header.html.twig' %}
  {% endif %}
  
  
  {% include 'CustomWebBundle:Thread:list.html.twig' %}


{% endblock %}