<form id="thread-post-form" class="form-vertical" method="post" action="{{ path('course_certification_thread_post', {courseId:course.id, id:thread.id}) }}" data-auto-submit="false" novalidate>
  <div class="form-group">
    <div class="controls">
      {{
        form_widget(
          form.content, {
            attr:{
              class:'form-control',
              rows:8,
              'data-display':'内容'|trans,
              'data-image-upload-url': path(
                'editor_upload', {
                  token:upload_token('course')
                }
              ),
              'data-image-download-url': path(
                'editor_download', {
                  token:upload_token('course')
                }
              )
            }
          }
        )
      }}
    </div>
  </div>
  <div class="form-group">
    <div class="controls clearfix">
      {{ form_rest(form) }}
      <button type="submit" class="btn btn-primary pull-right">{{'添加'|trans}}{% if thread.type == 'question' %}{{'答案'|trans}}{% else %}{{'回复'|trans}}{% endif %}</button>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>