{%- macro user_avatar(user, class, imgClass, card = true) -%}
  {% if user %}
  <a class="{{ class }} {% if card %}js-user-card{% endif %}" href="{{ path('user_show', {id:user.id}) }}" data-card-url="{{ path('user_card_show', {userId:user.id}) }}" data-user-id="{{ user.id }}">
    <img class="{{ imgClass|default('avatar-sm') }}" src="{{ filepath(user.smallAvatar, 'avatar.png') }}">
  </a>
  {% else %}
    <a class="{{ class }}" href="javascript:;">
      <img class="{{ imgClass|default('avatar-sm') }}"  src="{{ filepath('', 'avatar.png') }}">
    </a>
  {% endif %}
{%- endmacro -%}

{%- macro user_link_at(user, class, card = true) -%}
  {% if user %}
    <a class="{{ class }}" href="{{ path('user_show', {id:user.id}) }}" target="_blank">
      {% if user.nickname|length >= 11 %}
        {{ user.nickname|slice(0,4) }}****{{ user.nickname|slice(-3) }}
      {% else %}
        {{ user.nickname }}
      {% endif %}
    </a>
  {% else %}
    <a class="{{ class }}" href="javascript:;"><del>用户不存在</del></a>
  {% endif %}
{%- endmacro -%}

{%- macro user_link(user, class, card = true) -%}
  {% if user %}
    <a class="link-dark {{ class }}" href="{{ path('user_show', {id:user.id}) }}">
      {% if user.nickname|length >= 11 %}
        {{ user.nickname|slice(0,4) }}****{{ user.nickname|slice(-3) }}
      {% else %}
        {{ user.nickname }}
      {% endif %}
    </a>
  {% else %}
    <a class="link-dark {{ class }}" href="javascript:;"><del>用户不存在</del></a>
  {% endif %}
{%- endmacro -%}

{%- macro author_link(author, class, card = true) -%}
  {% if author %}
    <a class="{{ class }}" href="{{ path('user_show', {id:author.id}) }}">
      {% if author.nickname|length >= 11 %}
        {{ author.nickname|slice(0,4) }}****{{ author.nickname|slice(-3) }}
      {% else %}
        {{ author.nickname }}
      {% endif %}      
    </a>
  {% else %}
    <a class="{{ class }}" href="javascript:;"><del>用户不存在</del></a>
  {% endif %}
{%- endmacro -%}

{%- macro user_nickname(user, class, url = 'javascript:;') -%}
  {% if user %}
    <a class="{{ class }}" href="{{ url }}">
      {% if user.nickname|length >= 11 %}
        {{ user.nickname|slice(0,4) }}****{{ user.nickname|slice(-3) }}
      {% else %}
        {{ user.nickname }}
      {% endif %}      
    </a>
  {% else %}
    <a class="{{ class }}" href="javascript:;"><del>用户不存在</del></a>
  {% endif %}
{%- endmacro -%}

{%- macro user_nickname_text(user) -%}
  {% if user %}    
      {% if user.nickname|length >= 11 %}
        {{ user.nickname|slice(0,4) }}****{{ user.nickname|slice(-3) }}
      {% else %}
        {{ user.nickname }}
      {% endif %}   
  {% else %}
    <del>用户不存在</del>
  {% endif %}
{%- endmacro -%}

{% macro flash_messages() %}
  {% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
      <div class="alert alert-{{ type }}">{{ flashMessage|raw }}</div>
    {% endfor %}
  {% endfor %}
{% endmacro %}

{% macro bytesToSize(bytes) %}
  {% spaceless %}
      
      {% set kilobyte = 1024 %}
      {% set megabyte = kilobyte * 1024 %}
      {% set gigabyte = megabyte * 1024 %}
      {% set terabyte = gigabyte * 1024 %}

      {% if bytes < kilobyte %}
          {{ bytes ~ ' B' }}
      {% elseif bytes < megabyte %}
          {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
      {% elseif bytes < gigabyte %}
          {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
      {% elseif bytes < terabyte %}
          {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
      {% else %}
          {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
      {% endif %}

  {% endspaceless %}
{% endmacro %}

{% macro paginator(paginator, class) %}
  {% if paginator.lastPage > 1 %}
    <nav class=" {{ class|default('text-center') }}">
      <ul class="pagination">
        {% if paginator.currentPage != paginator.firstPage %}
          <li><a  href="{{ paginator.getPageUrl(paginator.firstPage) }}">首页</a></li>
          <li><a  href="{{ paginator.getPageUrl(paginator.previousPage) }}"><i class="es-icon es-icon-chevronleft"></i></a></li>
        {% endif %}
        {% for page in paginator.pages %}
          <li {% if page == paginator.currentPage %}class="active"{% endif %}><a href="{{ paginator.getPageUrl(page) }}">{{ page }}</a></li>
        {% endfor %}

        {% if paginator.currentPage != paginator.lastPage %}
          <li><a  href="{{ paginator.getPageUrl(paginator.nextPage) }}"><i class="es-icon es-icon-chevronright"></i></a></li>
          <li><a  href="{{ paginator.getPageUrl(paginator.getLastPage()) }}">尾页</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}

{% macro star(score) %}
  {% set floorScore = score|round(0, 'floor') %}
  {% set emptyNum = 5 - floorScore %}

  {% if floorScore > 0 %}
    {% for i in range(1, floorScore) %}
      <i class="es-icon es-icon-star color-warning"></i>
    {% endfor %}
  {% endif %}

  {% if (score - floorScore) >= 0.5 %}
    {% set emptyNum = emptyNum - 1 %}
    <i class="es-icon es-icon-starhalf color-warning"></i>
  {% endif %}

  {% if emptyNum > 0 %}
    {% for i in range(1, emptyNum) %}
      <i class="es-icon es-icon-star"></i>
    {% endfor %}
  {% endif %}

{% endmacro %}

<!-- 行政区域, 学制, 证书, 课程部分, 自动生成此4项 -->
{% macro certification_special_part(course, isEdit, areaCodes, certificates, isBranchSchool, branchSchoolAreaCode) %}
  {% set isAreaCodeDisplayed = not isEdit or not isBranchSchool|default(false) %}
  <div class="form-group" {{ isAreaCodeDisplayed ? "" : "style='display:none'"}}>
    <label class="col-md-2 control-label">{{'行政区域'|trans}}</label>
    <div class="col-md-8 controls select">
      {% if isBranchSchool|default(false) %}
        <select class="form-control eleAreaCode" disabled>
          {{select_options(areaCodes, branchSchoolAreaCode|default(''), '请选择行政区域')}}
        </select>
      {% else %}
        <select class="form-control eleAreaCode" name="areaCode" 
          {% if isEdit %} disabled {% endif %}
        >
          {{select_options(areaCodes, course.areaCode|default(''), '请选择行政区域')}}
        </select>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">{{'选择证书'|trans}}</label>
    <div class="col-md-8 controls select">
      <select class="form-control eleCertification" name="certificationId" 
        {% if isEdit %} disabled {% endif %}
      >
        {% if isEdit %}
          {{ select_options(certificates, course.certificationId, '请选择证书') }}
        {% else %}
          <option value=''>请选择证书</option>
        {% endif %}
      </select>
      <input class='hiddenCertMonths' type='hidden' />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">{{'学制（月）'|trans}}</label>
    <div class="col-md-8 controls">
      <input class="form-control eleLearnMode" type="text" name="learnModeMonths" 
        {% if isEdit %} value="{{course.learnModeMonths}}" disabled {% endif %} 
      >
      <div class="help-block" style="display:none;"></div>
    </div>
  </div>

  <div class="form-group partIndexContainer">
    <label class="col-md-2 control-label">课时部分</label>
    <div class="col-md-8 controls">
      <input class="form-control elePartIndex" type="text" name="partIndex"
        {% if isEdit %} value="{{course.partIndex}}" disabled {% endif %}
      >
      <div class="help-block" style="display:none;"></div>
    </div>
  </div>

  <div class="form-group oldCourseIdTip" style="display: none;">
    <div class="col-md-2"></div>
    <div class="danger col-md-8" style="margin-top:-20px;"></div>
    <input type="hidden" class="oldCourseId" name="oldCourseId" />
    <input type="hidden" class="versionStatus" value="{{course.versionStatus|default('latest')}}" />
  </div>
{% endmacro %}