{% extends 'CustomWebBundle:Course:normal-layout.html.twig' %}

{% set tab = 'note' %}


{% block course_main %}

  
  {% include 'CustomWebBundle:Course/Note:course-note-nav.html.twig' %}

  {{ render(controller('CustomWebBundle:Course/Note:list', {request:app.request, courseIds:course.id, filters:filters})) }}

{% endblock %}