{% import "CustomWebBundle::macro.html.twig" as web_macro %}
{% do load_script('course/note/like')%}

{% if notes %}
<div class="note-list" id="note-list">
  {% for note in notes %}
    {% set user = users[note.userId]|default(null) %}
    {% set userLike = noteLikes[note.id]|default(null) %}
    {% include 'TopxiaWebBundle:Course/Note:note-list-item.html.twig'%}
  {% else %}
    <div class="empty">{{'暂无笔记记录'|trans}}</div>
  {% endfor %}
</div>

<nav class="text-center">
  {{ web_macro.paginator(paginator) }}
</nav>
{% else %}
	<div class="note-list" id="note-list">
		<div class="empty">{{'暂无笔记记录'|trans}}</div>
	</div>
{% endif %}

