{% extends 'CustomAdminBundle:OperationAnalysis:detail-layout.html.twig' %}
{% set script_controller = 'customadminbundle/controller/analysis/detail' %}
{% set menu = 'admin_operation_analysis_detail' %}

{% block analysisBody %}
  <div class="text" style=" text-align:center;"><font size='5'>购买情况</font></div>
  <div class="col-md-12">
      <input id="data" type="hidden" value="{% if data %}{{data}}{% endif %}"/>
      <div id="container" style="height:400px;"></div>
  </div>
{% endblock %}