{% extends 'TopxiaAdminBundle:OperationAnalysis:analysis-base-layout.html.twig' %}
{% set script_controller = 'analysis/course-sum' %}
{% set href="admin_operation_analysis_course_sum" %}
{% set menu = 'course-sum' %}
{% block analysisBody %}
  <div class="col-md-12">

              {% if tab=="trend" %}
	          <div id="line-data"></div>
	           <input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'> 
	          </input> <input id="courseSumStartDate"  type="hidden" value='{% if courseSumStartDate %}{{courseSumStartDate}}{% endif %}'> 
	          </input>
              {% elseif tab=="detail" %}
                      {% include 'CustomAdminBundle:OperationAnalysis:course-sum.table.html.twig' %}
              {% endif %}
  </div>
{% endblock %}
