      <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
          <thead>
            <tr>
              <th>课程</th>
              <th>创建者</th>
              <th>{% if setting('default.user_name') %}{{setting('default.user_name')|default('学员')}}{% else %}学员{% endif %}数</th>
              <th>价格</th>
            </tr>
          </thead>
          <tbody>
            {% if courseSumDetail %}
              {% for data in courseSumDetail %}
                {% if "certification" == data.type%}
                  {% set courseUrl = path("course_certification_show", {id:data.id}) %}
                {% else %}
                  {% set courseUrl = path("course_show", {id:data.id}) %}
                {% endif %}
                <tr>
                    <td> <a href="{{ courseUrl }}" target="_blank"><strong>{{ data.title }}</strong></a><br><span class="text-muted text-sm">分类：{{ categories[data.categoryId].name|default('--') }}</span></td>
                     <td>{{ admin_macro.user_link(users[data.userId]) }}<br>{{data.createdTime|date("Y-m-d H:i:s")}}</td>
                     <td>{{data.studentNum}}</td>
                     <td class="text-danger">{{data.price}}</td>
                </tr>
              {% endfor %}
            {% else %}
              　<tr><td colspan="4"><div class="empty">暂无课程明细</div></td></tr>
            {% endif %}
          </tbody>
      </table>    
      {{ web_macro.paginator(paginator) }}