{% extends 'TopxiaAdminBundle:OperationAnalysis:analysis-base-layout.html.twig' %}
{% set script_controller = 'analysis/course' %}
{% set href="admin_operation_analysis_course" %}
{% set menu = 'course' %}
{% block analysisBody %}
  <div class="col-md-12">

              {% if tab=="trend" %}
	          <div id="line-data"></div>
	           <input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'> 
	          </input><input id="courseStartDate"  type="hidden" value='{% if courseStartDate %}{{courseStartDate}}{% endif %}'> 
	          </input>
              {% elseif tab=="detail" %}
                      {% include 'CustomAdminBundle:OperationAnalysis:course.table.html.twig' %}
              {% endif %}
  </div>
{% endblock %}
