{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% set panel = 'dashboard' %}
{% set nav = 'system' %}
{% set menu = 'admin_operation_analysis_detail' %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/customadmin/css/analysis.css') }}" />
  <link href="{{ asset('assets/libs/gallery/morris/0.5.0/morris.css') }}" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
    {% block analysisHead %}
        <div class="col-md-12">
        {{ web_macro.flash_messages() }}
            <form class="well well-sm form-inline" action="{{path('admin_operation_analysis_detail',{filter:filter})}}" method="get" id="analysis-form" role="form">
                <div class="form-group">
            	    <select class="form-control" name="areaCode">
            	        {{select_options(areaCodes,app.request.get('areaCode'),'全国')}}
            	    </select>
            	</div>
                <div class="form-group">
                    <a type="button" class="btn btn-default" id="btn-month" currentMonthStart="{{dataInfo.currentMonthStart}}" currentMonthEnd="{{dataInfo.currentMonthEnd}}">本月</a>
                </div>
                <div class="form-group">
                    <a type="button" class="btn btn-default" id="btn-lastMonth" lastMonthStart="{{dataInfo.lastMonthStart}}" lastMonthEnd="{{dataInfo.lastMonthEnd}}">上月</a>
                </div>

                <div class="form-group">
                    <a type="button" class="btn btn-default" id="btn-lastThreeMonths" lastThreeMonthsStart="{{dataInfo.lastThreeMonthsStart}}" lastThreeMonthsEnd="{{dataInfo.lastThreeMonthsEnd}}">近三月</a>
                </div>
                <div class="form-group mll">
                    <label class="ptm" >起始日期</label>
                    <input type="text" class="form-control analysis-input mls" name="startTime" value="{{dataInfo.startTime}}">
                </div>

                <div class="form-group mls">
                    <label class="ptm" >截止日期</label>
                    <input type="text" class="form-control analysis-input mls"  name="endTime" value="{{dataInfo.endTime}}">
                </div>

                <button class="btn btn-primary pull-right" id="btn-search">查询</button>
            </form>
            <div class="row analysis-item analysis-item-radius">
              <div class="col-md-3 analysis-list {% if filter == 'register' %}active{% endif %}">
                <a url="{{path('admin_operation_analysis_detail',{filter:'register'})}}"href="javascript: void(0);" class="analysisLink">
                    <div class="analysis-content list-1">
                      <div class="nums">
                        <span>{{registerCount}}</span><br>
                        <p>注册情况</p> 
                      </div>
                      <div class="metas clearfix">
                        <span>平台统计</span>
                        <i class="glyphicon glyphicon-arrow-right pull-right"></i>
                      </div>
                    </div> 
                </a>
              </div>
              <div class="col-md-3 analysis-list {% if filter == 'buy' %}active{% endif %}">
                <a url="{{path('admin_operation_analysis_detail',{filter:'buy'})}}" href="javascript: void(0);" class="analysisLink">
                    <div class="analysis-content list-2">
                      <div class="nums">
                        <span>{{buyCount}}</span><br>
                        <p >购买情况</p> 
                      </div>
                      <div class="metas clearfix">
                        <span>当前培训统计</span>
                        <i class="glyphicon glyphicon-arrow-right pull-right"></i>
                      </div>
                    </div> 
                </a> 
              </div>
              <div class="col-md-3 analysis-list {% if filter == 'graduation' %}active{% endif %}">
                <a url="{{path('admin_operation_analysis_detail',{filter:'graduation'})}}" href="javascript: void(0);" class="analysisLink">
                    <div class="analysis-content list-3">
                      <div class="nums">
                        <span>{{graduationCount}}</span><br>
                        <p>结业情况</p> 
                      </div>
                      <div class="metas clearfix">
                        <span>运营统计</span>
                        <i class="glyphicon glyphicon-arrow-right pull-right"></i>
                      </div>
                    </div>
                </a>  
              </div>
            </div>
        </div>
    {% endblock %}
    {% block analysisBody %}
    {% endblock %}
    </div>
</div>
{% endblock %}