{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set script_controller = 'customadminbundle/controller/analysis/entirety' %}
{% set menu = 'admin_operation_analysis_entirety' %}
{% block stylesheets %}
  {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/customadmin/css/analysis.css') }}" />
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
    {% block analysisHead %}
    <div class="col-md-12">
      <form class="well well-sm form-inline" action="" method="get" id="analysis-form" role="form">
          <div class="form-group">
            <select class="form-control" name="province">
                {{select_options(mapType,app.request.get('province'),'全国')}}
            </select>
        </div>
      </form>
      <div class="row analysis-item">
        <div class="col-md-3 analysis-list">
          <div class="analysis-content list-1">
            <div class="nums">
              <span>{{onlineCount}}</span><br>
              <p >平台在线人数</p> 
            </div>
            <div class="metas clearfix">
              <span>平台统计</span>
              <i class="glyphicon glyphicon-arrow-right pull-right"></i>
            </div>
          </div> 
        </div>
        <div class="col-md-3 analysis-list">
          <div class="analysis-content list-2">
            <div class="nums">
              <span>{{learningCount}}</span><br>
              <p >处于学习的人数</p> 
            </div>
            <div class="metas clearfix">
              <span>当前培训统计</span>
              <i class="glyphicon glyphicon-arrow-right pull-right"></i>
            </div>
          </div> 
        </div>
        <div class="col-md-3 analysis-list">
          <div class="analysis-content list-3">
            <div class="nums">
              <span>{{learnedCount}}</span><br>
              <p >已结业课程</p> 
            </div>
            <div class="metas clearfix">
              <span>运营统计</span>
              <i class="glyphicon glyphicon-arrow-right pull-right"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 analysis-list">
          <div class="analysis-content list-4">
            <div class="nums">
              <span>{{studentCount}}</span><br>
              <p >平台用户</p> 
            </div>
            <div class="metas clearfix">
              <span>学员统计</span>
              <i class="glyphicon glyphicon-arrow-right pull-right"></i>
            </div>
          </div> 
        </div>
      </div>
    </div>
    {% endblock %}
    {% block analysisBody %}
      <div class="col-md-12">  
          <input id="data" type="hidden" value="{% if data %}{{data}}{% endif %}"/>
          <div id="container" style="height:400px;"></div>
      </div>
    {% endblock %}
{% endblock %}