{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% set script_controller = 'customadminbundle/controller/analysis/facePicture' %}
{% set menu = 'admin_face_picture_manage' %}

{% block main %}
  <div class="row">
    <div class="col-md-12">
       <form  class="well well-sm form-inline" action="{{url("admin_face_picture_manage")}}" method="get" id="operation-form"  role="form" >

        <div class="form-group">
          <select class="form-control" name="analysisDateType">
              {{ select_options({login:'登录',register:'注册',lesson:'课程',testpaper:'考试'}, dataInfo.analysisDateType, '--选择数据类型--') }}
          </select>
        </div>
       
        <div class="form-group">
          <label class="ptm" >起始日期</label>
            <input type="text" class="form-control analysis-input " name="startTime" value="{{dataInfo.startTime}}" placeholder="起始日期">
        </div>

        <div class="form-group">
          <label class="ptm" >截止日期</label>
            <input type="text" class="form-control analysis-input "  name="endTime" value="{{dataInfo.endTime}}" placeholder="截止日期">
        </div>
        <div class="form-group">
          <select class="form-control" name="keywordType">
              {{ select_options({code:'属地',idcard:'身份证号',verifiedMobile:'手机号'}, keywordType, '--选择关键词--') }}
          </select>
        </div>    
        <div class="form-group">
          <input type="text" id="keyword" name="keyword" class="form-control" value="{{ keyword }}" placeholder="关键词">
        </div>
        <button class="btn btn-primary" id="btn-search">查询</button>
      </form>  
    </div>

    <div class="col-md-12">
       
        {% for facePicture in facePictures %}
          {% if facePicture.userId != 0 %}
            {% set user = faceUsers[facePicture.userId] %}
            <div class="col-md-4">
              <div class="thumbnail">
                <div style="position:relative;height:200px;">
                  <img src="{{ filepath(facePicture.fileUrl) }}" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;position:absolute;">
                  {% if facePicture.result == 'success'%}
                    <img src="{{asset("assets/img/default/u317.png")}}" style="position:absolute;"/>
                    <p><span>识别成功</span></p>
                  {% else %}
                    <img src="{{asset("assets/img/default/u319.png")}}" style="position:absolute;"/>
                    <p><span>识别失败</span></p>
                  {% endif %}
                </div>
                <div class="caption clearfix">              
                  <span style='display:block'>{{ facePicture.createdTime|date("Y-m-d H:i:s") }} (识别度: {{facePicture.regRate < 0 ? '无法识别' : facePicture.regRate ~ '%'}})</span>
                  <span style='display:block'>
                    {% if facePicture.type == 'lesson' %}
                       <font data-toggle="tooltip" data-placement="top" title="{{ facePicture.content }}">{{ facePicture.content|sub_text(12) }}</font>
                    {% elseif facePicture.type == 'login' %}
                      登录
                    {% elseif facePicture.type == 'register' %}
                      注册
                    {% elseif facePicture.type == 'testpaper' %}
                      考试 <font data-toggle="tooltip" data-placement="top" title="{{ facePicture.content }}">{{ facePicture.content|sub_text(12) }}</font>
                    {% endif %}
                  </span>
                  <span style='display:block'>
                    {#{{ user.nickname}}#}
                    {% if facePicture.mobile %}
                      {{ facePicture.mobile }}
                    {% else %}
                      {{ user.nickname|default('') }}
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
      </div>
      {{ web_macro.paginator(paginator) }}
  </div>
{% endblock %}
   