{% extends 'CustomAdminBundle:OperationAnalysis:detail-layout.html.twig' %}

{% set script_controller = 'customadminbundle/controller/analysis/detail' %}

{% set menu = 'admin_operation_analysis_detail' %}

{% block analysisBody %}
  <div class="text" style=" text-align:center;"><font size='5'>结业情况</font></div>
  <div class="col-md-12">  
      <input id="data" type="hidden" value="{% if data %}{{data}}{% endif %}"/>
 	  <div id="container" style="height:400px;"></div>
  </div>

  <div class="col-md-12">
      <input id="graduationData" type="hidden" value="{% if graduationData %}{{graduationData}}{% endif %}"/>
      <div id="graduationContainer" style="min-width:400px;height:400px"></div>
  </div>

{% endblock %}