{% extends 'TopxiaAdminBundle:OperationAnalysis:analysis-base-layout.html.twig' %}
{% set script_controller = 'analysis/join-lesson' %}
{% set href="admin_operation_analysis_lesson_join" %}
{% set menu = 'join-lesson' %}
{% block analysisBody %}
  <div class="col-md-12">

              {% if tab=="trend" %}
	          <div id="line-data"></div>
	           <input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'> 
	          </input><input id="joinLessonStartDate"  type="hidden" value='{% if joinLessonStartDate %}{{joinLessonStartDate}}{% endif %}'> 
	          </input>
              {% elseif tab=="detail" %}
                      {% include 'CustomAdminBundle:OperationAnalysis:join-lesson.table.html.twig' %}
              {% endif %}
  </div>
{% endblock %}
