{% extends 'TopxiaAdminBundle:OperationAnalysis:analysis-base-layout.html.twig' %}
{% set script_controller = 'analysis/paid-lesson' %}
{% set href="admin_operation_analysis_lesson_paid" %}
{% set menu = 'paid-lesson' %}
{% block analysisBody %}
  <div class="col-md-12">

              {% if tab=="trend" %}
	          <div id="line-data"></div>
	           <input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'> 
	          </input> <input id="paidLessonStartDate"  type="hidden" value='{% if paidLessonStartDate %}{{paidLessonStartDate}}{% endif %}'> 
	          </input>
              {% elseif tab=="detail" %}
                      {% include 'CustomAdminBundle:OperationAnalysis:paid-lesson.table.html.twig' %}
              {% endif %}
  </div>
{% endblock %}
