      <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
          <thead>
            <tr>
              <th>课程</th>
              <th>购买者</th>
              <th>课程价格</th>
              <th>购买价格</th>
              <th>下单&付款时间</th>
            </tr>
          </thead>
          <tbody>
            {% if paidCourseDetail %}
            {% for data in paidCourseDetail %}

            {%  if  courses[data.targetId].title|default(null)  %}
              {% if "certification" == courses[data.targetId].type%}
                {% set courseUrl = path("course_certification_show", {id:data.targetId}) %}
              {% else %}
                {% set courseUrl = path("course_show", {id:data.targetId}) %}
              {% endif %}
              <tr>
                   <td> <a href="{{ courseUrl }}" target="_blank"><strong>{{ courses[data.targetId].title|default("此课程已不存在") }}</strong><br><span class="text-muted text-sm">订单号:{{data.sn}}</span></td>
                   <td>{{ admin_macro.user_link(users[data.userId]) }}</td>
                   <td class="text-danger">{{ data.totalPrice }}</td>
                    <td class="text-danger">{{ data.amount }}</td>
                   <td>{{data.createdTime|date("Y-m-d H:i:s")}}<br>{{data.paidTime|date("Y-m-d H:i:s")}}</td>
              </tr>
              {% else %}
              <tr class="danger">                   
                    <td> 此课程已不存在</strong><br><span class="text-muted text-sm">订单号:{{data.sn}}</span></td>
                   <td>{{ admin_macro.user_link(users[data.userId]) }}</td>
                   <td class="text-danger">--</td>
                    <td class="text-danger">{{ data.amount }}</td>
                   <td>{{data.createdTime|date("Y-m-d H:i:s")}}<br>{{data.paidTime|date("Y-m-d H:i:s")}}</td>
              </tr>
              {% endif  %}
            {% endfor %}
            {% endif %}
          </tbody>
      </table>    
      {{ web_macro.paginator(paginator) }}