{% extends 'CustomAdminBundle:OperationAnalysis:detail-layout.html.twig' %}

{% set script_controller = 'customadminbundle/controller/analysis/register' %}
{% set menu = 'admin_operation_analysis_detail' %}

{% block analysisBody %}
  <div class="text" style=" text-align:center;"><font size='5'>注册情况</font></div>
  <div class="col-md-12">  
  	<div id="line-data"></div>
    <input id="data" type="hidden" value="{% if data %}{{data}}{% endif %}"/>
    <input id="registerStartDate" type="hidden" value="{% if registerStartDate %}{{registerStartDate}}{% endif %}"/> 
  </div>
{% endblock %}