{% extends 'TopxiaAdminBundle:OperationAnalysis:analysis-base-layout.html.twig' %}
{% set script_controller = 'analysis/register' %}
{% set href="admin_operation_analysis_register" %}
{% block analysisBody %}
  <div class="col-md-12">  
              {% if tab=="trend" %}
	 <div id="line-data"></div>
	           <input id="data"  type="hidden" value='{% if data %}{{data}}{% endif %}'>  
	          </input>
	          <input id="registerStartDate"  type="hidden" value='{% if registerStartDate %}{{registerStartDate}}{% endif %}'>  
	          </input>
              {% elseif tab=="detail" %}
                    {% include 'CustomAdminBundle:OperationAnalysis:register.table.html.twig' %}
              {% endif %}
  </div>

{% endblock %}
   