      <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
          <thead>
            <tr>
              <th>用户名</th>
              <th>手机号</th>
              <th>IP地址</th>
              <th>注册时间</th>
            </tr>
          </thead>
          <tbody>
            {% if userSumDetail %}
            {% for data in userSumDetail %}
              <tr>
                <td>{{data.nickname}}</td>
                <td>
                    {% if data.verifiedMobile %}
                    {{ data.verifiedMobile }}<span class="text-success">(已绑定)</span>
                    {% elseif userSumProfiles[data.id].mobile %}
                    {{ userSumProfiles[data.id].mobile }}<span class="text-danger">(未绑定)</span>
                    {% else %}
                    -- 
                    {% endif %}
                    </td>
                <td>{{data.createdIp}}</td>
                <td>{{data.createdTime|date("Y-m-d H:i:s")}}</td>
              </tr>
            {% endfor %}
            {% endif %}
          </tbody>
      </table>    
      {{ web_macro.paginator(paginator) }}