<ul class="nav nav-tabs">
	<li class="{% if threadType == 'course' %}active{% endif %}"><a href="{{ path('my_discussions') }}">{{'课程话题'|trans}}</a></li>
	<li class="{% if threadType == 'classroom' %}active{% endif %}" style="display:none"><a href="{{ path('my_classroom_discussions') }}">{{ setting('classroom.name')|default("班级"|trans) }}{{'话题'|trans}}</a></li>
</ul>
<br>
