{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{{'退出学习'|trans}}{% endblock %}
{% block body %}

  <form id="refund-form" class="form-horizontal" method="post" action="{{ path('order_certification_refund', {id:target.id, targetType:targetType}) }}" data-goto="{{ path(targetType ~ '_show', {id:target.id}) }}">

    <div class="form-group">
      <div class="col-md-3 control-label">{{'退学原因'|trans}}</div>
      <div class="col-md-8 controls">
        {% set reasons = {
            'bad_content': '课程内容质量差'|trans,
            'bad_teacher': '老师服务态度不好'|trans,
            'other': '其他'|trans
          }
        %}
        <select class="form-control" name="reason[type]">
          {{ select_options(reasons) }}
        </select><br>
        <p class="alert alert-warning">
          温馨提示：退出课程后，您将不能再进行课程的学习。如确定退费，请点击<退出学习>按钮。
        </p>
        <textarea class="form-control" name="reason[note]" placeholder="{{'请输入您的退学原因'|trans}}" style="margin-top:10px;display:none;"></textarea>
      </div>
    </div>
    {% if order.payment != 'coin' and maxRefundDays > 0 and (order.amount * 100) > 0 %}

      <div class="form-group">
        <div class="col-md-8 col-md-offset-3">
          <div class="checkbox">
            <label><input type="checkbox" name="applyRefund" value="1"{% if maxRefundDays > 0 and refundOverdue %}disabled{% endif %}> {{'申请退款'|trans}} <span class="text-muted text-sm">{{'（'|trans}}{{'购买时的价格：'|trans}}{{ order.amount }}{{'元'|trans}}{{'）'|trans}}</span></label>
          </div>
          {% if maxRefundDays > 0 and refundOverdue %}
            <div class="alert alert-warning">已经超出了退款期限{{ maxRefundDays }}天，不能申请退款。</div>
          {% endif %}
        </div>
      </div>

    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <input type="hidden" name="learn_status" value="{{ learnStatus|default() }}">

  </form>
{% endblock %}

{% block footer %}
  <button class="btn btn-danger" type="submit" data-toggle="form-submit" data-target="#refund-form" data-loading-text="{{'正在退出'|trans}}...">{{'退出学习'|trans}}</button>
  <script>app.load('customwebbundle/controller/order-refund/order-refund-modal')</script>
{% endblock %}