{% extends 'CustomWebBundle:QuizQuestionTest:testpaper-layout.html.twig' %}

{% block testpaper_heading_status %}
  {% if isPreview|default(false) %}
    <div class="label label-success">{{'试卷预览中'|trans}}</div>
  {% else %}
    {% if paperResult.status|default(null) == 'doing' %}
      <div class="label label-primary testpaper-status-doing">{{'答题中'|trans}}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block testpaper_heading_content %}
  <div class="testpaper-description">{{ paper.description|bbCode2Html|raw }}</div>
  <div class="testpaper-metas">
    共 {{ paper.itemCount }} 题，总分 {{ paper.score }} 分
      {% if paper.passedScore > 0 %}，及格为 {{ paper.passedScore }} 分{% endif %}
      {% if paper.limitedTime >0 %}，请在 {{ paper.limitedTime }} 分钟内作答{% endif %}
      。
  </div>
  <div style="display:none" id="testpaperLessonId" >{{target.id}}</div>
  <div style="display:none" id="isNeedFaceDetected" >{{faceDetectStatus.isNeedFaceDetected}}</div>
  <div style="display:none" id="maxSnapNum" >{{faceDetectStatus.maxSnapNum|default(0)}}</div>
  <div style="display:none" id="snapInterval" >{{faceDetectStatus.snapInterval|default(0)}}</div>
  <div style="display:none" id="currentSnapNum" >0</div>
  <div style="display:none" id="isFinishing" ></div>
  <div style="display:none" id="isOvertime"></div>
{% endblock %}

{% block testpaper_body_sidebar %}
  <div class="testpaper-card" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
    {% include 'TopxiaWebBundle:QuizQuestionTest:test-paper-card.html.twig' %}
  </div>

  <div class="modal" id="camera-control-modal" style="display:none;">
    <div id="tokenDomId" style="display: none">{{ csrf_token('site') }}</div>
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a href="{{path('course_certification_show',{id:target.courseId})}}" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></a>
          <h4 class="modal-title">弹脸识别</h4>
        </div>
        <div class="modal-body">
          <div class="clearfix pbm">
            <div class="pull-left ">
              <span class="left-part-title">人脸拍照<span id="flashInstall">(如果无任何提示, 且无法打开摄像头, 请<a href="https://get.adobe.com/flashplayer/?loc=cn"><b>点击安装flash</b></a>, <p>如果已安装, 请刷新页面)。</span></span>
            </div>
            <div class="pull-right templete-photo" style="width:400px;">
              <span class="left-part-title">模板照片【初始注册时的采集照片】</span>
            </div>
          </div>
          <div class="html5Section"> 
            <div class="cameraContainer pull-left"></div>
            <div class="pull-right text-center" style="width:400px;height:280px;">
              <img src="{{faceImgPath|default('')}}" style="max-height:100%;max-width:100%"/>
            </div>
          </div>
          <div class="flashSection" style="display: none">
            <div class="cameraContainer pull-left"></div>
            <div class="pull-right text-center" style="width:400px;height:280px;">
              <img src="{{faceImgPath|default('')}}" style="max-height: 100%;max-width:100%"/>
            </div>
          </div>
          <div class="btnContainer finishSnap" style="display:none">
            <button class="resetBtn">重新拍摄</button>
          </div>
        </div>
        <div class="modal-footer text-center snapBtnSection" style="display:none">
          <button class="cameraBtn btn btn-primary">拍摄</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade in" id="warn-control-modal" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="{{path('course_certification_show',{id:target.courseId})}}" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></a>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>请点击允许，否则无法课程学习！</p>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" onclick="sure()" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" style="display:none" id="delayToSnapAgain"></button>

  <script type="text/javascript">
    function showFaceDetectModal() {
      $("body").addClass("modal-open");
      $('#camera-control-modal').css({visibility:''});
      $(".modal-overlay").addClass('modal-backdrop').removeClass("modal-overlay");

      if ($("#testpaper-finished-dialog:visible").length != 0) {
        $("#testpaper-finished-dialog:visible").hide();
      }
    }

    function hideFaceDetectModal() {
      if ($("#isFinishing").html() != "true" && $("#testpaper-finished-dialog:visible").length == 0) {
        $(".modal-backdrop").addClass('modal-overlay').removeClass("modal-backdrop");
      }
      $("body").removeClass("modal-open");
      $('#camera-control-modal').css({visibility:'hidden'});
    }

    /**
      * 上传摄像头照片后,执行的js方法
      */
    function afterImageUpload(result) {
      if (result == "true" || result == true) {
        hideFaceDetectModal();
        if ($("#isOvertime").html() == "true") {
          var params = {
            data:$("#isOvertime").data("data"), 
            usedTime:$("#isOvertime").data("usedTime")
          };
          $.post($('#finishPaper').data('url'), params, 
            function() {
              $('#timeout-dialog').show();
            }
          ).error(
            function(){
              $('#timeout-dialog').find('.empty').text('系统好像出了点小问题，请稍后再交卷');
              $('#timeout-dialog').find('#show_testpaper_result').text('确定');
              $('#timeout-dialog').show();
            }
          );
        } else if ($("#isFinishing").html() == "true") {
          $("#testpaper-finish-btn").click();
        } else {
          $("#delayToSnapAgain").click();
        }
      } else {
        showFaceDetectModal();
        alert("人脸识别失败, 需重新识别!");
        $(".resetBtn").click();
      }
    }

    /*
     * 当显示摄像头录像时, 调用此方法
     */
    function afterInit() {
      $(".snapBtnSection").show();
      $("#flashInstall").hide();
    }

    function onUserForbidCamera() {
      if($("#camera-control-modal").is(":visible")){
          hideFaceDetectModal();                         
      }  
      $('#warn-control-modal').modal('show');    
    }

    /*
     * flash异常时执行此方法
     */
    function onFlashErrorMsg(msg) {
      alert(msg);
    }

    function onFlashMsg(msg) {
    }

    function cancel(){
      $('#warn-control-modal').modal('hide');
      location.href = "{{path('course_certification_show',{id:target.courseId})}}";
    }

    function sure(){
      $('#warn-control-modal').modal('hide');
      var webCamera = new WebCamera({tokenDomId:"tokenDomId",uploadUrl:"/camera/faceDetect?testpaperLessonId="+$("#testpaperLessonId").html()});
      webCamera.init();
      showFaceDetectModal();
    }
  </script>
{% endblock %}