{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ lessonViews.id }}">
    <td>
        {% if lessonViews.viewDevice == "desktop" %}
        PC
        {% else %}
        移动设备
        {% endif %}
    </td>
    <td>
        {{lessonViews.osInfo}}
    </td>
    <td>
        {{ lessonViews.createdTime|date('Y-n-d H:i:s')|default(0) }}
    </td>
    <td>
        {{ (lessonViews.createdTime+lessonViews.watchTime)|date('Y-n-d H:i:s')|default(0) }}
    </td>
    <td>
        {{ lessonView.watchTime|default(0)|duration_text }}
    </td>
    <td></td>
    <td>
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="#modal" data-toggle="modal" data-url="{{ path('admin_learning_lesson_detail_record_facePicture',{viewId:lessonViews.id,userId:lessonViews.userId,courseId:lessonViews.courseId,lessonId:lessonViews.lessonId,time:lessonViews.createdTime}) }}">
            查看人脸
            </a>
        </div>
    </td>
</tr>