{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{{ time|date('Y.n.d') }}{{'采集的人脸详情'|trans}}{% endblock %}
{% block body %}

      <div class="col-md-12 control-label">
            {% for facePicture in facePictures %}
                <div class="col-md-4" style=" padding-right: 10px; padding-left: 10px;">
                    <div class="thumbnail">
                        <div style="position:relative;height:200px;">
                            <img src="{{ filepath(facePicture.fileUrl) }}" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;position:absolute;border: 3px solid #9c9898;">
                            {% if facePicture.result == 'success'%}
                                <img src="{{asset("assets/img/default/u317.png")}}" style="position:absolute;"/>
                                <p><span>识别成功</span></p>
                            {% else %}
                                <img src="{{asset("assets/img/default/u319.png")}}" style="position:absolute;"/>
                                <p><span>识别失败</span></p>
                            {% endif %}
                        </div>
                        <div class="caption clearfix">
                            <span style='display:block'>
                              {% if facePicture.type == 'register' %}
                                  注册
                              {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
      </div>
        {{ web_macro.paginator(paginator) }}
{% endblock %}