{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_user_states' %}

{% set script_controller = 'customadminbundle/controller/user-learning-record/record' %}

{% block main %}
<div class="alert alert-success clearfix" xmlns="http://www.w3.org/1999/html">
{{ userName|default() }} 所持 {{ certification.category|default() }}证书 在{{ state.learnStartTime|default()|date_format('Y-m-d') }}----{{ state.learnEndTime|default()|date_format('Y-m-d') }}周期内的 《{{ state.courseTitle|default() }}》课程的学习记录
    <a href="{{ path('admin_learning_record_export_csv',{id:state.id}) }}" class="btn btn-default btn-sm pull-right export mtm">导出结果</a>
</div>
    <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
        <tr>
            <th>所学课时</th>
            <th>学习开始时间</th>
            <th>学习结束时间</th>
            <th>所获学时</th>
            <th>学习进度</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {% for key,lesson in lessons %}
            {% include 'CustomAdminBundle:LerningRocord:tabe-tr.html.twig' with {lesson:lesson,key:key} %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}