{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_user_states' %}

{% set script_controller = 'customadminbundle/controller/user-learning-record/record' %}

{% block main %}

<div class="alert alert-success clearfix">
    {{ username|default() }} 对
    {% if lesson.parentChapterNumber %}
        第{{ lesson.parentChapterNumber }}章
    {% endif %}
    {% if lesson.chapterNumber|default(0) %}
        第{{ lesson.chapterNumber }}
        {% if lesson.chapterType == "chapter" %}章
        {% else %}节
        {% endif %}
    {% endif %} 的
    "{{ lesson.title|default() }}" 的详情明细
    <a href="{{ path('admin_learning_record_detail_export_csv', {userId:lesson.userId,courseId:lesson.courseId,lessonId:lesson.lessonId}) }}" class="btn btn-default btn-sm pull-right export mtm">导出结果</a>
</div>
    <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
        <tr>
            <th>学习设备</th>
            <th>详情</th>
            <th>学习开始时间</th>
            <th>学习结束时间</th>
            <th>课时长度</th>
            <th></th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {% for key,lessonView in lessonViews %}
            {% include 'CustomAdminBundle:LerningRocord:detail-tr.html.twig' with {lessonViews:lessonView} %}
        {% endfor %}
        </tbody>
    </table>
    {{ web_macro.paginator(paginator) }}
{% endblock %}