{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ lesson.id }}">
    <td>
        {% if lesson.parentChapterNumber %}
        第{{ lesson.parentChapterNumber }}章
        {% endif %}
        {% if lesson.chapterNumber %}
        第{{ lesson.chapterNumber }}
            {% if lesson.chapterType == "chapter" %}
            章
            {% else %}
            节
            {% endif %}
        {% endif %}
        "{{ lesson.title }}"
    </td>
    <td> {{ lesson.startTime|date('Y-n-d H:i:s') }} </td>
    <td>
        {% if lesson.finishedTime == 0 %}
        -
        {% else %}
        {{ lesson.finishedTime|default(0)|date('Y-n-d H:i:s') }}
        {% endif %}
    </td>
    <td>
        {% if lesson.status == "finished" %}
            {{ (lesson.suggestHours|default(0)) }}分钟
        {% else %}
            -
        {% endif %}
    </td>
    <td>
        {% if lesson.status == "finished" %}
            {{ (lesson.learnSum/sumHours|default(0)*100)|round(2,'floor') }}%
        {% else %}
            {{ ((lesson.learnSum-lesson.suggestHours)|default(0)/sumHours|default(0)*100)|round(2,'floor') }}%
        {% endif %}
    </td>
    <td>
        <div class="btn-group">
            <a href="{{ path('admin_learning_lesson_detail_record',{userId:lesson.userId,courseId:lesson.courseId,lessonId:lesson.lessonId,currentLoopTime:lesson.currentLoopTime}) }}"  target="_self" class="btn btn-default btn-sm">详情明细</a>
        </div>
    </td>
</tr>