<div class="editbox">
  <div class="scalebox">
    <a class="scale red" id="default-scale">
      <div class="scale-details">
        <ul class="lesson-list"></ul>
      </div>
    </a>
  </div>
  <ul class="lesson-list gruop-lesson-list" id="editbox-lesson-list"></ul>
  {% if type == 'face'|default(false) %}
    {{'<span class="remask">将右侧人脸识别条拖至时间轴添加视频驻点<p></p>释放后设置将自动保存</span>'|trans|raw}}
  {% else %}
    {{'<span class="remask">将右侧题目拖至时间轴添加视频驻点<p></p>释放后设置将自动保存</span>'|trans|raw}}
  {% endif %}
</div>
