<div class="toolbar toolbar-open toolbar-face-marker"
	data-marker-metas-url="
	{{path('course_certification_lesson_marker_metas',{'mediaId':lesson.id})}}"
	data-marker-add-url="{{path('course_certification_lesson_marker_add',{'courseId':course.id,'lessonId':lesson.id})}}"
	data-marker-delete-url="{{path('course_certification_lesson_marker_delete',{'courseId':course.id,'lessonId':lesson.id})}}"
	data-marker-update-url="{{path('course_certification_lesson_marker_edit',{'courseId':course.id,'lessonId':lesson.id})}}">
	<div class="question-menu">
		<ul class="lesson-list gruop-lesson-list" id="subject-lesson-list">
			<li class="row item-lesson drag">
		    	<div class="col-md-6 col-sm-10 title">
			      <div class="before">
			        <span class="icon-drag glyphicon glyphicon-move mrm"></span>
			        <span>{{'拖动弹人脸识别至左侧时间条'|trans}}</span>
			      </div>
			      <i class="icon-close es-icon es-icon-icon_close_circle"></i>
			    </div>
			</li>
		</ul>
	</div>
</div>