{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block title %}{{'弹脸识别'|trans}}{% endblock %}

{% set script_controller = 'customwebbundle/controller/certification-marker/index-face' %}
{% set bodyClass="question-manage" %}

{% block body %}
    <div class="mvl mhl">
      <a href="{{path('course_certification_manage_lesson',{id:course.id})}}" class="btn btn-primary mrm">返回课时管理</a>
      {#<a href="{{path('course_certification_learn_preview',{id:course.id,type:'face'})}}#lesson/{{lesson.id}}" class="btn btn-default mrm" target="_blank">{{'预览弹脸识别'|trans}}</a>#}
      <span class="text-sm color-gray">{{'本页面所有操作自动保存'|trans}}</span>
    </div>
  	<div class="lesson-dashboard lesson-dashboard-open" id="lesson-dashboard"
    data-course-id="{{ course.id }}"
    data-lesson-id="{{ lesson.id }}"
    data-lesson-mediaid="{{ lesson.mediaId }}"
    data-hide-media-lesson-learn-btn="{{ is_feature_enabled('hide_media_lesson_learn_btn')}}">
  		{% include 'CustomWebBundle:CertificationMarker:player.html.twig' %}
  		<div class="face hidden-xs">
        {% include 'CustomWebBundle:CertificationMarker:face.html.twig' %}
      </div>
  	</div>
	<div class="modal"></div>
{% endblock %}