{% extends 'TopxiaWebBundle:My:layout.html.twig' %}


{% block title %}{{'我的问答'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-questions' %}

{% block main %}


<div class="panel panel-default panel-col">


  <div class="panel-heading">{{'我的问答'|trans}}
  </div>

  <div class="panel-body">

    {% if threads %}
	    {% include 'CustomWebBundle:MyThread:thread-list.html.twig'  with {type: 'question'} %}
    {% else %}
      <div class="empty">{{'暂无提问的记录'|trans}}</div>
    {% endif %}

  </div>

</div>


{% endblock %}