{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_to_learn' %}

{% set script_controller = '' %}

{% block main %}

{{ web_macro.flash_messages() }}

<form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
  <div class="form-group">
    <select id="keywordType" name="keywordType" class="form-control">
      {{ select_options(dict('userCustomKeyWordType'), app.request.query.get('keywordType'), '--关键词类型--') }}
    </select>
  </div>

  <div class="form-group">
    <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}" placeholder="关键词">
  </div>

  <button class="btn btn-primary">搜索</button>

</form>

<table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
  <thead>
    <tr>
      <th>用户名</th>
      <th>手机号</th>
      <th>身份证号</th>
      <th>行政区域</th>
      <th>证书个数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <p class="text-muted">
      <span class="mrl">用户总数：<strong class="inflow-num">{{userCount}}</strong></span>
    </p>
    {% for user in users %}
      {% include 'CustomAdminBundle:ToLearn:user-table-tr.html.twig' with {user:user,profile:profiles[user.id]} %}
    {% endfor %}
  </tbody>
</table>
 {{ web_macro.paginator(paginator) }} 
{% endblock %}