{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}个人详细信息{% endblock %}

{% block body %}

<table class="table table-striped table-condenseda table-bordered">
  <tr>
    <th width="25%">用户名</th>
    <td width="75%">
      {{ user.nickname }}
    </td>
  </tr>
  
  <tr>
    <th>属地</th>
    <td>
      {% if user.areaCode %}
         {% set area = data('Area',{areaCode:user.areaCode}) %}{{area.name}}
    </td>
      {% else %}
        暂无
      {% endif %}
    </td>
  </tr>
 
   <tr>
    <th>身份证号</th>
    <td>
      {% if profile.idcard %}
        {{ profile.idcard }}
      {% else %}
        暂无
      {% endif %}
    </td>
  </tr>

  <tr>
    <th>手机号码</th>
    <td>
      {% if user.verifiedMobile %}
        {{ user.verifiedMobile|default('')}}<span class="text-success">({{'已绑定'|trans}})</span> 
      {% elseif profile.mobile %}
        {{ profile.mobile }}<span class="text-danger">({{'未绑定'|trans}})</span>
      {% else %}
        {{ profile.mobile|default('暂无') }}
      {% endif %}
    </td>
  </tr>

  <tr>
    <th>stuId</th>
    <td>
      {{ user.stuId|default('') }}
    </td>
  </tr>

  {% for certificate in user.certificates %}
    <tr>
      <th colspan="2">证书（{{loop.index}}）</th>
    </tr>
    <tr>
      <td colspan="2" style="border-bottom: 0px; font-size: 10px"　>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证书类别{% set certification = data('Certification',{certificationId:certificate.certificationId}) %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{certification.category}}</td>
    </tr>
    <tr>
      <td colspan="2" style="border-top: 0px; font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;颁发时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{certificate.awardTime|date('Y-m-d H:i')}}</td>
    </tr>
  {% endfor %}

</table>
<hr>
<table class="table table-striped table-condenseda table-bordered">
    {% if fields %}
  {% for field in fields %}
    <tr>
        <th width="25%">{{field.title}}</th>
        <td>
          {% if profile[field.fieldName] %}
            {% if field.type=="date"%}
            {{ profile[field.fieldName]|date("Y-m-d") }}
            {% else %}
            {{ profile[field.fieldName] }}
            {% endif %}
          {% else %}
            暂无
          {% endif %}
        </td>
    </tr>
  {% endfor %}
  {% endif %}
  </table>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
{% endblock %}