{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ user.id }}">
  <td>
    <a href="#modal" data-toggle="modal" data-url="{{ path('admin_to_learn_show', {id:user.id}) }}" data-url="" ><strong>{{profile.truename}}</strong></a>
    {% if user.locked %}
      <label class="label label-danger">禁</label>
    {% endif %}

    <br>
    <span class="text-muted text-sm">
      {% for role in user.roles %}
        {{ dict_text('userRole', role) }}
      {% endfor %}
    </span>
  </td>

  <td>
    {% if user.verifiedMobile %}
      {{ user.verifiedMobile }}<span class="text-success">(已绑定)</span>
    {% elseif profile.mobile %}
      {{ profile.mobile }}<span class="text-danger">(未绑定)</span>
    {% else %}
       -- 
    {% endif %}
  </td>

  <td>
    {% if profile.idcard %}
      {{profile.idcard}}
      {% else %}
      暂无
    {% endif %}
    
  </td>

  <td>
    {% if user.areaCode %}
      {% set area = data('Area',{areaCode:user.areaCode}) %}{{area.name}}
      {% else %}
      暂无
    {% endif %}
  </td>

  <td>
    {% if user.certificateCount %}
      {{user.certificateCount}}
      {% else %}
      暂无
    {% endif %}
  </td>
  <td>
    <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_to_learn_show', {id:user.id}) }}" data-url="" class="btn btn-default btn-sm">查看</a>
    </div>
  </td>
</tr>

