{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}批量导入{% endblock %}

{% set script_controller = 'user-import/import-modal' %}

{% block body %}

<div id="user-import-progress" class="package-update-progress" style="display:none;">
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: 0%"></div>
  </div>
  <div class="text-success progress-text"></div>
</div>

{% endblock %}

{% block footer %}

  <strong class="text text-danger" id="updating-hint" style="display:none;">正在导入，请不要关闭当前窗口...</strong>

  <button id="finish-import-btn" data-loading-text="正在完成导入, 请稍等..." class="btn btn-primary" style="display:none">完成导入</button>

  <script type="text/javascript"> app.load('customwebbundle/controller/importer/import-modal') </script>
{% endblock %}