{% import _self as web_macro %}
<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}

          {% if data.type == 'at' %}
            {{ web_macro.user_link_at(data) }} 在话题 <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target="_blank">{{ data.title }}</a> 中@了您。
            <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}#post-{{data.postId}}" target='_blank'>点击查看</a>

          {% elseif data.type == 'reply'%}

            {{ web_macro.user_link_at(data) }} 在话题 <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target="_blank">{{ data.title }}</a> 中回复了您。
            <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}#post-{{data.postId}}" target='_blank'>点击查看</a>

          {% elseif data.type == 'replayat'%}
          
            {{ web_macro.user_link_at(data) }} 在话题 <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target="_blank">{{ data.title }}</a> 中回复了您。
            <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}#post-{{data.postId}}" target='_blank'>点击查看</a>

          {% elseif data.type == 'modify-thread' %}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>被管理员编辑。<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}#post-{{data.postId}}" target='_blank'>点击查看</a>
            
          {% elseif data.type == 'modify-post' %}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>有回复被管理员编辑。<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}#post-{{data.postId}}" target='_blank'>点击查看</a>

          {% elseif data.type == 'delete' %}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>有回复被管理员删除.

          {% elseif data.type == 'modify'%}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>被管理员编辑.

          {% elseif data.type == 'top' %}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>被管理员设为置顶. 

          {% elseif data.type == 'untop'%}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>被管理员取消置顶.

          {% elseif data.type == 'elite'%}

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>被管理员加精. 

          {% elseif data.type == 'unelite'%}  

            您的话题<a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId,threadId:data.id}) }}" target='_blank'><strong>“{{data.title}}”</strong></a>被管理员取消加精.

          {% endif %}
     
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>

{%- macro user_link_at(data, class, card = true) -%}
  {% if data %}
    <a class="{{ class }}" href="{{ path('user_show', {id:data.userId}) }}" target="_blank">
      {% if data.userName|length >= 11 %}
        {{ data.userName|slice(0,4) }}****{{ data.userName|slice(-3) }}
      {% else %}
        {{ data.userName }}
      {% endif %}
    </a>
  {% else %}
    <a class="{{ class }}" href="javascript:;"><del>用户不存在</del></a>
  {% endif %}
{%- endmacro -%}