<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      <a href="{{ path('user_show', {id:data.threadUserId}) }}" target="_blank">{{ data.threadUserNickname }}</a>
      在课程 <a href="{{ path('course_cert_normal_show', {id:data.courseId}) }}">{{ data.courseTitle|purify_html  }}</a>
      发表了{% if data.threadType == 'question' %}问题{% else %}话题{% endif %}
      <a href="{{ path('course_thread_cert_normal_show', {courseId:data.courseId, threadId:data.threadId}) }}"  target="_blank">{{ data.threadTitle|purify_html }}</a>。
    </div>
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>