{% import 'CustomWebBundle::macro.html.twig' as web_macro %}
<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      {% if data.thread %}
        {{ web_macro.user_link_at(data.user) }} 在话题 <a href="{{ path('thread_post_jump', {threadId:data.thread.id, postId:data.id}) }}" target="_blank">{{ data.thread.title }}</a> 的回复中提到了你。
        <blockquote>
          {{ data.content }}
        </blockquote>
      {% else %}
        {% include 'TopxiaWebBundle:Notification/Widget:item-article.post_at.html.twig' %}
      {% endif %}
    </div>
    <div class="notification-footer">
      {{ notification.createdTime|date('Y-n-d H:i:s') }}
    </div>
  </div>
</li>