<ul class="nav nav-tabs">

	<li class="{% if filter == 'normal' %}active{% endif %}"><a href="{{path('my_teaching_courses', {filter:'normal'}) }}">{{'普通课程'|trans}}</a></li>

	<li class="{% if filter == 'classroom' %}active{% endif %}" style="display:none"><a href="{{path('my_teaching_courses', {filter:'classroom'}) }}">{{setting("classroom.name")|default("班级"|trans)}}{{'课程'|trans}}</a></li>

</ul>
<br>
