<ul class="nav nav-tabs">
	<li class="{% if threadType == 'course' %}active{% endif %}"><a href="{{path('my_teaching_threads', {type:'discussion'}) }}">{{'课程'|trans}}{{setting('default.user_name')|default('学员'|trans)}}{{'话题'|trans}}</a></li>
	<li class="{% if threadType == 'classroom' %}active{% endif %}" style="display:none"><a href="{{path('my_teaching_classroom_threads', {type:'discussion'}) }}">{{ setting('classroom.name')|default("班级"|trans) }}{{setting('default.user_name')|default('学员'|trans)}}{{'话题'|trans}}</a></li>
</ul>
<br>
