{% extends 'CustomWebBundle:CourseManage:layout_certification.html.twig' %}

{% block title %}{{'课时管理'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'lesson' %}
{% set script_controller = 'course-manage/lesson' %}

{% block main %}
    {{ web_macro.flash_messages() }}

<div class="panel panel-default panel-col lesson-manage-panel">
	<div class="panel-heading">
		<div class="pull-right">

			<button class="btn btn-info btn-sm copyAll" id="lesson-copy-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('copy_version_history_all_course', {id:course.id}) }}"><i class="glyphicon"></i>{{'复制全部证书历史版本课程'|trans}}</button>

			<button class="btn btn-info btn-sm" id="lesson-copy-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('copy_version_history_course', {id:course.id}) }}"><i class="glyphicon"></i>{{'复制本证书历史版本课程'|trans}}</button>
			<button class="btn btn-info btn-sm" id="lesson-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_lesson_create', {id:course.id}) }}"><i class="glyphicon glyphicon-plus"></i>{{'课时'|trans}}</button>

			{% if course.type == 'certification' or course.type == 'live' %}
				<button class="btn btn-info btn-sm" id="lesson-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_lesson_create_testpaper', {id:course.id}) }}"><i class="glyphicon glyphicon-plus"></i> {{'试卷'|trans}}</button>
			{% endif %}

			<div class="btn-group">
			  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
			    <i class="glyphicon glyphicon-plus"></i> {{setting('default.chapter_name')|default('章'|trans)}}/{{setting('default.part_name')|default('节'|trans)}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_certification_manage_chapter_create', {id:course.id}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 {{setting('default.chapter_name')|default('章')}}</a>
			    </li>
			    <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_certification_manage_chapter_create', {id:course.id, type:'unit'}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 {{setting('default.part_name')|default('节')}}</a>
			    </li>
			  </ul>
			</div>
		</div>

		{{'课时管理'|trans}}
	</div>

	{% if items is empty %}

	 <div class="empty">{{'暂无课时内容！'|trans}}</div>

	 {% endif %}

	<div class="panel-body">
		<ul class="lesson-list sortable-list" id="course-item-list" data-sort-url="{{ path('course_manage_lesson_sort', {id:course.id}) }}">
			{% for id, item in items %}
			  {% if 'chapter' in id %}
			    {% include 'CustomWebBundle:CourseChapterManage:list-item_certification.html.twig' with {chapter: item} %}
			  {% elseif 'lesson' in id  %}
			  	{% include 'CustomWebBundle:CourseLessonManage:list-item_certification.html.twig' with {lesson: item, file: files[item.mediaId]|default(null)} %}
			  {#
			  {% elseif  item.type == 'testpaper'  %}
			      {% include 'TopxiaWebBundle:CourseTestpaperManage:list-item.html.twig' with {lesson: item, file: files[item.mediaId]|default(null)} %}
			  #}
			  {% endif %}
			{% endfor %}

		</ul>
	</div>
</div>

{% endblock %}
