{% import "CustomWebBundle::macro.html.twig" as web_macro %}
<li class="media thread-item" data-id="{{ thread.id }}">
	<div class="media-body thread-item-body">
		<div class="title mbm"><a href="javascript:void(0);" class="show-question-item" data-id="{{ thread.id }}">{{ thread.title }}</a>
		</div>
		<div class="metas">
			{{ web_macro.user_link(user) }} {{'发表于'|trans}} {{ thread.createdTime|smart_time }}
			<span class="bullet">•</span>
			<a href="#">{{ thread.postNum }}{{'回答'|trans}}</a>
		</div>
	</div>
</li>