{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}{{'短信推送'|trans}}{% endblock %}
{% block body %}

<lable id="smsSend-form" class="form-horizontal"  data-url = "{{ path('generate_short_link',{url:url})}}" style="display:none;">
  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="title">{{'发送对象'|trans}}:</label>
    </div>
    <div class="col-md-7 controls">
      <p class="help-block">{% if targetType == 'threeMonthLeft'  %}三个月内到期的{% elseif  targetType == 'oneMonthLeft' %}一个月内到期的{% else %}一周内到期的{% endif  %}用户</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="title">{{'预计发送量'|trans}}:</label>
    </div>
    <div class="col-md-7 controls">
      <p class="help-block">{{count}}{{'条'|trans}}</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="startTime">{{'发送内容'|trans}}:</label>
    </div>
    <div style="z-index:2000;">
      <p class="help-block">
          [{{setting('cloud_sms.sms_school_name')}}]　{{'xx学员，你的'|trans}}{{certification.certificationName|default('xx')}}{{'课程（xxxx—xxxx）离到期时间还有xx天，请抓紧学习。'|trans}}
      </p>
    </div>
  </div>
</lable>

<form id="smsSend-ready" class="form-horizontal">
  <input type="hidden" name="sms_open" value={{isOpen}}>
  <div class="row form-group">
    <div class="col-md-8 control-label">
      <p>{{'短信发送准备中'|trans}}...</p>
    </div>
  </div>
</form>
<div id="smsSend-progress" class="package-update-progress" style="display:none;">
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: 0%"></div>
  </div>
  <div class="text-success progress-text"></div>
</div>

{% endblock %}

{% block footer %}
  <button id = 'begin-smsSend' data-url="{{ path('certification_publish_sms_send',{targetType:targetType,id:item.id,count:count,index:0,students:students, certification:certification,url:url}) }}" data-submiting-text="{{'正在提交'|trans}}" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#smsSend-form" style="display:none;">{{'发送'|trans}}</button>
  <strong class="text text-danger" id="updating-hint" style="display:none;">{{'正在发送，请不要关闭当前窗口'|trans}}...</strong>
  <button id = 'cancle-smsSend'type="button" class="btn btn-link pull-right" data-dismiss="modal" style="display:none;">{{'取消'|trans}}</button>
  <button id="finish-smsSend" data-loading-text="{{'正在发送, 请稍等'|trans}}..." class="btn btn-primary" style="display:none">{{'发送完成'|trans}}</button>
  <script>app.load('/../../../../topxiaweb/js/controller/sms/sms-send')</script>
{% endblock %}