{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_setting_ip_whitelist' %}

{% block main %}

{{ web_macro.flash_messages() }}

<form method="post">
	<textarea id="ips" name="ips" rows="18" class="form-control">{% if ips  %}{{ips.ips}}{% endif %}
</textarea>

  <div class="help-block">一行一个IP，限制调用客户端IP，设置白名单，只有白名单中的IP可以调用接口数据</div>
  <input type="submit" class="btn btn-primary" value="提交">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>

{% endblock %}