{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_setting_mobile_iap_product_list' %}

{% set script_controller = 'customadminbundle/controller/setting/mobile-iap-product' %}

{% block main %}
{{ web_macro.flash_messages() }}
<form class="form-inline" method="post">
  <div class="form-group">
    <label class="sr-only" for="product">IAP后台的商品ID</label>
    <input class="form-control" id="product" name="productId" placeholder="IAP后台的商品ID">
  </div>
  <div class="form-group">
    <label class="sr-only" for="title">商品名</label>
    <input class="form-control" id="title" name="title" placeholder="商品名">
  </div>
  <div class="form-group">
    <label class="sr-only" for="price">商品单价(元)</label>
    <input class="form-control" id="price" name="price" placeholder="商品单价(元)">
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  <button type="submit" class="btn btn-primary">新增商品</button>
</form>

<table class="table table-striped table-hover" id="iap-product-table" style="word-break:break-all;">
    <thead>
    <tr>
      <th>{{'IAP后台的商品ID'|trans}}</th>
      <th width="40%">{{'商品名'|trans}}</th>
      <th>{{'单价'|trans}}</th>
      <th>{{'操作'|trans}}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.productId }}</td>
        <th width="30%">{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>
          <a class="btn btn-default btn-sm" data-role="delete" data-url="{{url('admin_setting_mobile_iap_product_delete',{productId:product.productId})}}">{{'删除'|trans}}</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="20">
          <div class="empty">{{'暂无记录'|trans}}</div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}