{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'customwebbundle/controller/url-sender/urlSender' %}
{% block content %}

  <div class="container">
    <div class="senderSection">
      <div >
        <select name="requestType" class="requestType">
          <option value="POST">POST</option>
          <option value="GET">GET</option>
        </select>

        <input type="text" class="sendUrl" name="sendUrl" style="width: 500px"/>
        <input type="button" class="sendBtn" value="发送"></input>
        <br/>

        <textarea class="sendHeadParams" name="sendHeadParams" style="width: 500px; margin-left:67px; margin-top:5px; height: 200px;">
  	        {
  	            "_username": "13675814011",
  	            "_password": "123456",
                   "_areaCode": "004"
  	        }
        </textarea>

        <div class="sendResult" style="margin-left:67px; margin-top:5px; height: 200px; overflow-y: auto; overflow-y: auto;">
          此处显示返回结果
        </div>
      </div>
    </div>

    <br/>
    
    <div class="senderSection">
      <div >
        <select name="requestType" class="requestType">
          <option value="POST">POST</option>
          <option value="GET">GET</option>
        </select>

        <input type="text" class="sendUrl" name="sendUrl" style="width: 500px"/>
        <input type="button" class="sendBtn" value="发送"></input>
        <br/>

        <textarea class="sendHeadParams" name="sendHeadParams" style="width: 500px; margin-left:67px; margin-top:5px; height: 200px;">
            {
                "_username": "13675814011",
                "_password": "123456"
            }
        </textarea>

        <div class="sendResult" style="margin-left:67px; margin-top:5px; height: 200px; overflow-y: auto;">
          此处显示返回结果
        </div>
      </div>
    </div>
  </div>

{% endblock %}