{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_user_states' %}

{% set script_controller = 'user/list' %}

{% block main %}

{{ web_macro.flash_messages() }}

<form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
  <div class="mbm">
    <select class="form-control" name="areaCode" id="areaCode">
      {{ select_options(areasOption, app.request.get('areaCode') ,'--所有行政区域--') }}
    </select>
    
    <select class="form-control" name="certificationId" id="certificationId">
      {{ select_options(certificationsOption, app.request.get('certificationId') ,'--从业证书类型--') }}
    </select>
    
    <div class="form-group">
      <select id="keywordType" name="keywordType" class="form-control">
        {{ select_options(dict('userStatesKeyWordType'), app.request.query.get('keywordType'), '--学员关键词--') }}
      </select>
    </div>

    <div class="form-group">
      <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}" placeholder="学员关键词">
    </div>
    
  </div>

  <div class="form-group">
    <select class="form-control" name="action">
      {{ select_options(dict('userCertificationStates'), app.request.query.get('action')) }}
    </select>
  </div>

  <div class="form-group ">
      <input class="form-control" type="text" id="startDate" name="startDate" value="{{app.request.query.get('startDate')}}" placeholder="学习统计起始时间">
      -
      <input class="form-control" type="text" id="endDate" name="endDate" value="{{app.request.query.get('endDate')}}" placeholder="学习统计结束时间">
  </div> 
  <span class="divider"></span>
  <button class="btn btn-primary">搜索</button>
  <a class="btn btn-primary" href="{{path('admin_user_states_export_csv',
  {startDate:app.request.get('startDate'),
  endDate:app.request.get('endDate'),
  action:app.request.get('action'),
  keyword:app.request.get('keyword'),
  keywordType:app.request.get('keywordType'),
  certificationId:app.request.get('certificationId'),
  areaCode:app.request.get('areaCode')
  }
  )}}">导出结果</a>
  {#{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% if showUserExport %}
      <a class="btn btn-primary mhs" id="user-export" data-toggle="modal" data-target="#modal" data-url="{{path('admin_user_export')}}">导出搜索结果</a>
    {% endif %}
  {% endif %}#}
</form>

<table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
  <thead>
    <tr>
      <th style="width:10%">行政区域</th>
      <th>学员身份证</th>
      <th>学员姓名</th>
      <th>课程名称</th>
      <th>证书类型</th>      
      <th style="width:10%">学员动作</th>
      <th>学习周期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <p class="text-muted">
      <span class="mrl">用户总数：<strong class="inflow-num">{{ userCount|default(0)}}</strong></span>
    </p>
    {% for user in users %}
      {% include 'CustomAdminBundle:UserStates:user-table-tr.html.twig' with {user:user} %}
    {% endfor %}
  </tbody>
</table>
 {{ web_macro.paginator(paginator) }} 
{% endblock %}