{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ user.id }}">
  <td>{{ areasOption[user.areaCode] }}</td>
  <td> {{ user.idcard }} </td>
  <td> {{ user.truename }} </td>
  <td> {{ user.courseTitle}}  </td>
  <td> {{ certificationsOption[user.certificationId] }} </td>
  <td> {{ dict_text('userCertificationStates', user.action) }} </td>
  <td> {{ user.learnStartTime|date('Y.m.d') }} - {{ user.learnEndTime|date('Y.m.d') }}</td>  
  <td>
    <div class="btn-group">
        <a href="{{ path('admin_learning_record', {id:user.id}) }}"  target="_self" class="btn btn-default btn-sm">查看学习记录</a>
    </div>
  </td>
</tr>

