{% extends 'CustomWebBundle:My:layout.html.twig' %}

{% block title %}{{'我的证书'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-certifications' %}
{% set script_controller = 'customwebbundle/controller/course-loop/navigatorTools' %}

{% block main %}
  <div class="panel panel-default panel-col">
    <div class="panel-heading">{{'我的证书'|trans}}</div>
    <div class="panel-body">
      {% for singleCertification in certifications %}
        <div class='zh-certification'>
          <div class="certification-content">
          <p class="text-primary" title="{{singleCertification.certificationName}}证书">{{singleCertification.certificationName}}证书</p>
          <div class="metas" title="{{ app.user.nickname }}于{{singleCertification.awardTime}}获得{{singleCertification.certificationName}}证书">{{ app.user.nickname }}于{{singleCertification.awardTime}}获得<span class="text-primary">{{singleCertification.certificationName}}</span>证书 <span class="text-primary">{{singleCertification.revokedTime|default(false) ? '（已吊销）' : ''}}</span>
          </div>
          <span title="颁发时间{{singleCertification.awardTime}}">颁发时间{{singleCertification.awardTime}}</span> 
        </div>
      </div>
      <p>证书课程</p>
        {{render(controller('CustomWebBundle:CertificationCourse:allCertificationCoursesBlockGrid',{courses:singleCertification['courses']})) }}
        <div class="mtm mbl zh-underline"></div>
      {% endfor %}
    </div>
  </div>

{% endblock %}