{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}我要充值{% endblock %}

{% set script_controller = 'customwebbundle/controller/award/buy-info' %}

{% block stylesheets %}
  {{parent()}}
  <link href="{{ asset('bundles/customweb/css/zhonghuan-main.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
{% endblock %}

{% block top_content %}
<form class="form-horizontal award-form" id="award-form" action='{{ path('buy_detail_info', { openid:openid }) }}' method="post">
  <ul class="active-group">
    <li class="active-group-item">
        <span class="gray-darker mrm">充值帐号</span>
        <input type="text" id="idcard" name="idcard" required="required" placeholder="请输入身份证号码">
    </li>
    <li class="active-group-item">
        <span class="gray-darker mrm">手机确认</span>
        <input type="text" id="mobile" name="mobile" required="required" placeholder="请输入手机号码">
    </li>
    <li class="js-areacode-select active-group-item areacode-select choose-area clearfix" hidden>
        <span class="gray-darker mrm">选择地区</span>
        <select id="areacode" name="areacode" class="form-control"></select>
    </li>
    <li class="active-group-item">
        <span class="gray-darker mrm">充值金额</span>
        <input type="text" id="amount" name="amount" required="required" placeholder="请输入充值金额">
    </li>
  </ul>

  <input type="hidden" id="openid" name="openid" value="{{ openid }}">

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  <div class="text-center">
    <button class="btn btn-fat award-btn" type="submit" data-loading-text="{{'充值'|trans}}...">{{'确认充值'|trans}}</button>
  </div>
</form>
{% endblock %}
{% block footer %}
{% endblock %}