{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}充值状态{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <link href="{{ asset('bundles/customweb/css/zhonghuan-main.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="es-wrap bg-buy-success">
  
{% block header %}
{% endblock %}

{% block top_content %}
  <div class="success-done-top">
    <div class="success-done-icon">
      <i class="es-icon es-icon-done success-icon"></i>
    </div>
  </div>
  <div class="success-done-body text-center">
    <p class="spend-font mbl">成功充值{{ order.amount * coin.cash_rate|default('') }}{{ coin.coin_name|default('元') }}</p>
    <a class="btn award-btn mbl" href="{{ path('buy_detail_info')}}?openid={{openid}}">{{'充值完成'|trans}}</a>
    <a class="btn award-btn bgc-gray" href="{{ path('buy_order_info', { orderId:order.id, openid:openid }) }}">{{'交易详情'|trans}}</a>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}

{% endblock %}