{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}交易详情{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <link href="{{ asset('bundles/customweb/css/zhonghuan-main.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
{% endblock %}

{% block top_content %}
<div class="order-info-page">
  <ul class="active-group">
    <li class="pvl add-border">付款金额
      <span class="money-size">¥{{ order.amount|default('') }}</span>
    </li>
    <li class="pvs">充值帐号
      <span class="pull-right">{{ idcard|default('') }}</span>
    </li>
    <li class="pvs">手机号码
      <span class="pull-right">{{ mobile|default('') }}</span>
    </li>
    <li class="pvs">充值区域
      <span class="pull-right">{{ areaCode.name|default('-') }}</span>
    </li>
    <li class="pvs">充值状态
      <span class="pull-right">支付成功</span>
    </li>
    <li class="pvs">充值时间
      <span class="pull-right">{{ order.paidTime|default('')|date('Y-n-d H:i:s') }}</span>
    </li>
    <li class="pts pbl add-border">支付方式
      <span class="pull-right">微信支付</span>
    </li>
  </ul>
   
  <div class="text-center">
    <a class="btn award-btn mbl text-xlg" href="{{ path('buy_detail_info', { openid:openid }) }}">{{'确认'|trans}}</a>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}