{% if isMobile %}
  <li class="nav-hover">
    <a href="" data-toggle="dropdown">
      所有分校
      <b cl="caret"></b>
    </a>
    {% if categories %}
    <ul class="dropdown-menu" role="men
      {% for category in categories %}
        <li>
          <a href="{{path('branch_school_explore',{category:category.code})}}">{{category.name|trans}}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
{% else %}
   <ul class="hidden-xs branch-nav">
    <li id="branch-nav-li" class="dropdown nav-hover" role="presentation">
      <a href="{{path('branch_school_explore')}}" class="dropdown-toggle" data-toggle="dropdown">所有分校</a>
    {# 二级栏目 #}
    {% if categories %}
      <ul class="dropdown-menu branch-nav-menu">
        {% for category in categories %}
          {% if category.childCategories %}
              <li class="right-toggle">
                <a class="right-toggle-hover" target="_brank" href="{{path('branch_school_explore',{category:category.code})}}">{{category.name|trans}}
                  <i class="es-icon es-icon-chevronright pull-right"></i>
                </a>
                {# 三级栏目 #}
                <ul class="right-toggle-menu">
                  {% for childCategory in category.childCategories %}
                    <li><a target="_brank" href="{{path('branch_school_explore',{category:childCategory.code})}}">{{childCategory.name|trans}}</a></li>
                  {% endfor %}
                </ul>
              </li>
          {% else %}
            <li><a target="_brank" href="{{path('branch_school_explore',{category:category.code})}}">{{category.name|trans}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  </ul>
{% endif %}
