{% for schoolUser in schoolUsers %}
	{% if 'ROLE_ADMIN' in schoolUser.roles  %}
		{% set school = schools[schoolUser.schoolId] %}
		{% set prefix = school.name|slice(0,2) %}
      	{% set suffix = school.name|slice(2) %}	
		<li><a href="{{path('branch_school_settings',{domain:school.domain})}}" target="_brank" title="{{school.name}}"><i class="es-icon es-icon-dashboard"></i>管理{{suffix|length > 0 ? prefix ~ '..':prefix}}
		</a></li>
	{% endif %}
{% endfor %}