<div class="branch-section">
  <div class="container">
    {% set navigations = data('NavigationsTree', {}) %}
    <ul class="nav navbar-nav clearfix hidden-xs " id="nav">
      {% include 'CustomWebBundle:Default:top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: false} %}
    </ul>
  </div>
</div>