{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set bodyClass = 'homepage' %}
{% set siteNav = '/' %}
{% set script_controller = 'index' %}
{% set _target_path = path('homepage') %}

{% set currentTheme = current_theme() %}
{% set themeConfig = currentTheme.confirmConfig %}
{% set allConfig = currentTheme.allConfig %}

{% set isIndex = true %}
{% set consultDisplay = true %}

{% block header %}
      {% include 'TopxiaWebBundle::site-hint.html.twig' %}
      {% include 'TopxiaWebBundle:Default:header.html.twig' %}
      <div class="branch-section">
        <div class="container">
          {% if is_plugin_installed("BranchSchool") %}
            {{ render(controller('CustomWebBundle:Default:indexCategoryNav',{isMobile:false})) }}
          {% endif %}
          {% set navigations = data('NavigationsTree', {}) %}
          <ul class="nav navbar-nav clearfix hidden-xs " id="nav">
            {% include 'CustomWebBundle:Default:top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: false} %}
          </ul>
        </div>
      </div>
{% endblock %}

{% block full_content %}
    {{ block_show('jianmo:home_top_banner') }}
    {% for config in themeConfig.blocks.left|default([]) %}
      
      {% set code = config.code %}
      {% if config.sortName|default('') == 'recommended' and code == 'category-course' %}
            {% set code = 'recommend-course' %}
        {% endif %}

      {% set category = config.categoryId|default(0) ? data('category', {categoryId: config.categoryId})  : null %}
    {% if code == 'groups' %}
        {% include 'CustomWebBundle:Default:group.html.twig' with {config:config, category: category} %}
    {% else %}
        {% include 'TopxiaWebBundle:Default:' ~ code ~ '.html.twig' with {config:config, category: category} %}
    {% endif %}

    {% endfor %}
{% endblock %}
