{% for schoolUser in schoolUsers %}
	{% 'ROLE_ADMIN' in schoolUser.roles  %}
	{% set school = schools[schoolUsers['schoolId']] %}
		<li><a href="#"><i class="es-icon es-icon-dashboard"></i>{{'管理'~school.name~'分校'|trans}}</a>
		</li>
	{% endif %}
{% endfor %}