<div class="branch-section">
  <div class="container">
    <ul class="branch-nav">
      {% if is_plugin_installed("BranchSchool") %}
        <li class="dropdown nav-hover" role="presentation">
        <a class="dropdown-toggle" data-toggle="dropdown" >所有分校</a>
        {# 二级栏目 #}
        {% if categories %}
          <ul class="dropdown-menu">
            {% for category in categories %}
              {% if category.childCategories %}
                  <li class="right-toggle">
                    <a class="right-toggle-hover" target="_brank" href="{{path('branch_school_explore',{category:category.code})}}">{{category.name|trans}}</a>
                    {# 三级栏目 #}
                    <ul class="right-toggle-menu">
                      {% for childCategory in category.childCategories %}
                        <li><a target="_brank" href="{{path('branch_school_explore',{category:childCategory.code})}}">{{childCategory.name|trans}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
              {% else %}
                <li><a target="_brank" href="{{path('branch_school_explore',{category:category.code})}}">{{category.name|trans}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endif %}
      {% set navigations = data('NavigationsTree', {}) %}
      <ul class="nav navbar-nav clearfix hidden-xs " id="nav">
        {% include 'CustomWebBundle:Default:top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: false} %}
      </ul>
    </ul>
  </div>
</div>