{% if isEditColor %}
  {% set maincolor = config.config.maincolor|default('default') %}
  {% set navigationcolor = config.config.navigationcolor|default('default') %}
{% else %}
  {% set maincolor = config.confirmConfig.maincolor|default('default') %}
  {% set navigationcolor = config.confirmConfig.navigationcolor|default('default') %}
{% endif %}

{% if maincolor == 'default' %}
  <link href="{{ asset('assets/v2/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
{% else %}
  <link href="{{ filepath('../assets/v2/bootstrap/css/bootstrap-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
{% endif %}

<link rel="stylesheet" media="screen" href="{{ filepath('../assets/css/common.css') }}" />
<link rel="stylesheet" media="screen" href="{{ filepath('../assets/css/font-awesome.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ filepath('../assets/v2/css/es-icon.css') }}" />

{% if maincolor == 'default' %}
  <link href="{{ asset('assets/v2/css/main.css') }}" rel="stylesheet" />
{% else %}
  <link href="{{ filepath('../assets/v2/css/main-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
{% endif %}

{% if navigationcolor != 'default' %}
  <link href="{{ asset('assets/v2/css/header-' ~ navigationcolor ~ '.css') }}" rel="stylesheet" />
{% endif %}

{% if app.request.getLocale() == 'ug_CN' %}
  <link href="{{ asset('assets/rtl/css/rtl.css') }}" rel="stylesheet" />
{% endif %}
<link rel="stylesheet" type="text/css" href="{{filepath('../bundles/customweb/css/zhonghuan-main.css')}}">
<link rel="stylesheet" type="text/css" href="{{filepath('../bundles/customweb/css/zh-icon.css')}}">