{% set props = status.properties %}

{% if mode == 'simple' %}
  完成了课时 <a class="link-dark" href="javascript:;" title="来自《{{ props.course.title }}》">{{ props.lesson.title|sub_text(15)}} 下的练习</a>
{% elseif mode == 'full' %}

{% endif %}