{% set props = status.properties %}

{% if mode == 'simple' %}
  学完了课时 <a class="link-dark" href="javascript:;" title="来自《{{ props.course.title }}》">{{ props.lesson.title|sub_text(15)}}</a>
{% elseif mode == 'full' %}

{% endif %}