{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set script_controller = 'customwebbundle/controller/data-sync-test/test' %}

{% block full_content %}
  
  <select class='selectedType'>
    {% for item in typeSamples %}
        <option value='{{item.key}}'>{{item.key}}</option>
    {% endfor %}
  </select>
  左边为提交的内容, 右边为相应的解释
  
  {% for item in typeSamples %}
    <div class='{{item.key}} hidden'>{{item.value}}</div>
    <div class='{{item.key}}_doc hidden'>{{item.doc}}</div>
  {% endfor %}

  <div></div>
  <textarea class='sendMsg' style='width: 400px; height: 500px;'></textarea>
  <textarea disabled class='doc' style='width: 800px; height: 500px;'></textarea>

  <div></div>
  <input class='sendBtn' type='button' value='提交'></input>

  <div class='result'></div>

{% endblock %}