{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'customwebbundle/faceDetectInit' %}
{% block content %}

<div id="tokenDomId" style="display: none">{{ csrf_token('site') }}</div>

<div class="modal fade in" id="face-detect-modal" data-backdrop="static">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a href="/logout" type="button" class="close" {# data-dismiss="modal" #} aria-label="Close"><span aria-hidden="true">×</span></a>
        <h4 class="modal-title">人脸识别</h4>
      </div>
      <div class="modal-body">
        <div class="clearfix pbm">
          <div class="pull-left ">
            <span class="left-part-title">人脸拍照<span id="flashInstall">(如果无任何提示, 且无法打开摄像头, 请<a href="https://get.adobe.com/flashplayer/?loc=cn"><b>点击安装flash</b></a>, <p>如果已安装, 请刷新页面)。</span></span>
          </div>
          <div class="pull-right templete-photo" style="width:400px;">
            <span class="left-part-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学员模板照片（初始注册时的采集照片）</span>
          </div>
        </div>
        <div class="html5Section"> 
          <div class="cameraContainer pull-left"></div>  
          <div class="pull-right text-center" style="width: 400px;height: 280px;" >
            <img src="{{faceImgPath}}" style="max-height: 100%;max-width: 100%" />
          </div>
        </div>

        <div class="flashSection" style="display: none">
          <div class="cameraContainer pull-left"></div>
          <div class="pull-right text-center" style="width: 400px;height: 280px;" >
            <img src="{{faceImgPath}}" style="max-height: 100%;max-width: 100%" />
          </div>
        </div>
        

        <div class="btnContainer finishSnap" style="display:none">
          <button class="cameraReSnapBtn">重新拍摄</button>
        </div>
      </div>
      <div class="modal-footer text-center snapBtnSection" style="display:none">
        <button class="cameraSnapBtn btn btn-primary">拍摄</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="detect-success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">识别结果</h4>
      </div>
      <div class="modal-body">
        <p>头像识别成功，正在跳转页面……</p>
      </div>
      {# <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div> #}
    </div>
  </div>
</div>

  <script type="text/javascript">
    /**
      * 上传摄像头照片后,执行的js方法
      */
    function afterImageUpload(result) {
      if (result == "true" || result == true) {
        $('#face-detect-modal').hide();
        $('#detect-success').modal('show');
        setTimeout(function(){
          if (typeof g_cookie.get("targetUrl") != "undefined") {
            location.href = g_cookie.get("targetUrl"); 
          } else {
            location.reload();
          }
        },2000);
      } else {
        alert("人脸识别失败, 需重新识别!");
        $(".cameraReSnapBtn").click();
      }
    }

    /*
     * 当显示摄像头录像时, 调用此方法
     */
    function afterInit() {
      $(".snapBtnSection").show();
      $("#flashInstall").hide();
    }

    function onUserForbidCamera() {
      alert("必须使用摄像头采集图片, 请点击允许!");
      location.href = location.href;
    }

    /*
     * flash异常时执行此方法
     */
    function onFlashErrorMsg(msg) {
      alert(msg);
    }

    function onFlashMsg(msg) {
    }
  </script>
{% endblock %}