{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'customwebbundle/webCameraInit' %}
{% block content %}

  <div id="tokenDomId" style="display: none">{{ csrf_token('site') }}</div>
  <div class="modal fade in" id="face-detect-modal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="/logout" type="button" class="close" {# data-dismiss="modal" #} aria-label="Close"><span aria-hidden="true">×</span></a>
          <h4 class="modal-title">人脸采集</h4>
        </div>
        <div class="modal-body">
          <div class="alert" role="alert">
              需要首先采集您的人脸信息（
              <a href="javascript:;" class="alert-link">人脸使用协议</a>），才能登录网校进行学习。
              <br>
              请确认是您本人操作，然后将脸对准框内，并保持光线充足。
              <span id="flashInstall"><br/>(如果无任何提示, 且无法打开摄像头, 请<a href="https://get.adobe.com/flashplayer/?loc=cn"><b>点击安装flash</b></a>, 如果已安装, 请刷新页面)</span>
          </div>
          <div class="html5Section"> 
            <div class="cameraContainer text-center"></div>  
          </div>

          <div class="flashSection" style="display: none;">
            <div class="cameraContainer text-center"></div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <div class="btnContainer snap text-center snapBtnSection" style="display: none;">
            <button class="cameraSnapBtn btn btn-primary">拍摄</button>
          </div>
          <div class="btnContainer finishSnap text-center" style="display:none">
            <button class="cameraReSnapBtn btn btn-primary">重新拍摄</button>
            <!--<a class="btn btn-success" href="javascript: void(0);" onclick="location.href='/my/courses/learning';">完成拍摄并访问网站</a>-->
            <button class="cameraPhotoFinishBtn btn btn-primary" data-url="{{ path('user_face_photo_finished', {id: user.id}) }}">完成拍摄并访问网站</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    /**
      *上传摄像头照片后,执行的js方法
      */
    function afterImageUpload(result) {
      if (typeof result != "undefined" && (result == "true" || result == true)) {
        $(".snap").hide();
        $(".finishSnap").show();
      } else {
        alert("人脸采集失败, 请重新采集");
        $(".cameraReSnapBtn").click();
      }
    }

    /*
     * 当显示摄像头录像时, 调用此方法
     */
    function afterInit() {
      //当显示重新拍摄按钮时, 不显示拍摄按钮
      if ($(".finishSnap:visible").length == 0) {
        $(".snapBtnSection").show();
        if ($(".finishSnap:visible").length != 0) {
          $(".snapBtnSection").hide();
        }
      }
      $("#flashInstall").hide();
    }

    function onUserForbidCamera() {
      alert("必须使用摄像头采集图片, 请点击允许!");
      location.href = location.href;
    }

    /*
     * flash异常时执行此方法
     */
    function onFlashErrorMsg(msg) {
      alert(msg);
    }

    function onFlashMsg(msg) {}
  </script>
{% endblock %}