{% extends 'CustomWebBundle:Course:Part/normal-header-layout.html.twig' %}

{% set layoutClass = 'after' %}

{% block before_content %}
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{'首页'|trans}}</a></li>
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ path('course_explore',{'category':breadcrumb.code}) }}">{{ breadcrumb.name }}</a></li>
    {% endfor %}
    <li class="active">{{ course.title }}</li>
  </ol>
{% endblock %}

{% block content %}
  {{ load_script('course/common') }}

{% if member.isAtLeastOneLessonFinished|default(false) %}
    <style>
    .course-detail-header .course-data > li{
        width: 48%;
    }
    </style>
{% endif %}
  <div class="course-header-top clearfix">

    {{ header_macro.picture(course) }}

    {{ header_macro.info(course, member, userVipStatus, certificationForGuest, certification, isLogin, certificationCourse,dateForGuest,isAdmin) }}

    <div class="course-operation">
      {{ header_macro.student_num(course) }}
      <ul class="course-data clearfix {% if not ( not member.fake|default(false) and member.role == 'student' and member.joinedType == 'course') %} two-col {% endif %}">
        {{ header_macro.favorite_btn(course, hasFavorited) }}
        {{ header_macro.share_btn(course) }}
        {% if not member.fake|default(false) and member.role == 'student' and member.joinedType == 'course' %}
            {% if not member.isAtLeastOneLessonFinished %}
            <li>
            {% if member.orderId %}
              {% if  not learnedHours %}
                {% if not certificationCourse.isRevoked %}

                  <a href="#modal" data-toggle="modal" data-url="{{ path('order_certification_refund', {id:course.id, targetType:'course'}) }}">
                    <p><i class="es-icon es-icon-exit"></i><p>
                    <p>{{'退出'|trans}}</p>
                  </a>
                {% endif %}
              {% endif %}
            {% else %}
              <a id="exit-course-learning" class="course-exit-btn" href="javascript:;" data-url="{{ path('course_exit', {id:course.id}) }}"  data-goto="{{ path('course_show', {id:course.id}) }}" {% if member.role != 'student' %} disabled {% endif %}>
                <p><i class="es-icon es-icon-exit"></i><p>
                <p>{{'退出'|trans}}</p>
              </a>
            {% endif %}
          </li>
        {% elseif member["joinedType"] == 'groupSell'%}
          <div class="last" href="javascript:;" data-toggle="tooltip" data-placement="top" title="组合购买课程不能退出">
          <a href="javascript:;"> <i class="hz-icon icon-exit"></i>退出</a>
          </div>
        {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="progress progress-sm">
    <div class="progress-bar" role="progressbar" style="width: {{ learnPercent }}" data-toggle="tooltip" data-placement="right" title="{{ learnPercent }}">
    </div>
  </div>
  <div class="course-header-bottom clearfix">
    <span class="pull-left">{{'完成学时：'|trans}} {{ learnedHours }}/{{ sumHours }}分钟</span>
    {% if isAdmin|default(false) %}
        <a class="btn btn-lg btn-primary" href="javascript:;">{{'继续学习'|trans}}</a>
         <span class="next-class hidden-xs">{{'下一课时：'|trans}}<a href="javascript:;">{{ nextLearnLesson.title|default('') }}</a></span>    
    {% elseif nextLearnLesson and certificationCourse.learnable  %}
      {% if certificationCourse.learningStatus|default('') == 'learning' or certificationCourse.learningStatus|default('') == 'makeup' or 
             certificationCourse.learningStatus|default('') == 'finished' %}
        <a class="btn btn-lg btn-primary" 
          {% if certificationCourse.isRevoked|default(0) == 1 %} 
          	disabled = "disabled"
          {% else %}
              href="javascript:;"
              onclick="$('.lesson-item-{{nextLearnLesson.id}}').find('.lessonLink').click();"
          {% endif %}
        >
          {% if nextLearnLesson.type == 'testpaper' %}
            {{'继续考试'|trans}}
          {% else %}
            {{'继续学习'|trans}}
          {% endif %}
        </a>
        <span class="next-class hidden-xs">{{'下一课时：'|trans}}
          <a 
            {% if certificationCourse.isRevoked|default(0) == 1 %} 
              disabled = "disabled" 
            {% else %}
              href="{{ path('course_certification_learn', {id:course.id}) }}#lesson/{{ nextLearnLesson.id }}"
            {% endif %}
           >{{ nextLearnLesson.title }}</a>
        </span>    
      {% endif %}
    {% elseif certificationCourse.learningStatus|default('') == 'finished' %}
      {% if isTestPassed %}
        <a class="btn btn-lg btn-primary" href="{{path('setting_approval_submit')}}">{{'点击实名认证结业'|trans}}</a>
      {% else %}
        <a class="btn btn-lg btn-primary" 
          {% if testpaperItem %}
            {% if certificationCourse.isRevoked|default(0) == 1 %} 
        	disabled = "disabled" 
            {% else %}
              href="{{ path('course_certification_learn', {id:course.id}) }}#lesson/{{testpaperItem.id}}"
            {% endif %}
            {{'继续考试'|trans}}
          {% endif %}>
        </a>
      {% endif %}
    {% elseif certificationCourse.learningStatus|default('') == 'completion' %}
      <a class="btn btn-lg btn-primary">{{'已结业'|trans}}</a>
    {% elseif certificationCourse.isTestPassed|default(false) and certificationCourse.isAllCoursesFinished|default(false)  %}
      <a class="btn btn-lg btn-primary" href="{{path('setting_approval_submit')}}">{{'点击实名认证结业'|trans}}</a>
    {% endif %}
  </div>

{% endblock %}


