{% if course.buyable|default(true) == false and userVipStatus != 'ok' %}
  {{'该课程为限制课程'|trans}}<br>{{'请联系客服'|trans}}
{% elseif certificationCourse.learnable|default('') or certificationCourse.buyable|default('') or not isLogin %}
  <a class="btn btn-primary btn-lg"
    {% if isLogin %}
      {% if course.status != 'published' or (course.maxStudentNum > 0 and course.studentNum >= course.maxStudentNum) or not certificationCourse.buyable|default(false) or isAdmin %}
        disabled="disabled"
        href="javacript:;"
      {% endif %}
    {% endif %}

    {% if setting("course.buy_fill_userinfo")|default(false) or (course.approval and app.user and app.user.approvalStatus != 'approved') or setting('user_partner.avatar_alert') %}
      href="#modal"
      data-toggle="modal"
      data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}"
    {% elseif userVipStatus == 'ok' %}
      id="vip-join-course" data-url="{{ path('course_become_use_member', {id:course.id}) }}"
    {% else %}
      href="{{ path('order_certification_show', {targetId:course.id, targetType:'course'}) }}"
    {% endif %}
  >
    {% if isLogin %}
      {% if userVipStatus == 'ok' %}
        {{'加入学习'|trans}}
      {% else %}
        {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
          {% if course.price > 0 and certificationCourse.learningStatus == 'unPaied' %}
            {{'购买课程'|trans}}
          {% elseif course.price > 0 and certificationCourse.learningStatus == 'overtimeMakeupYes' %}
            {{'补学购买'|trans}}
          {% else %}
            {{'加入学习'|trans}}
        {% endif %}
        {% else %}
          {% if course.price > 0 and certificationCourse.learningStatus|default('') == 'unPaied' %}
            {{'购买课程'|trans}}
          {% elseif course.price > 0 and certificationCourse.learningStatus|default('') == 'overtimeMakeupYes' %}
            {{'补学购买'|trans}}
          {% else %}
            {{'加入学习'|trans}}
        {% endif %}
        {% endif %}
      {% endif %}
    {% else %}
      {% if course.price > 0 %}{{'购买课程'|trans}}{% else %}{{'加入学习'|trans}}{% endif %}
    {% endif %}
  </a>
{% elseif isAdmin %}
  <a class="btn btn-primary btn-lg" href="javascript:;" disabled="disabled" >
    {% if course.price > 0 %}
      {{'购买课程'|trans}}
    {% else %}
      {{'加入学习'|trans}}
        {% endif %}  
  </a>
{% endif %}