{% import "CustomWebBundle::macro.html.twig" as web_macro %}
{% set learns = data('LatestStatuses', {count:5, mode:'simple', objectType: 'course', objectId: course.id}) %}

{% include "CustomWebBundle:Status:status-block.html.twig" %}