{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% import _self as header_macro %}

{% do load_script('customwebbundle/controller/course/common') %}


{% if member and not member.locked and ( certificationCourse.learningStatus|default('') == 'learning' or certificationCourse.learningStatus|default('') == 'makeup' or certificationCourse.learningStatus|default('') == 'finished' or certificationCourse.learningStatus|default('') == 'completion')%}
  {% include 'CustomWebBundle:Course:Part/normal-header-for-member.html.twig' %}
{% elseif member and isAdmin %}
  {% include 'CustomWebBundle:Course:Part/normal-header-for-member.html.twig' %}
{% elseif course.parentId|default(false) %}
  {% include 'CustomWebBundle:Course:Part/normal-header-for-guest.html.twig' with {source:"classroom"} %}
{% else %}

  {% include 'CustomWebBundle:Course:Part/normal-header-for-guest.html.twig' %}
{% endif %}

{% macro picture(course, previewLesson) %}
  <div class="course-img">
    {% if previewLesson %}
      <a href="#modal" data-toggle="modal" data-url="{{ path('course_lessons_preview', {courseId: course.id, lessonId:previewLesson.id }) }}" class="course-img-cover">
        <i class="es-icon es-icon-playcircleoutline"></i>
      </a>
    {% endif %}

    <img class="img-responsive" src="{{ filepath(course.largePicture, 'course.png') }}" alt="{{ course.title }}">
    <div class="tags">
      {% if course.serializeMode == 'serialize' %}
        <span class="tag-serialing"></span>
      {% elseif course.serializeMode == 'finished' %}
        <span class="tag-finished"></span>
      {% endif %}
      {% if course.type == 'live' %}
        <span class="tag-live"></span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro info(course, member, userVipStatus, certificationForGuest, certification, isLogin, certificationCourse,dateForGuest,isAdmin) %}
  {% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
  <div class="course-info">
    <h2 class="title">
      {{ course.title }}
      <span class="es-qrcode top" data-url="{{path('course_qrcode',{id: course.id})}}">
        <i class="es-icon es-icon-qrcode"></i>
        <span class="qrcode-popover">
          <img src="" alt="">
          {{'扫二维码继续学习'|trans}}
        </span>
      </span>
    </h2>
    <div class="subtitle">{{ course.subtitle }}</div>
    <div class="metas">
      <div class="score">
        {{ web_macro.star(course.rating) }}
        <span>({{ course.ratingNum }}{{'人'|trans}})</span>
      </div>
      {% if not isAdmin %}
        {% if member and certificationCourse%}
          {% if certificationCourse.learningStatus == 'learning' %}
            <p><i class="zh-icon zh-icon-qi"></i>
             {{ certificationCourse.startTime|default('') }}——{{ certificationCourse.deadline|default('') }}
            </p>
            <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
              {{certificationCourse.certificationName}}
            </p>
            <p>
              距离到期还有{{ certificationCourse.leftDays|default('') }}天
            </p>
          {% elseif  certificationCourse.learningStatus == 'overtimeMakeupYes' %}
            <p><i class="zh-icon zh-icon-qi"></i>
              {{ certificationCourse.startTime|default('') }}——{{ certificationCourse.deadline|default('') }}
            </p>
            <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
              {{certificationCourse.certificationName}}
            </p>
            <p><span style="color:red"class="zh-icon zh-icon-icon1"></span>
              请于{{certificationCourse.makeupDeadline|default('')}}前进行补学
            </p>
          {% elseif  certificationCourse.learningStatus == 'overtimeMakeupNo' %}
            <p><i class="zh-icon zh-icon-qi"></i>
              {{ certificationCourse.startTime|default(0) }}——{{ certificationCourse.deadline|default(0)}}
            </p>
            <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
              {{certificationCourse.certificationName}}
            </p>
            <p><span style="color:red"class="zh-icon zh-icon-icon1"></span>
              已到期，无法参加补学
            </p>
          {% elseif  certificationCourse.learningStatus == 'makeup' %}
            <p><i class="zh-icon zh-icon-qi"></i>
              {{ certificationCourse.startTime|default(0) }}——{{ certificationCourse.deadline|default(0)}}
            </p>
            <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
              {{certificationCourse.certificationName}}
            </p>
            <p><span style="color:red"class="zh-icon zh-icon-icon1"></span>
              将于{{certificationCourse.makeupDeadline|default('') }}停止补学
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离到期还有{{ certificationCourse.makeupLeftDays|default('') }}天
            </p>
          {% elseif  certificationCourse.learningStatus == 'finished' or certificationCourse.learningStatus == 'completion' %}
            <p><i class="zh-icon zh-icon-qi"></i>
              {{ certificationCourse.startTime|default(0) }}——{{ certificationCourse.deadline|default(0)}}
            </p>
            <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
              {{certificationCourse.certificationName}}
            </p>
          {% endif %}          
        {% endif %}

        {% if not member and isLogin and certificationCourse.leftDays|default(0) >= 0 %}
          <p class="discount-price">
          <label>{{'价格'|trans}}</label>
          {% include 'TopxiaWebBundle:Course:Widget/course-price.html.twig' with {shows: ['price', 'discount']} %}
          </p>
          <p><i class="zh-icon zh-icon-qi"></i>
           {{ certificationCourse.startTime|default(0) }}——{{ certificationCourse.deadline|default(0)}}
          </p>
          <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
            {{certificationCourse.certificationName}}
          </p>
          <p >
            距离到期还有{{ certificationCourse.leftDays|default(0) }}天
          </p>
        {% elseif not member and isLogin and certificationCourse.leftDays|default(0) < 0 and dateForGuest.makeupDeadline|default(0) > dateForGuest.nowTime %}
          <p><i class="discount-price"></i>
          <label>{{'价格'|trans}}</label>
          {% include 'TopxiaWebBundle:Course:Widget/course-price.html.twig' with {shows: ['price', 'discount']} %}
          </p>
          <p><i class="zh-icon zh-icon-qi"></i>
            {{ certificationCourse.startTime|default(0) }}——{{ certificationCourse.deadline|default(0)}}
          </p>
          <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
           {{certificationCourse.certificationName}}
          </p>
          <p><span style="color:red"class="zh-icon zh-icon-icon1"></span>
            请于{{certificationCourse.makeupDeadline|default('')}}前进行补学
          </p>
        {% elseif not member and isLogin and certificationCourse.leftDays < 0 and dateForGuest.makeupDeadline|default(0) < dateForGuest.nowTime %}
          <p><i class="zh-icon zh-icon-qi"></i>
            {{ certificationCourse.startTime|default(0) }}——{{ certificationCourse.deadline|default(0)}}
          </p>
          <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
           {{certificationCourse.certificationName}}
          </p>
          <p><span style="color:red"class="zh-icon zh-icon-icon1"></span>
              已到期，无法参加补学
          </p>
        {% elseif  not member and not isLogin %}
          <p class="discount-price">
          <label>{{'价格'|trans}}</label>
          {% include 'TopxiaWebBundle:Course:Widget/course-price.html.twig' with {shows: ['price', 'discount']} %}
          </p>
          <p><i class="zh-icon zh-icon-qi"></i>
           {{ certificationForGuest.learnModeName }}
          </p>
          <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
            {{certification.category}}
          </p>
        {% endif %}
      {% elseif isAdmin %}
        <p><i class="zh-icon zh-icon-qi"></i>
          {{ certificationForGuest.learnModeName }}
        </p>
        <p><i class="zh-icon zh-icon-rongyuzhengshu"></i>
          {{certification.category}}
        </p>
      {% endif %}
          {% if course.discountId > 0 %}
            <p class="old-price hidden-sm">
              <label>{{'原价'|trans}}</label>
              {% include 'TopxiaWebBundle:Course:Widget/course-price.html.twig' with {shows: ['originPrice']} %}
            </p>
            {% if course.discountObj|default(null) %}
              <p class="activity">
                <label>{{'活动'|trans}}</label>
                <span class="name">{{ course.discountObj.name }}</span>
                <span>
                  <i class="es-icon es-icon-accesstime"></i>
                  <span id="discount-endtime-countdown" class="text-muted" data-remaintime="{{ course.discountObj.endTime - 'now'|date('U') }}"
                  ></span>
                </span>
              </p>
            {% endif %}
        {% endif %}
    </div>

    {% if not member.fake|default(false) and member and member.role == 'student' and member.levelId > 0 and userVipStatus != 'ok' %}
      <div class="alert alert-danger">
        {% if userVipStatus == 'not_member' %}
          {{'您已经不是会员，不能学习此课程！'|trans}}
          {% if course.price > 0 %}
            {{'请重新'|trans}}<a class="btn-link" href="{{ path('vip') }}" target="_blank">{{'开通会员'|trans}}</a>
          {% else %}
            <a class="btn-link js-exit-course" data-url="{{ path('course_exit', { id:course.id }) }}" data-go="{{ path('course_show', { id:course.id }) }}">{{'返回课程首页'|trans}}</a>
          {% endif %}{{'！'|trans}}
        {% elseif userVipStatus == 'member_expired' %}
          {{'您的会员已过期，不能学习此课程，请先'|trans}}<a class="btn-link" href="{{ path('vip_renew') }}" target="_blank">{{'续费'|trans}}</a>{{'。'|trans}}
        {% elseif userVipStatus == 'level_low' %}
          {{'会员等级不够，不能学习此课程。请先'|trans}}<a class="btn-link" href="{{ path('vip_upgrade') }}" target="_blank">{{'升级会员'|trans}}</a>{{'。'|trans}}
        {% else %}
          {{'此课程已不支持会员免费学，'|trans}}<a class="btn-link js-exit-course" href="javascript:;" data-url="{{ path('course_exit', { id:course.id }) }}" data-go="{{ path('course_show', { id:course.id }) }}">{{'返回课程首页'|trans}}</a>
        {% endif %}
      </div>
    {% endif %}

  </div>
{% endmacro %}

{% macro student_num(course) %}
  <div class="student-num hidden-xs">
    {% if setting('course.show_student_num_enabled', '1') == 1  %}
      <i class="es-icon es-icon-people"></i>{{ course.studentNum }}{{'人'|trans}}
      {% if course.maxStudentNum > 0 %}
        {% if course.studentNum >= course.maxStudentNum %}
          <small class="hidden-sm text-sm">({{'名额已满'|trans}})</small>
        {% else %}
          <small class="hidden-sm text-sm">({{ course.maxStudentNum }}{{'名额'|trans}})</small>
        {% endif %}
      {% endif %}
    {% else %}
      <i class="es-icon es-icon-accesstime"></i>{{ course.lessonNum }}{{'课时'|trans}}
    {% endif %}
  </div>
{% endmacro %}

{% macro favorite_btn(course, hasFavorited) %}
  <li id="unfavorite-btn" data-url="{{ path('course_certification_unfavorite', {id:course.id}) }}" style="display:none;">
    <a href="javascript:;" class="color-primary">
      <p><i class="es-icon es-icon-bookmark"></i></p>
      <p>{{'已收藏'|trans}}</p>
    </a>
  </li>

  <li id="favorite-btn" data-url="{{ path('course_certification_favorite', {id:course.id}) }}" style="display:none;">
    <a href="javascript:;">
      <p><i class="es-icon es-icon-bookmarkoutline"></i></p>
      <p>{{'收藏'|trans}}</p>
    </a>
  </li>
{% endmacro %}

{% macro share_btn(course) %}
  <li>
    <span class="es-share top">
      <a class="dropdown-toggle" href="" data-toggle="dropdown">
        <p><i class="es-icon es-icon-share"></i></p>
        <p>{{'分享'|trans}}</p>
      </a>
      {% include 'TopxiaWebBundle:Common:share-dropdown.html.twig' with {type:'course'} %}
    </span>
  </li>
{% endmacro %}