{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}编辑{{area.name}}行政区{% endblock %}

{% block body %}

<form class="form-horizontal" id="area-edit-form" method="post" action="{{path('admin_area_edit',{id:area.id})}}">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="gender">人脸识别：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{radios('faceable',{'1':'开启'|trans,'0':'关闭'|trans},area.faceable|default(1) )}}
      </div>
    </div>
    <div class="col-md-9 col-md-offset-3">
      <p class="help-block">开启后，整个涉及人脸识别的模块都弹出人脸识别。</p>
    </div>
  </div>
  
  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="gender">实名认证：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{radios('isApproval',{'1':'开启'|trans,'0':'关闭'|trans},area.isApproval|default(0) )}}
      </div>
    </div>
    <div class="col-md-9 col-md-offset-3">
      <p class="help-block">开启后，只有实名认证的学员才能结业。</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="gender">考试人脸识别：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{radios('isTestpaperFaceable',{'1':'开启'|trans,'0':'关闭'|trans},area.isTestpaperFaceable|default(false) )}}
      </div>
    </div>
    <div class="col-md-9 col-md-offset-3">
      <p class="help-block">开启后，考试时需要人脸识别。</p>
    </div>
  </div>

  <div class="row form-group testpaperFaceableSection" style="{{area.isTestpaperFaceable|default(false) ? '' : 'display:none'}}">
    <div class="col-md-3 control-label">
      <label for="gender">最大拍摄数量：</label>
    </div>
    <div class="col-md-9 controls radios">
      <input type='text' id='maxSnapNum' name='maxSnapNum' class='form-control width-input' value='{{area.maxSnapNum}}' />(张)
      <p class="help-block">考试过程允许的最大拍摄数量(考试开始, 结束时会各拍一张, 但不计入这里设置的数量)</p>  
    </div>
  </div>

  <div class="row form-group testpaperFaceableSection" style="{{area.isTestpaperFaceable|default(false) ? '' : 'display:none'}}">
    <div class="col-md-3 control-label">
      <label for="gender">拍摄时间间隔：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        <input type='text' id='snapInterval' name='snapInterval' class='form-control width-input' value='{{area.snapInterval}}' />(秒) 
        <p class="help-block"></p>   
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label>课时互动：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{radios('isClassInteraction',{'1':'开启'|trans,'0':'关闭'|trans},area.isClassInteraction|default(0) )}}
      </div>
    </div>
    <div class="col-md-9 col-md-offset-3">
      <p class="help-block">开启后，将展示课时互动模块。</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label>关联分校：</label>
    </div>
    <div class="col-md-7 controls select">
      <select class="form-control" name="schoolId">
        {{select_options(schools,area.schoolId|default(0),{'0':'选择分校'})}}
      </select>
    </div>
  </div>
  {% include 'CustomAdminBundle:Area:area-model-list.html.twig' %}
</form>

{% endblock %}

{% block footer %}
  <button id="edit-area-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#area-edit-form">保存</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('customadminbundle/controller/area/area-edit')</script>
{% endblock %}