{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_area' %}

{% block main %}
<form class="form-inline well well-sm" action="" method="get"　novalidate>
  <div class="form-group">
    <input type="text" name="keyword" value="{{app.request.query.get('keyword')}}" class="form-control" placeholder="输入行政区域">
  </div>
  <button class="btn btn-primary">搜索</button>
</form>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-left">行政区域名称</th>
      <th class="text-left">人脸识别</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>
  <tbody>
    {%for area in areas %}
       {%include 'CustomAdminBundle:Area:area-table-tr.html.twig'%}
    {%endfor%}
  </tbody>
</table>

{{ web_macro.paginator(paginator) }}

{% endblock %}