{% for areaCertification in areaCertifications %}
{% set certification = certifications[areaCertification.certificationId] %}
<div class="area_certification">
  <input type="hidden" name="id" value="{{areaCertification.id}}"/>
  <div class="row form-group">
    <div class="col-md-3 control-label text-xlg">
      <strong>{{certification.category}}证书设置</strong>
    </div>
  </div>
  <div class="row form-group ">
    <div class="col-md-3 control-label">
      <label for="cycle{{certification.id}}">证书周期：</label>
    </div>
    <div class="col-md-9 controls radios">        
      <input class='form-control width-input left months' comparedId='learnMode{{certification.id}}' type='text' id='cycle{{certification.id}}' name='months' value='{{areaCertification.months}}'  minusBy-message='周期必须要能整除学制'/>月    
      <p class="help-block">证书周期范围1-120月</p>    
    </div>
  </div>
  <div class="row form-group ">
    <div class="col-md-3 control-label">
      <label for="learnMode{{certification.id}}">证书学制：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        <input class='form-control width-input months' comparedId='cycle{{certification.id}}' type='text' id='learnMode{{certification.id}}' name='learnModeMonths' value='{{areaCertification.learnModeMonths}}' minusBy-message='周期必须要能整除学制' />月
      </div>
    </div>
  </div>
  <div class="row form-group ">
    <div class="col-md-3 control-label">
      <label for="gender">是否补学：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{ radios('relearn_'~areaCertification.id, {'1':'是'|trans, '0':'否'|trans}, areaCertification.relearn|default(1) )}}
      </div>
    </div>
  </div>
  <div class="row form-group ">
    <div class="col-md-3 control-label">
      <label for="gender">是否闯关：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{ radios('sequentialLearning_'~areaCertification.id, {'1':'是'|trans, '0':'否'|trans}, areaCertification.sequentialLearning|default(1) )}}
      </div>
    </div>
  </div>
  <div class="row form-group ">
    <div class="col-md-3 control-label">
      <label for="gender">是否显示答案：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        {{ radios('showTestpaperAnswer_'~areaCertification.id, {'1':'是'|trans, '0':'否'|trans}, areaCertification.showTestpaperAnswer|default(0) )}}
      </div>
    </div>
  </div>
  <div class="row form-group ">
    <div class="col-md-3 control-label">
      <label for="maxLearningMinutes{{certification.id}}">每天学习限制：</label>
    </div>
    <div class="col-md-9 controls radios">
      <div>
        <input class='form-control width-input' type='text' id='maxLearningMinutes{{certification.id}}' name='maxLearningMinutes' value='{{areaCertification.maxLearningMinutes}}' />分钟
        <p class="help-block">每天学习限制1-1440分钟</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}