<tr id="area-table-tr-{{area.id}}">
  <td class="text-left">{{area.name}}</td>
  <td class="text-left">{%if area.faceable%}开启{%else%}关闭{%endif%}</td>
  <td class="text-center">
      <a href="#modal" data-toggle="modal" data-url="{{path('admin_area_edit',{id:area.id})}}" class="btn btn-default btn-sm">编辑</a>
  </td>
</tr>