{% import 'CustomWebBundle::macro.html.twig' as web_macro %}
{% set article = data('Article', {id:data.post.targetId})%}
{{ web_macro.user_link_at(data.user) }} 在资讯 <a href="{{ path('article_post_jump', {articleId:data.post.targetId, postId:data.id}) }}" target="_blank">{{ article.title }}</a> 的回复中提到了你。
<blockquote>
  {{ data.content }}
</blockquote>