{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_mobile_version_setting_ios' %}

{% block main %}


{{ web_macro.flash_messages() }}

  <form class="form-horizontal" id="mobile-version-form" method="post">
    
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="minVersion">最低版本号</label>
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="minVersion" name="minVersion" class="form-control" value="{{fileContent.minVersion|default(null)}}">
      </div>
    </div>

    <div class="form-group" style="display:none">
      <div class="col-md-2 control-label">
        <label for="maxVersion">最高版本号</label> 
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="maxVersion" name="maxVersion" class="form-control" value="{{fileContent.maxVersion|default(null)}}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="appUrl">APP路径</label> 
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="appPath" name="appPath" class="form-control" value="{{fileContent.appPath|default(null)}}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="currentVersion">当前版本号</label> 
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="currentVersion" name="currentVersion" class="form-control" value="{{fileContent.currentVersion|default(fileContent.androidVersion|default(null))}}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="updateInfo">更新内容</label> 
      </div>
      <div class="col-md-8 controls">
        <textarea id="updateInfo" name="updateInfo" class="form-control" rows="5">{{fileContent.updateInfo|default(null)}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label"></div>
      <div class="controls col-md-8">
        <button type="submit" class="btn btn-primary">提交</button>  
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>

{% endblock %}