{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set lesson = lesson|default(null) %}
{% set modal_class= "modal-lg" %}

{% block title %}
  {% if lesson %}{{'编辑试卷课时'|trans}}{{ lesson.number }}{% else %}{{'添加试卷课时'|trans}}{% endif %}
{% endblock %}

{% block body %}
  {% if paperOptions %}
    <form id="course-lesson-form" class="form-horizontal lesson-form" method="post"  {% if parentId is defined%}data-parentId="{{parentId}}" {% endif %}
      {% if lesson %}
        action="{{ path('course_manage_lesson_edit_testpaper', {courseId:course.id, lessonId:lesson.id}) }}"
      {% else %}
        action="{{ path('course_manage_lesson_create_testpaper', {id:course.id}) }}"
      {% endif %}
      >

      <div class="form-group">
        <div class="col-md-2 control-label"><label for="lesson-mediaId-field">{{'试卷'|trans}}</label></div>
        <div class="col-md-9 controls">
          <select id="lesson-mediaId-field" class="form-control" name="mediaId" data-url="{{ path('course_manage_real_time_testpaper_check') }}" data-get-testpaper-items="{{ path('course_manage_testpaper_items_get',{courseId:course.id}) }}">
            {{select_options(paperOptions, lesson.mediaId|default(0), '请选择试卷'|trans)}}
          </select>
          <div class="help-block">{{'如果找不到试卷，请先确定该试卷已经发布'|trans}}</div>
        </div>
      </div>

      <div class="form-group" id="questionItemShowDiv" style="display:none;">
        <div class="col-md-2 control-label"></div>
        <div class="col-md-9 controls" id="questionItemShowTable">

        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 control-label"><label for="lesson-title-field">{{'标题'|trans}}</label></div>
        <div class="col-md-9 controls">
          <input id="lesson-title-field" class="form-control" type="text" name="title" value="{{ lesson.title|default('') }}">
        </div>
      </div>
      {#
      <div class="form-group">
        <div class="col-md-2 control-label"><label for="lesson-is-real-time-field">实时考试</label></div>
        <div class="col-md-9 controls radios">
          {{ radios('testMode', {'normal':'关闭', 'realTime':'开启'}, lesson.testMode|default('normal')) }}
          <input type="hidden" id="real-time-testpaper" value="{{ lesson.testMode|default('normal') }}">
        </div>
      </div>

      <div class="form-group " id="testpaper-start-time-div" style="display: none">
        <div class="col-md-2 control-label">
          <label>开始时间</label>
        </div>
        <div class="col-md-9 controls">
          <input id="lesson-testpaper-start-time-field" class="form-control" type="text" name="testStartTime" value="{% if lesson.testStartTime|default(null) %} {{ lesson.testStartTime|date('Y-m-d H:i') }}{% endif %}">
        </div>
      </div>
      #}

      {% if 'lesson_credit' in features %}
      <div class="form-group">
        <div class="col-md-2 control-label"><label for="lesson-title-field">{{'限制学分'|trans}}</label></div>
        <div class="col-md-9 controls">
          <input class="form-control width-input width-input-small" type="text" name="requireCredit" value="{{ lesson.requireCredit|default(0) }}"> {{'分'|trans}}
          <div class="help-block">{{'参加此次考试所需的学分，０分则不限制。'|trans}}</div>
        </div>
      </div>
      {% endif %}

      <div class="form-group">
        <div class="col-md-2 control-label"><label for="lesson-suggest-hour-field">{{'学习时长'|trans}}</label></div>
        <div class="col-md-9 controls">{{'建议'|trans}}
          <input id="lesson-suggest-hour-field" class="form-control width-input width-input-small" type="text" name="suggestHours" value="{{ lesson.suggestHours|default('0.0') }}"> {{'分钟'|trans}}
          <div class="help-block" style="display:none">{{'（如未设置，则默认完成时长为：客观题每题5分钟、主观题每题30分钟。合计取整）'|trans}}
          </div>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
    <script>app.load('customwebbundle/controller/course-manage/lesson-testpaper-modal')</script>

  {% else %}
    <div class="empty">尚未创建试卷，请先<a href="{% if course.type == 'certification' %}{{ path('course_certification_manage_testpaper', {courseId:course.id}) }}{% else %}{{ path('course_manage_testpaper', {courseId:course.id}) }}{% endif %}">创建试卷</a>。</div>
  {% endif %}

{% endblock %}

{% block footer %}
  {% if paperOptions %}
    <button type="button" class="btn btn-link" data-dismiss="modal">{{'取消'|trans}}</button>
    <button id="course-testpaper-btn" data-submiting-text="{{'正在提交'|trans}}" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#course-lesson-form">{{'保存'|trans}}</button>
  {% else %}
    <button type="button" class="btn btn-link" data-dismiss="modal">{{'取消'|trans}}</button>
    {% endif %}
{% endblock %}
