<label class="col-md-2 control-label">课时部分</label>
<div class="col-md-8 controls radios">
{# 	{% if learnMode == 0 %}
		{{radios('partIndex',{'0':'第一部分'|trans,'1':'第二部分'|trans},partIndex|default(0))}}
	{% else %}
		{{radios('partIndex',{'0':'第一部分'|trans,'1':'第二部分'|trans,'2':'第三部分'|trans,'3':'第四部分'|trans},partIndex|default(0))}}
	{% endif %} #}
	{% for count in 0..courseCount-1 %}
		<label>
			<input type="radio" name="partIndex" value="{{count}}" {% if partIndex|default(0) == count %}checked="checked"{% endif %}> 第{{count+1}}部分
		</label>
	{% endfor %}
</div>

