{% extends 'CustomWebBundle:CourseManage:layout_certification.html.twig' %}

{% block title %}{{'价格设置'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'price' %}
{% set script_controller = 'course-manage/price' %}
{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">{{'价格设置'|trans}}</div>
  <div class="panel-body">
    {{ web_macro.flash_messages() }}

    {% set currency = (setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin') ? 'coin' : 'default' %}
    {% set coinRate = setting('coin.cash_rate', 1) %}

    {% if canModifyPrice %}
      <form class="form-horizontal" id="price-form" method="post" action="{{path('course_certification_manage_price',{id:course.id})}}" data-cashrate="{{setting('coin.cash_rate', 1)}}">
        {% if currency == 'coin' %}
          <div class="form-group">
            <label class="col-md-2 control-label">{{'价格'|trans}}</label>
            <div class="col-md-8 controls">
              <input type="text" name="price" class="form-control course-current-price" value="{{course.price}}">
              {% if discount %}
                <div class="alert alert-warning">
                  <small>当前课程正处于「{{ discount.name }}」打折活动中。
                  折扣： <strong>{{ course.discount }} 折</strong>，
                  折后价：<strong> <span class="course-discount-price" data-discount="{{ course.discount }}">{{ course.price * setting('coin.cash_rate')}}</span> {{setting('coin.coin_name')}}</strong>。</small>
                </div>
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="form-group">
            <label class="col-md-2 control-label">{{'价格'|trans}}</label>
            <div class="col-md-8 controls">
              <input type="text" name="price" class="form-control course-current-price" value="{{course.originPrice}}">
              <div class="help-block">
              </div>
              {% if discount %}
                <div class="alert alert-warning">
                  当前课程正处于「{{ discount.name }}」打折活动中。<br>
                  折扣： <strong>{{ course.discount }} 折</strong>，
                  折后价：<strong><span class="course-discount-price" data-discount="{{ course.discount }}">{{ course.price }}</span> 元</strong>。
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if is_plugin_installed('Vip') and setting('vip.enabled') %}
          <div class="form-group">
            <label class="col-md-2 control-label">{{'会员课程设置'|trans}}</label>
            <div class="col-md-8 controls">
              <select name="vipLevelId" class="form-control width-input width-input-large">
                {{ select_options(levels, course.vipLevelId, '无'|trans) }}
              </select>
              <div class="help-block">{{'设置会员课程后，该会员及更高等级会员，可免费学习。'|trans}}</div>
            </div>
          </div>
        {% endif %}

        {% if setting('storage.upload_mode') == 'cloud' %}
        <div class="form-group">
            <label class="col-md-2 control-label">{{'开启视频试看'|trans}}</label>
            <div class="col-md-8 controls radios">
              {{ radios('tryLookable', {1:'是'|trans, 0:'否'|trans}, course.tryLookable|default(0)) }}
              <div class="help-block">{{'视频试看功能仅云视频支持'|trans}}</div>
            </div>
        </div>

        <div class="form-group {% if course.tryLookable|default(0) !=1 %}hide{% endif %}" id = "tryLookTimeGroup">
            <label class="col-md-2 control-label">{{'试看时长'|trans}}</label>
            <div class="col-md-8 controls">
               <select name="tryLookTime" class='form-control width-input width-input-large'>
                {% for minute in 1..10 %}
                  <option value="{{ minute }}" {% if minute == course.tryLookTime %}selected{% endif %}>{{minute}}{{'分钟'|trans}}</option>
                {% endfor %}
               </select>
              <div class="help-block"></div>
            </div>
        </div>
        {% endif %}

        <div class="form-group">
          <div class="col-md-offset-2 col-md-8 controls">
            <button class="btn btn-fat btn-primary" id="price-save-btn" type="submit">{{'保存'|trans}}</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          </div>
        </div>

      </form>
    {% else %}
      <div class="alert alert-danger">{{'抱歉，您无权设置课程价格，如有需要请联系网站管理员！'|trans}}</div>
    {% endif %}

  </div>
</div>
{% endblock %}