.analysis-item{
  margin-bottom: 20px;
}
.analysis-list .analysis-content{
  border-radius: 6px;
  color: #fff;
}
.analysis-list a:hover{
  text-decoration: none;
}
.analysis-list .metas{
  font-size: 12px;
  line-height: 28px;
  padding: 0 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.analysis-list i{
  padding-top: 7px;
}
.analysis-list .nums{
  text-align: right;
  padding-right: 10px;
}
.analysis-list p{
  font-size: 12px;
}
.analysis-list .nums span{
  font-size: 24px;
}
.analysis-list .analysis-content{
  border:2px solid #fff;
}
.analysis-list .list-1{
  background: #3f97d6;
}
.analysis-list.active .list-1{
  border:2px solid blue;
}
.analysis-list .list-1 .metas{
  background: #3192d7;
}
.analysis-list .list-2{
  background: #db6466;
}
.analysis-list.active .list-2{
  border:2px solid red;
}
.analysis-list .list-2 .metas{
  background: #e44e4f;
}

.analysis-list .list-3{
  background: #4bb6ae;
}
.analysis-list.active .list-3{
  border:2px solid green;
}
.analysis-list .list-3 .metas{
  background: #46aba5;
}

.analysis-list .list-4{
  background: #8876a6;
}
.analysis-list .list-4 .metas{
  background: #7e6e9f;
}
.analysis-item-radius .analysis-content{
  border-radius: 30px;
}
.analysis-item-radius .analysis-list .metas{
  padding: 0 15px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.analysis-item-radius .analysis-list .nums{
  padding-right: 20px;
}