.buy-info-header {
  height: 60px;
  background-color: #0F1012;
  a {
    color: #fff;
    line-height: 60px;
  }
  .buy-header-title {
    font-size: 20px;
    color: #fff;
    margin-right: -44px;
    position: absolute;
    top: 16px;
    right: 50%;
  }
}
#award-form {
  margin-top: 15px;
  font-size: 15px;
  .active-group {
    background-color: #fff;
    list-style-type: none;
    padding-left: 15px;
    li {
      border-bottom: 1px solid #e5e5e5;
      &:last-child {
        border-bottom: none;
      }
      input {
        padding: 12px 0;
        border: none;
        width: 70%;
        &:focus {
          outline-width:0;
        }
      }
    }
    .choose-area {
      margin-right: 15px;
      position: relative;
      >span {
        position: absolute;
        top: 12px;
      }
      >select {
        padding-left: 80px;
        background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
        height: 45px;
        border: none;
        margin-bottom: 0;
        appearance:none;
        -moz-appearance:none搜索; /* Firefox */
        -webkit-appearance:none; /* Safari 和 Chrome */
      }
    }
  }
}
.award-btn {
  color: #fff;
  width: 90%;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #1AAE18;
}

.bg-buy-success {
  background-color: #fff;
  min-height: 700px;
  .success-done-top {
    padding-top: 60px;
    padding-bottom: 30px;
    .success-done-icon {
      position: relative;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #1AAE18;
      .success-icon {
        font-size: 90px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -45px;
        margin-top: -45px;
      }
    }
  }
  .success-done-body {
    .spend-font {
      font-size: 28px;
      color: #000;
    }
    .rest-font {
      font-size: 20px;
      margin-bottom: 40px;
    }
    .award-btn {
      margin-top: 0;
      border-radius: 10px;
      font-size: 18px;
    }
    .bgc-gray {
      background-color: #f8f8f8;
      color: #000;
      border: 1px solid rgba(5,5,5,0.10);
    }
  } 
}

.order-info-page {
  color: #919191;
  margin: 20px 0;
  background-color: #fff;
  .active-group {
    font-size: 20px;
    padding: 0 20px;
    margin-bottom: 0;
    list-style-type: none;
    .add-border {
      border-bottom: 1px solid #e5e5e5;
    }
    .money-size {
      float: right;
      color: #313131;
      line-height: 30px;
      font-size: 30px;
    }
  }
}
