{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'个人设置'|trans}} - {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    {% block side %}
   {#   <div class="sidenav">
        <ul class="list-group">
          <li class="list-group-heading">{{'个人设置'|trans}}</li>
          {% set side_nav = side_nav|default(null) %}

        <li class="list-group-item {% if side_nav == 'profile' %}active{% endif %}">
            <a href="{{ path('settings') }}"><i class="glyphicon glyphicon-user"></i> {{'基础信息'|trans}}</a>
          </li>
     <li class="list-group-item {% if side_nav == 'avatar' %}active{% endif %}">
            <a href="{{ path('settings_avatar') }}"><i class="glyphicon glyphicon-picture"></i> {{'头像设置'|trans}}</a>
          </li>  

       <li class="list-group-item {% if side_nav == 'security' %}active{% endif %}">
            <a href="{{ path('settings_security') }}"><i class="glyphicon glyphicon-lock"></i> {{'安全设置'|trans}}</a>
          </li>  


          <li class="list-group-item {% if side_nav == 'password' %}active{% endif %}">
            <a href="{{ path('settings_password') }}"><i class="glyphicon glyphicon-lock"></i> 登录密码修改</a>
          </li>

         {# <li class="list-group-item {% if side_nav == 'email' %}active{% endif %}">
            <a href="{{ path('settings_email') }}"><i class="glyphicon glyphicon-envelope"></i> {{'邮箱设置'|trans}}</a>
          </li>  #}
          
          {% if is_plugin_installed('TeacherAudit') %}   
          <li class="list-group-item {% if side_nav == 'teacheraudit' %}active{% endif %}">
            <a href="{{ path('teacher_audit_submit') }}"><i class="glyphicon glyphicon-bookmark"></i> 教师资格申请</a>
          </li>
          {% endif %}
          
          {% if setting('login_bind', []).enabled|default(false) %}
            <li class="list-group-item {% if side_nav == 'binds' %}active{% endif %}" >
              <a href="{{ path('settings_binds') }}"><i class="glyphicon glyphicon-circle-arrow-right"></i> {{'第三方登录'|trans}}</a>
            </li>
          {% endif %}

        </ul>
      </div>
    {% endblock %}

    <div class=" {% if is_plugin_installed('TeacherAudit') or setting('login_bind', []).enabled|default(false) %}   col-md-9 {% else %}   col-md-12 {% endif %} ">
    {% block main %}{% endblock %}
  </div>
</div>
{% endblock %}