{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'注册'|trans}} - {{ parent() }}{% endblock %}
{% set script_controller = 'customwebbundle/controller/auth/register' %}

{% set parameter = get_parameters_from_url(app.request.uri) %}
{% block content %}

<div class="es-section login-section">
  <div class="logon-tab clearfix">
    <a href="{{ path('login', {goto:_target_path}) }}">{{'登录帐号'|trans}}</a>
    <a class="active">{{'注册帐号'|trans}}</a>
  </div>
  <div class="login-main">
    {% if isRegisterEnabled %}
      <form id="register-form" method="post" action="/register" class="manage-form">
        {{ web_macro.flash_messages() }}

        <div class="form-group mbl">
          <label class="control-label required" for="register_idcard">{{'身份证号'|trans}}</label>
          <div class="controls">
             <input type="text" id="register_idcard" name="idcard" required="required" class="form-control input-lg" data-url="{{path('register_idcard_check')}}" placeholder="{{'请填写本人身份证号'|trans}}">
             <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group mbl form-group-btn">
            <label class="control-label required" for="register_mobile">{{'手机号'|trans}}</label>
            <div class="controls">
              <input type="text" id="register_mobile" name="verifiedMobile" required="required" class="form-control input-lg" data-url="{{path('register_mobile_check')}}" placeholder="{{'请输入手机号'|trans}}">
              <p class="help-block"></p>
            </div>
            <div id="smsSendBtn" class="input-group-addon smsSendBtn"></div>
        </div>

        <div class="form-group mbl">
            <label class="control-label required" for="register_password">{{'初始密码'|trans}}</label>
            <div class="controls">
              <input type="password" id="register_password" name="password" required="required" class="form-control input-lg" placeholder="{{'请输入初始密码'|trans}}"
              data-url="{{path('register_password_check')}}" data-paramFieldIds="register_idcard" data-less-field-error="请输入身份证号"
              >
              <p class="help-block"></p>
            </div>
        </div>

        <div class="form-group mbl area-code-select" style='display:none'>
            <label class="control-label" for="login_areacode">{{'行政区域'|trans}}</label>
            <div class="controls">
                <select id="login_areacode" name="areaCode" class="form-control input-lg"></select>
            </div>
        </div>

        {% if (setting('auth.captcha_enabled')|default(0)) == 1 and setting('auth.register_mode') != 'mobile' %}
          <div class="form-group mbl js-captcha">
            <label class="control-label required" for="captcha_code">{{'验证码'|trans}}</label>
            <div class="controls row">
              <div class = "col-xs-7">
                <input type="text" class="form-control input-lg" id="captcha_code" name="captcha_code" maxlength="5" placeholder="{{'验证码'|trans}}" required="required"  data-url="{{path('register_captcha_check')}}" >
              </div>
              <div class="col-xs-5">
                <img src="{{ path('register_captcha_num') }}" data-url="{{ path('register_captcha_num') }}" id="getcode_num" title="{{'看不清，点击换一张'|trans}}" style="cursor:pointer;height:40px;width:100%">
              </div>
              <div class="col-md-12 help-block"></div>
            </div>
          </div>
        {% endif %}
 
        {% if setting('auth.user_terms') == 'opened' %}
          <div class="form-group mbl">
            <div class="controls">
              <label>
                <input type="checkbox" id="user_terms"> 我已阅读并同意<a href="{{ path('user_terms') }}" target="_blank">《服务协议》</a>
              </label>
            </div>
          </div>
        {% endif %}

        <div class="form-group mbl">
          <div class="controls">
            <button type="submit" id="register-btn" data-submiting-text="{{'正在提交'|trans}}" class="btn btn-primary btn-lg btn-block">{{'注册'|trans}}</button>
          </div>
        </div>

        <input type="hidden" name="captcha_enabled" value="{{ setting('auth.captcha_enabled') }}" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        {% if app.request.get('inviteCode', '') %}
        <input type="hidden" name="invite_code" value="{{ app.request.get('inviteCode', '')}}">
        {% endif %}

      </form>

      {% if setting('login_bind.enabled') %}
        <div class="social-login">
          <span>
            {{ render(controller('TopxiaWebBundle:Login:oauth2LoginsBlock', {targetPath:_target_path})) }}
          </span>
          <div class="line"></div>
        </div>
      {% endif %}
    {% else %}
      <div class="empty">{{'系统暂时关闭注册，请联系管理员'|trans}}</div>
    {% endif %}
  </div>
</div>
  {% if setting('login_bind.weixinmob_enabled') == '1' %}
    {% do load_script('auth/isWeiXin') %}
  {% endif %}
{% endblock %}