{% set learnStatuses = learnStatuses|default([]) %}
{% set previewUrl = previewUrl|default(null) %}

{% if items %}
  <ul class="period-list" id="course-item-list">
  {% for id, item in items  %}
    {% if 'chapter' in id  %}
      {% include 'CustomWebBundle:CourseLesson/Part:chapter.html.twig' %}
    {% elseif 'lesson' in id %}
      {% include 'CustomWebBundle:CourseLesson/Part:lesson.html.twig'%}
    {# 
      {% elseif  item.type == 'testpaper'  %}
        {% include 'TopxiaWebBundle:CourseLesson/Part:TestPaper.html.twig' %}
    #}
    {% endif %}
  {% endfor %}
{% endif %}