{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'customwebbundle/controller/helper/helper' %}
{% block content %}

  <div>
    <div>日期转数字(格式为 2012-02-01)</div>
    <div>
      <input type='text' id='dateStr'></input> 
      <span>--> 生成的数字: </span>
      <span id="formatedDateNum"></span>
    </div>

    <div>数字转日期(格式如 1462692868)</div>
    <div>
      <input type='text' id='dateNum'></input> 
      <span>--> 生成的日期: </span>
      <span id="formatedDateStr"></span>
    </div>
  
    <div><input type="button" id="transforBtn" value="转化"></input></div>
  </div>

  <br/><br/>

  <div>
    <div>修改证书颁发时间(方式1)</div>
    <div>
      <span>时间(格式如 2012-02-01 02:03:09)</span>
      <span>
        <input type="text" name="awardTime"/>
      </span>
    </div>
    <div>
      <span>学员手机号</span>
      <span>
        <input type="text" name="mobile"/>
      </span>
    </div> 
    <div>
      <span>学员证书名称</span>
      <span>
        <input type="text" name="certificationName"/>
      </span>
    </div>

    <div>
      <input type="button" id="updateUserCertificationAwardTime" value="修改证书颁发时间"></input>
    </div>
  </div>

  <br/>
  <div>
    <div>修改证书颁发时间(方式2) -- 批量修改</div>
    <div>
      <span>学员身份证</span>
      <span>
        <input type="text" name="idCard"/>
      </span>
    </div> 

    <div>
      <span>时间(格式如 2012-02-01 02:03:09)</span>
      <span>
        <br/><input type="text" name="awardTimes"/>
        <br/><input type="text" name="awardTimes"/>
        <br/><input type="text" name="awardTimes"/>
        <br/><input type="text" name="awardTimes"/>
        <br/><input type="text" name="awardTimes"/>
        <br/><input type="text" name="awardTimes"/>
      </span>
    </div>

    <div>
      <input type="button" id="batchUpdateUserCertificationAwardTime" value="修改证书颁发时间"></input>
    </div>
  </div>

  <br/><br/>

  <div>
    <div>今日已学习时间清零</div>
    <div>
      <span>学员手机号</span>
      <span>
        <input type="text" name="clearUserMobile"/>
      </span>
    </div>

    <div>
      <input type="button" id="clearSingleUserLearnTime" value="清零"></input>
    </div>
  </div>

    </br>
    </br>

    
    <div>
      <div>
        <span>吊销证书用户证书</span>
        </br>
        <span>输入用户Id</span>
        <span>
          </br>
          <input type="text" name="userId">
        </span>
      </div>
      <div>
        </br>
        <span>输入证书名称</span>
        <span>
          <br/><input type="text" name="revokeCertificationName">
        </span>
      </div>
      <div>
        </br>
        <span>输入颁发时间(格式如 2012-02-01 重新颁发证书时使用)</span>
        <span>
          <br/><input type="text" name="reAwardTimeStr">
        </span>
      </div>
    </div>
    </br>
    <div>
      <input type="button" id="revokeCertification" value="吊销证书"></input>
      <input type="button" id="reAwardCertification" value="重新颁发证书"></input>
    </div>
  </div>

  <br/><br/>
  <div>
     <input type="button" id="generateIdCard" value="随机生成10个身份证"></input>
     <div class="genreatedIdCards"></div>
  </div>

  <br/><br/>
  <div>
    <div>
      <span>学员手机</span>
      <span>
        <input type="text" id="completeMobile"/>
      </span>
    </div>

    <div>
      <span>课程id</span>
      <span>
        <input type="text" id="completeCourseId"/>
      </span>
    </div>

    <div>
      <span>第几次循环</span>
      <span>
        <input type="text" id="completeCurrentLoopTime"/>
      </span>
    </div>
    <input type="button" id="completeAsOfflineCourse" value="变为线下完结课程"></input>
    <input type="button" id="removeOfflineCompletion" value="去除线下完结"></input>
  </div>

  <br/><br/>
  <div style="display:none">
     <div>
      {% if isSyncDataTestOn %}
        <span>数据同步切换为正式版本</span>
        <span>
          <input type="button" id="toReleaseVesion"/>
        </span>
      {% else %}
        <span>数据同步切换为测试版本</span>
        <span>
          <input type="button" id="toTestVesion"/>
        </span>
      {% endif %}
    </div>
  </div>

  <br/><br/>
  <div style="display:none">
     <div>
      <span>生成用户证书课程(不考虑是否购买课程)</span>
      <span>
        <input type="button" id="generateUserCertCoursesBtn"/>
      </span>
      <span class="generateUserCertCoursesProgress"></span>
    </div>
  </div>

  <br/><br/>
  <div style="display:none">
     <div>
      <span>生成视频学习的人脸记录</span>
      <div>
        <span>学员id</span>
        <span>
          <input type="text" id="faceDetectUserId"/>
        </span>
      </div>
      <div>
        <span>课时id</span>
        <span>
          <input type="text" id="faceDetectLessonId"/>
        </span>
      </div>
      <div>
        <span>第几次循环</span>
        <span>
          <input type="text" id="faceDetectCurrentLoopTime"/>
        </span>
      </div>
      <span>
        <input type="button" id="generateVideoFaceDetect" value="生成丢失的照片"/>
      </span>
    </div>
  </div>
{% endblock %}